/* This is done to preload images and reduce load flicker */
body::after {
  backface-visibility: visible;
  content: url("/magick-flows/jb-test-run-nto/main/0000___marketing-cloud-dashboard___DATA=has-sticky-header__use-slide-transition__slide-transition_auto-advance__slide-transition-timing--slow___NOTES=menu-auto-shows.svg") url("/magick-flows/jb-test-run-nto/main/0001___marketing-cloud-dashboard___DATA=has-sticky-header__use-slide-transition__slide-transition_auto-advance__slide-transition-timing--normal___NOTES=menu-fake-hover.svg") url("/magick-flows/jb-test-run-nto/main/0002___marketing-cloud-dashboard___DATA=has-sticky-header___NOTES=menu-fully-showing-now.svg") url("/magick-flows/jb-test-run-nto/main/0010___ID=journey-canvas-with-simple-journey.svg") url("/magick-flows/jb-test-run-nto/main/0020___ID=review-journey-analytics___DATA=has-sticky-header__show-drawer-from-left.svg") url("/magick-flows/jb-test-run-nto/main/0030___ID=journey-canvas-with-simple-journey.svg") url("/magick-flows/jb-test-run-nto/main/0040___ID=review-email-analytics___DATA=show-drawer-from-left.svg") url("/magick-flows/jb-test-run-nto/main/0041___ID=review-email-analytics-details___DATA=show-drawer-from-left.svg") url("/magick-flows/jb-test-run-nto/main/0042___ID=review-email-analytics___DATA=show-drawer-from-left.svg") url("/magick-flows/jb-test-run-nto/main/0045___ID=editable-journey-canvas.svg") url("/magick-flows/jb-test-run-nto/main/0046___ID=update-header-default-journey-navigation___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0047___ID=update-header-default-journey-navigation___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0048___ID=update-header-default-journey-navigation___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0049___ID=update-header-default-journey-navigation___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0050___ID=update-header-default-journey-navigation.svg") url("/magick-flows/jb-test-run-nto/main/0052___ID=open-builder-drawer.svg") url("/magick-flows/jb-test-run-nto/main/0053___ID=message-is-being-dragged___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0054___ID=message-is-being-dragged___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0055___ID=message-is-being-dragged___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0056___ID=message-is-being-dragged___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0057___ID=message-is-being-dragged___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0058___ID=message-is-being-dragged___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0059___ID=message-is-being-dragged___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0060___ID=message-is-dropped___DATA=use-slide-transition__slide-transition_auto-advance__slide-transition-timing--fast.svg") url("/magick-flows/jb-test-run-nto/main/0070___ID=smsa-builder-drawer-opens.svg") url("/magick-flows/jb-test-run-nto/main/0071___ID=smsa-editor-slides-out.svg") url("/magick-flows/jb-test-run-nto/main/0075___ID=add-smsa-message.svg") url("/magick-flows/jb-test-run-nto/main/0080___ID=return-to-smsa-activity.svg") url("/magick-flows/jb-test-run-nto/assets/builder-drawer-opens___drawer-from-left.svg") url("/magick-flows/jb-test-run-nto/assets/marketing-cloud-dashboard___sticky-header.svg") url("/magick-flows/jb-test-run-nto/assets/review-email-analytics___drawer-from-left.svg") url("/magick-flows/jb-test-run-nto/assets/review-email-analytics-details___drawer-from-left.svg") url("/magick-flows/jb-test-run-nto/assets/review-journey-analytics___drawer-from-left.svg") url("/magick-flows/jb-test-run-nto/assets/review-journey-analytics___sticky-header.svg");
  outline: 1px solid red;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent tap highlight color / shadow */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
}

body {
  background: white;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body, .container {
  background: url("/images/home-background.jpg") no-repeat top left;
  background-size: 100% 100%;
  height: 720px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1280px;
}

.ios-notification {
  margin: 0 auto;
  position: absolute;
  transition: 250ms top ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: -720px;
  transition: 250ms top ease-in-out;
  will-change: top;
}

.ios-notification.slide-in {
  top: 0px;
  transition: 250ms top ease-in-out;
  will-change: top;
}

.drawer-from-top {
  margin: 0 auto;
  position: absolute;
  transition: 250ms top ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: -720px;
  transition: 250ms top ease-in-out;
  will-change: top;
}

.drawer-from-top.slide-in {
  top: 0px;
  transition: 250ms top ease-in-out;
  will-change: top;
}

.drawer-from-left {
  margin: 0 auto;
  position: absolute;
  transition: 250ms left ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: 0;
  left: -1280px;
  will-change: left;
}

.drawer-from-left.slide-in {
  left: 0px;
  transition: 250ms left ease-in-out;
  will-change: left;
}

.drawer-from-right {
  margin: 0 auto;
  position: absolute;
  transition: 250ms right ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: 0;
  right: -1280px;
  will-change: right;
}

.drawer-from-right.slide-in {
  right: 0px;
  transition: 250ms right ease-in-out;
  will-change: right;
}

.drawer-from-bottom {
  margin: 0 auto;
  position: absolute;
  transition: 250ms bottom ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  bottom: -720px;
  will-change: bottom;
}

.drawer-from-bottom.slide-in {
  bottom: 0px;
  transition: 250ms bottom ease-in-out;
  will-change: bottom;
}

.magick-flows-slide {
  background-color: transparent;
}

.app-switcher-one {
  height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  transition: 400ms transform, 800ms left;
  width: 36380px;
}

.app-switcher-one.shrink {
  transform: scale(0.95);
  will-change: transform;
}

.app-switcher-one.shrink .magick-flows--slide {
  background-color: white;
}

.app-switcher-one.rounded-corners .magick-flows-slide {
  border-radius: 2rem;
  background-clip: border-box;
  overflow: hidden;
  box-shadow: 0 0.5rem 1.2rem 0.3rem rgba(0, 0, 0, 0.6);
}

.app-switcher-one.rounded-corners .magick-flows-slide .slds-scrollable {
  max-height: 720px;
  height: 720px;
}

.app-switcher-one.rounded-corners .magick-flows-slide.notification {
  background-color: transparent;
}

.app-switcher-one.slide-left-0 {
  left: -1250px;
}

.app-switcher-one.be-left-0 {
  left: 0px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-0 {
  left: 0px;
}

.magick-flows--slide-0 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 0px;
}

.app-switcher-one.be-left-1 {
  left: -1300px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-1 {
  left: -1300px;
}

.magick-flows--slide-1 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 1300px;
}

.app-switcher-one.be-left-2 {
  left: -2600px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-2 {
  left: -2600px;
}

.magick-flows--slide-2 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 2600px;
}

.app-switcher-one.be-left-3 {
  left: -3900px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-3 {
  left: -3900px;
}

.magick-flows--slide-3 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 3900px;
}

.app-switcher-one.be-left-4 {
  left: -5200px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-4 {
  left: -5200px;
}

.magick-flows--slide-4 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 5200px;
}

.app-switcher-one.be-left-5 {
  left: -6500px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-5 {
  left: -6500px;
}

.magick-flows--slide-5 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 6500px;
}

.app-switcher-one.be-left-6 {
  left: -7800px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-6 {
  left: -7800px;
}

.magick-flows--slide-6 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 7800px;
}

.app-switcher-one.be-left-7 {
  left: -9100px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-7 {
  left: -9100px;
}

.magick-flows--slide-7 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 9100px;
}

.app-switcher-one.be-left-8 {
  left: -10400px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-8 {
  left: -10400px;
}

.magick-flows--slide-8 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 10400px;
}

.app-switcher-one.be-left-9 {
  left: -11700px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-9 {
  left: -11700px;
}

.magick-flows--slide-9 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 11700px;
}

.app-switcher-one.be-left-10 {
  left: -13000px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-10 {
  left: -13000px;
}

.magick-flows--slide-10 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 13000px;
}

.app-switcher-one.be-left-11 {
  left: -14300px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-11 {
  left: -14300px;
}

.magick-flows--slide-11 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 14300px;
}

.app-switcher-one.be-left-12 {
  left: -15600px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-12 {
  left: -15600px;
}

.magick-flows--slide-12 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 15600px;
}

.app-switcher-one.be-left-13 {
  left: -16900px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-13 {
  left: -16900px;
}

.magick-flows--slide-13 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 16900px;
}

.app-switcher-one.be-left-14 {
  left: -18200px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-14 {
  left: -18200px;
}

.magick-flows--slide-14 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 18200px;
}

.app-switcher-one.be-left-15 {
  left: -19500px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-15 {
  left: -19500px;
}

.magick-flows--slide-15 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 19500px;
}

.app-switcher-one.be-left-16 {
  left: -20800px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-16 {
  left: -20800px;
}

.magick-flows--slide-16 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 20800px;
}

.app-switcher-one.be-left-17 {
  left: -22100px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-17 {
  left: -22100px;
}

.magick-flows--slide-17 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 22100px;
}

.app-switcher-one.be-left-18 {
  left: -23400px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-18 {
  left: -23400px;
}

.magick-flows--slide-18 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 23400px;
}

.app-switcher-one.be-left-19 {
  left: -24700px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-19 {
  left: -24700px;
}

.magick-flows--slide-19 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 24700px;
}

.app-switcher-one.be-left-20 {
  left: -26000px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-20 {
  left: -26000px;
}

.magick-flows--slide-20 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 26000px;
}

.app-switcher-one.be-left-21 {
  left: -27300px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-21 {
  left: -27300px;
}

.magick-flows--slide-21 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 27300px;
}

.app-switcher-one.be-left-22 {
  left: -28600px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-22 {
  left: -28600px;
}

.magick-flows--slide-22 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 28600px;
}

.app-switcher-one.be-left-23 {
  left: -29900px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-23 {
  left: -29900px;
}

.magick-flows--slide-23 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 29900px;
}

.app-switcher-one.be-left-24 {
  left: -31200px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-24 {
  left: -31200px;
}

.magick-flows--slide-24 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 31200px;
}

.app-switcher-one.be-left-25 {
  left: -32500px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-25 {
  left: -32500px;
}

.magick-flows--slide-25 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 32500px;
}

.app-switcher-one.be-left-26 {
  left: -33800px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-26 {
  left: -33800px;
}

.magick-flows--slide-26 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 33800px;
}

.app-switcher-one.be-left-27 {
  left: -35100px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-27 {
  left: -35100px;
}

.magick-flows--slide-27 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 35100px;
}

.app-switcher-one.be-left-28 {
  left: -36400px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-28 {
  left: -36400px;
}

.magick-flows--slide-28 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 36400px;
}

footer.magick-flows-stickey-footer_container {
  position: absolute;
  bottom: 0;
}

/**
 * @summary Hides an element from the page by setting the opacity property set to `0`
 *
 * @selector .transition-hide
 * @notes This works like the `.slds-hidden` class and reserves the space but allows you to add the `transition` property to transition the speed that it is shown or hidden.
 * @modifier
 */
.slds-transition-hide {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 0;
}

/**
 * @summary Shows the element using the opacity property set to `1`
 *
 * @selector .transition-show
 * @notes This is toggled on the element. `.slds-transition-hide` class is removed and `.slds-transition-show` is added.
 * @modifier
 */
.slds-transition-show {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 1;
}

.preload-images {
  position: absolute;
  top: 1px;
  left: 1px;
}

#content.app-switcher-one.be-left-0 {
  opacity: 1;
  transition: transform 500ms, opacity 600ms, left 0ms;
}

#content.app-switcher-one.be-left-0.fake-the-dock {
  transform: scale(0.2, 0.2) rotatex(68deg) translateY(713%) translateX(-199.7%);
  background: rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 0px 100px rgba(0, 0, 0, 0.34);
  transition: transform 500ms, opacity 600ms, left 125ms !important;
  opacity: 0;
}
