<style>
	.grid-row:first-child {
		padding-bottom: 2px;
		padding-top: 0;
		border-bottom: 0 none;
		color: #54698D;
	}

	.grid-row {
		border-bottom: 1px solid #D8DDE6;
		color: #16325C;
	}

	.grid-row:last-child {
		border-bottom: 0 none;
	}
</style>
<div class="slds-panel-box">
	<div class="slds-panel-box__header slds-p-around_small">Activation Partners
		<img class="icon" src="../img/settings.svg" />
	</div>
	<div class="slds-panel-box__body">
		<div class="slds-panel-box__sub-header slds-p-around_small slds-m-bottom_medium">
			<button class="slds-button slds-button_neutral">Top 5
				<img class="slds-button__icon slds-button__icon_right" src="../img/icons/down.dark-blue.svg" />
			</button>
			<button class="slds-button slds-button_neutral">By Devices Sent
				<img class="slds-button__icon slds-button__icon_right" src="../img/icons/down.dark-blue.svg" />
			</button>
			<button style="float: right;" class="slds-button slds-button_neutral">June 13, 2018
				<img class="slds-button__icon slds-button__icon_right" src="../img/icons/down.dark-blue.svg" />
			</button>
		</div>
		<div id="activation-partner-grid"></div>
		<div style="border-top: 1px solid #D8DDE6; width: 100%; margin: 0;text-align: center;" class="slds-p-around_small">
			<a href="javascript:void(0);">View All Activation Partners</a>
		</div>
	</div>
</div>

<script>
const makeActivationPartnerRow = (data) => (`
	<div class="slds-grid grid-row slds-p-around_medium">
		<div class="slds-col slds-size_2-of-4 slds-p-left_medium">${data.partner}</div>
		<div class="slds-col slds-size_1-of-4" style="text-align: right;">${data.type}</div>
		<div class="slds-col slds-size_1-of-4 slds-p-right_medium" style="text-align: right;">${data.sent}</div>
	</div>
`);

const activationPartnerRows = [
	{partner: 'ACTIVATION PARTNERS', type: 'REFRESH TYPE', sent: 'DEVICES SENT'},
	{partner: '<img src="../img/logos/logo-dblclick-bm.svg" />', type: 'Full', sent: '9M'},
	{partner: '<img src="../img/logos/sf.svg" />', type: 'Full', sent: '8.75M'},
	{partner: '<img src="../img/logos/appnexus.svg" />', type: 'Incremental', sent: '7M'},
	{partner: '<img src="../img/logos/youtube.svg" />', type: 'Incremental', sent: '6.8M'},
	{partner: '<img src="../img/logos/pinterest.svg" />', type: 'Full', sent: '6M'}
];

const makeActivationPartnerRows = () => activationPartnerRows.reduce((rows, row) => rows + makeActivationPartnerRow(row), '');

document.querySelector('#activation-partner-grid').innerHTML = makeActivationPartnerRows();
</script>