$numberOfSlides: 4;
$preloadImagesData: url('/magick-flows/advertising-studio/main/cnx1@2x.png')
		url('/magick-flows/advertising-studio/main/cnx2@2x.png')
		url('/magick-flows/advertising-studio/main/cnx3@2x.png')
		url('/magick-flows/advertising-studio/main/cnx4@2x.png')
		url('/magick-flows/advertising-studio/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;