$numberOfSlides: 9;
$preloadImagesData: url('/magick-flows/consumer-desktop-mp/main/0000___ID=google-1.png')
		url('/magick-flows/consumer-desktop-mp/main/0010___ID=google-2.png')
		url('/magick-flows/consumer-desktop-mp/main/0030___ID=google-3.png')
		url('/magick-flows/consumer-desktop-mp/main/0100___ID=mp___DATA=is-own-header__own-header-height--75.png')
		url('/magick-flows/consumer-desktop-mp/main/0110___ID=mp___DATA=is-own-header__own-header-height--75.png')
		url('/magick-flows/consumer-desktop-mp/main/0120___ID=mp___DATA=is-own-header__own-header-height--75.png')
		url('/magick-flows/consumer-desktop-mp/main/0130___ID=mp___DATA=is-own-header__own-header-height--75.png')
		url('/magick-flows/consumer-desktop-mp/main/0140___ID=mp___DATA=is-own-header__own-header-height--75.png')
		url('/magick-flows/consumer-desktop-mp/main/0150___ID=mp___DATA=is-own-header__own-header-height--75.png')
		url('/magick-flows/consumer-desktop-mp/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;