module.exports = {
	prod: {
		host: 'https://your-demo.herokuapp.com/'
	},
	qa: {
		host: 'https://your-demo-qa.herokuapp.com/'
	},
	dev: {
		host: 'https://your-demo-dev.herokuapp.com/'
	},
	local: {
		host: 'http://localhost:3000'
	},
	headless: true,
	imageSnapshotPath: './test/screenshots/',
	mismatchThreshold: 0.01
}