<div class="column">
	<div class="content">
		<a href="/details?id=<%=locals.id%>">
			<img id="connection" src="<%=locals.thumbnail%>" alt="">
		</a>
		<h3><%=locals.name%></h3>
		<p><%=locals.description%></p>
	</div>
</div>