<div class="header">
		<img src="connection.png" alt="">
		<div class="title">Prototype Library
			<div class="slds-text-heading_large">Your newest Library to access <br> any demo you can imagine.</div>
		</div>
	</div>
    <div class="row">
            <div class="column">
                <div class="content">
                    <a target='_blank' href="/details">
                        <img id="connection" src="audience-360.cnx19keynote.fever.0000.dashboard.png" alt="">
                    </a>
                    <h3>Connections</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                        tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
                    </p>
                </div>
            </div>
            