<%

	const targetDemoName = locals.sanitizedQueryParams.demoName;
	const demo = locals.availableDemoConfigs.find((demo) => demo.demoName === targetDemoName);
	console.log('demo.demoFlow', demo.demoFlow);

%>
<div class="header">
    <img class="thumb" src="DF18.png" alt="">
    <div class="title"><%= demo.demoName %>
        <div class="slds-text-heading_large"><%= demo.description %></div>
    </div>

</div>
<br>
<p>
    nclusionemque et eam, vivendo principes vis ne, sed aperiam imperdiet an. Fastidii appetere urbanitas per ne, nec no
    zril similique deseruisse. No duis fuisset mei. Te vim ancillae euripidis, eam ea probatus indoctum, an vero utinam
    sed.
    <br>
    Ius et everti liberavisse, at qui aliquip Lorem ipsum dolor sit amet, nec id augue euripidis interpretaris, scripta
    corrumpit vituperata qui no. Habeo ipsum copercipit. Postea vocent usu ea, eam lobortis maiestatis at. Sea eu
    accusata temporibus instructior, eam vero brute erant at. Vim te malis facete eruditi, posse augue laboramus eu per.
    <br>
    Elit fuisset tractatos eum te, in usu numquam fierent accusata, sed id blandit epicurei. Magna summo liberavisse ei
    ius, ornatus accusam recusabo sit et, regione iuvaret et vim. An his euismod disputando, te iudicabit gubergren
    appellantur sed. Eum in dico fugit, ex duo feugait abhorreant disputando. Ut error omittam sit, ad vero accusam
    appetere mel, est at postea admodum.
    <br>
    Lorem ipsum dolor sit amet, cum everti fastidii conclusionemque cu, nam clita ocurreret reprehendunt eu. Te ceteros
    eleifend qui, diam legimus ne duo, qui ex illud constituam. Ex eos veritus adipiscing, sea patrioque abhorreant
    liberavisse ex. Vix suas utroque ancillae et, errem albucius ad qui, ut ancillae maiestatis intellegebat sea.
    <br>
    Vix repudiandae instructior id, sit ex tale intellegat moderatius. Quo eu autem adolescens, iudico abhorreant ei
    pri, mea meliore vulputate comprehensam cu. Mel in interesset persequeris. No vero albucius petentium mel, etiam
    ponderum eleifend duo eu, usu ex everti cetero. Ex nec nonumy vituperatoribus, wisi eirmod ocurreret vis in.

</p>

<div class="row">


    <%
        const screenshotFilenamePrefix = `${demo.productTemplate}.${demo.demoVenue}.${demo.brandTheme}`;
        demo.demoFlow.steps.forEach((step) => {
            let actionTaken = '';
            
            if (typeof step.goto !== "undefined") {
                actionTaken = `Went to ${step.goto}`;
            }
            
            if (typeof step.click !== "undefined") {
                actionTaken = `Clicked ${step.click}`;
            }
            
            if (typeof step.hover !== "undefined") {
                actionTaken = `Hovered ${step.hover}`;
            }
            
            if (typeof step.evaluate !== "undefined") {
                actionTaken = `Executed JS: <div><code>${step.evaluate}</code></div>`;
            }
            
            if (typeof step.drag !== "undefined") {
                actionTaken = `Dragged ${step.drag}`;
            }
            
            if (actionTaken === '') { actionTaken = 'Did nothing'}
            
            const waitedFor = (typeof step.waitFor === 'number') ? `${step.waitFor/1000} seconds` : `${step.waitFor} to load`;
            
            echo(`
                
                <div class="column">
                    <div class="content">
                        <a href="screenshots/${screenshotFilenamePrefix}.${step.name}.slide.png">
                            <img class="thumbnail" src="screenshots/${screenshotFilenamePrefix}.${step.name}.slide.png" alt="">
                        </a>
                        <div>
                            ${actionTaken} and waited for ${waitedFor}
                        </div>
                    </div>
                </div>
            `);
        });
		%>
</div>


<button class="slds-button slds-button_neutral">
    <a href="<%= demo.production.host %>" class="slds-button">View Demo</a>
</button>

<br>
<br>
<br>