<%

	const targetDemoName = locals.sanitizedQueryParams.demoName;
	const demo = locals.availableDemoConfigs.find((demo) => demo.demoName === targetDemoName);

%>
	<div class="header">
		<img src="<%= demo.thumbnail %>" alt="">
		<div class="title"><%= demo.demoName %>
			<div class="slds-text-heading_large"><%= demo.description %></div>
		</div>
		<a href="<%= demo.production.host %>" class="slds-button">View Demo</a>
	</div>

	<!-- TODO: McCulloh: Make this dynamically load in the correct thumbnail images -->
	<div class="row">
		<div class="column">
			<div class="content">
				<a class="thumbnail" href="screenshots/audience-360.cnx19keynote.fever.0000.dashboard.slide.png">
					<img src="screenshots/audience-360.cnx19keynote.fever.0000.dashboard.slide.png" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a class="thumbnail" href="screenshots/audience-360.cnx19keynote.fever.0001.dashboard.slide.png">
					<img src="screenshots/audience-360.cnx19keynote.fever.0001.dashboard.slide.png" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a class="thumbnail" href="screenshots/audience-360.cnx19keynote.fever.0002.dashboard.slide.png">
					<img src="screenshots/audience-360.cnx19keynote.fever.0002.dashboard.slide.png" alt="">
				</a>
			</div>
		</div>
	</div>
