<%
console.group(`
============================================================
Demuxe: including \`product-templates/catalogue/includes/index-contents.ejs\` now...
------------------------------------------------------------
`);

_%>



<div class="header">
	<img src="banner.png" alt="">
	<div class="head">
		<div class="title">Prototype Library
			<div class="slds-text-heading_large">Your newest Library to access <br> any demo you can imagine.</div>
		</div>
	</div>
</div>



<div class="home">
	<div class="row">
		<%


		// Build the rendered HTML piece by piece -- we will render it all at once later
		let allDemoThumbsHtmlOut = ``;
		// Cards at bottom of homepage. Look through all available demo configs and create the card to correspond with that demo.
		locals.localization.demoGroups.forEach((demoConfig) => {

			// Buld this card piece-by-piece
			let demoThumbHtmlOut = ``;

			// We may need to conditionally show demo thumbnails based on some filter, best account for that now.
			// const showDemoThumb = node.showDemoThumb === true || false;
			const showDemoThumb = true;

			if ( showDemoThumb === true ) {
				demoThumbHtmlOut += include('includes/demo-thumb', demoConfig);
			}

			allDemoThumbsHtmlOut += demoThumbHtmlOut;
		});



		echo(`${allDemoThumbsHtmlOut}`);
		%>
	</div>
</div>




<%
console.log(`...end \`product-templates/catalogue/includes/index-contents.ejs\`
------------------------------------------------------------
`);
console.groupEnd();
%>