<!-- <%

	const hello = `Hello ${locals.localization.NAME}`;

%>

<%= hello %>


<%
	// Cards at bottom of homepage. Look through all available demo configs and create the card to correspond with that demo.
	locals.availableDemoConfigs.forEach((demoConfig) => {
		echo(`<div class="demoCard">${demoConfig.demoName}</div>`);
	});

%> -->
<div class="header">
		<img src="Screen Shot 2019-07-11 at 12.35.16 PM.png" alt="">
		<div class="title">Prototype Library
			<div class="slds-text-heading_large">Your newest Library to access <br> any demo you can imagine.</div>
		</div>
	</div>

<div class="home">
<script>
document.ready(function(){
	for (var i; i=0; i++){
		
	}
})	
</script>
	<div class="row">
		<div class="column">
			<div class="content">
				<a target='_blank' href="/details">
					<img id="connection" src="connection.png" alt="">
				</a>
				<h3>Connections</h3>
				<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
					tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
				</p>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a href="">
					<img id="df" src="DF18.png" alt="">
				</a>
				<h3>Dreamforce</h3>
				<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
					tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
				</p>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a target='_blank' href="https://cnx19-as-fever.herokuapp.com/">
					<img id="connection" src="connection.png" alt="">
				</a>
				<h3>Laulima</h3>
				<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
					tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
				</p>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a target='_blank' href="https://cnx19-as-fever.herokuapp.com/">
					<img id="connection" src="connection.png" alt="">
				</a>
				<h3>TDX</h3>
				<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
					tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
				</p>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a target='_blank' href="https://cnx19-as-fever.herokuapp.com/">
					<img id="connection" src="connection.png" alt="">
				</a>
				<h3>Innovation Summit</h3>
				<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
					tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
				</p>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a target='_blank' href="https://cnx19-as-fever.herokuapp.com/">
					<img id="connection" src="connection.png" alt="">
				</a>
				<h3>SKO</h3>
				<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
					tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
				</p>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a target='_blank' href="https://cnx19-as-fever.herokuapp.com/">
					<img id="connection" src="connection.png" alt="">
				</a>
				<h3>World Tours</h3>
				<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
					tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
				</p>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<a target='_blank' href="https://cnx19-as-fever.herokuapp.com/">
					<img id="connection" src="connection.png" alt="">
				</a>
				<h3>Trailhead DX</h3>
				<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
					tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
				</p>
			</div>
		</div>
	</div>
</div>