<div class="header">
		<img src="Screen Shot 2019-07-11 at 12.35.16 PM.png" alt="">
		<div class="title">Prototype Library
			<div class="slds-text-heading_large">Your newest Library to access <br> any demo you can imagine.</div>
		</div>
	</div>

<div class="home">
	<div class="row">
<%
// Cards at bottom of homepage. Look through all available demo configs and create the card to correspond with that demo.
locals.availableDemoConfigs.forEach((demoConfig) => {
	echo(`
	<div class="column">
			<div class="content">
				<a href="/details?demoName=${demoConfig.demoName}">
					<img id="connection" src="${demoConfig.thumbnail}" alt="">
				</a>
				<h3>${demoConfig.demoName}</h3>
				<p>${demoConfig.description}
				</p>
			</div>
		</div>
	`); 
});
%>
</div>
	</div>
