<div class="header">
	<img src="Screen Shot 2019-07-11 at 12.35.16 PM.png" alt="">
	<div class="head">
		<div class="title">Prototype Library
			<div class="slds-text-heading_large">Your newest Library to access <br> any demo you can imagine.</div>
		</div>
	</div>
</div>

<div class="home">
	<div class="row">
		<%
		console.dir(locals.localization);
		// Cards at bottom of homepage. Look through all available demo configs and create the card to correspond with that demo.
		locals.localization.demoGroups.forEach((demoConfig) => {
			echo(`
				<div class="column">
					<div class="content">
						<a href="/details?id=${demoConfig.id}">
							<img id="connection" src="${demoConfig.thumbnail}" alt="${demoConfig.thumbnailAltText}">
						</a>
						<h3>${demoConfig.name}</h3>
						<p>${demoConfig.description}</p>
					</div>
				</div>
			`);
		});
		%>
	</div>
</div>