<div class="header">
    <img id="banner" src="DF18.png" alt="">
    <div class="title">Connections 2019</div>
</div>
<br>
<div id="overview">
    <div id="eventInfo">
        <h3>When</h3>
        <p>June 16th, 2019 - June 19th, 2019</p>
        <h3>Where</h3>
        <p>Chicago, Illinois</p>
        <h3>Brands</h3>
        <p>Indiana Pacers, Indiana Fever, Michael Page, 
           <br> Northern Trail Outfitters</p>
        <h3>Presenters</h3>
        <p>Eric Stahl, Katrin Rabant, Christy Poulos, </p>
    </div>
    <div id="eventDesc">
        Salesforce Connections is the must-attend conference for everyone who wants to learn how to build better customer
        experiences through personalized, seamless customer engagement to care for their most important asset for growth:
        customer relationships. It's the event for joining talent with technology and discovering where digital marketing,
        commerce, and service meet — and what happens when you connect all three on one platform with Salesforce. Come learn
        new trends and best practices and try out solutions that make every customer interaction click to engage your
        customers in one unified experience. Get inspired to come together with all your teams, elevate relationships, and
        bring customers closer with your brand than ever before.
    </div>
</div>
<div class="home">
    <div class="row">
		<%
			// Cards at bottom of homepage. Look through all available demo configs and create the card to correspond with that demo.
			locals.localization.demoGroups.forEach((demoConfig) => echo(include('includes/demo-thumb', demoConfig)));
		%>
    </div>
</div>
