<div class="header">
    <img src="Screen Shot 2019-07-22 at 9.52.57 AM.png" alt="">
    <div class="title">Connections 2019
        <div class="slds-text-heading_large">Where? <br> When? <br> Presenter? <br> Brand</div>
    </div>
</div>
<br>
<p id="overview">
    Salesforce Connections is the must-attend conference for everyone who wants to learn how to build better customer
    experiences through personalized, seamless customer engagement to care for their most important asset for growth:
    customer relationships. It's the event for joining talent with technology and discovering where digital marketing,
    commerce, and service meet — and what happens when you connect all three on one platform with Salesforce. Come learn
    new trends and best practices and try out solutions that make every customer interaction click to engage your
    customers in one unified experience. Get inspired to come together with all your teams, elevate relationships, and
    bring customers closer with your brand than ever before.
</p>
<div class="home">
    <div class="row">
		<%
			// Cards at bottom of homepage. Look through all available demo configs and create the card to correspond with that demo.
			locals.localization.demoGroups.forEach((demoConfig) => echo(include('includes/demo-thumb', demoConfig)));
		%>
    </div>
</div>
