<html>
<head>
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script
        src="/javascripts/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="../libs/youtube-iframe-api.min.js"></script>
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/app-icon.png"/>
    <title>Ticketmaster</title>
</head>
<body>
<div class="container" data-next="search-screen">
    <div class="app-switcher-one">
        <div class="youtube-screen">
            <div id="youtube-player"></div>
            <div class="youtube-ad"></div>
        </div>
        <div class="search-screen"></div>
    </div>
    <div class="drawer">
        <div class="header"></div>
        <div class="scroll-wrapper">
            <div class="content">
                <div class="snake-pit-popup"></div>
            </div>
        </div>
    </div>
    <div class="app-switcher-two">
        <div class="qr-screen">
            <div class="notification"></div>
        </div>
        <div class="instagram-screen"></div>
        <div class="email-screen"></div>
    </div>
</div>
<style type='text/css'>
    @font-face {
        font-family: 'Salesforce Sans';
        src: url('../libs/slds/fonts/webfonts/SalesforceSans-Regular.woff') format('woff'),
        url('../libs/slds/fonts/SalesforceSans-Regular.ttf') format('truetype');
    }
</style>
</body>
</html>