.slds-brand-band.slds-brand-band_medium {
  background-image: url(/images/banner-brand-default.png), linear-gradient(to bottom, #1B5F9E, rgba(175, 197, 222, 0));
  background-repeat: repeat-x;
  background-position: 0 90px;
}

.slds-brand-band.slds-brand-band_medium:after {
  top: auto;
  bottom: 0;
}

.slds-container_large, .slds-container--large {
  max-width: unset;
}

#subheader-wrapper {
  background-color: #F7F9FB;
  margin: 1rem;
  margin-top: 104px;
  border-radius: 4px;
}

#subheader-wrapper.einstein #subheader {
  padding-left: 1rem;
}

.slds-grid_pull-padded-small, .slds-grid--pull-padded-small {
  margin-right: unset;
  margin-left: unset;
}
