.slds-brand-band.slds-brand-band_medium {
	background-image: url(/images/banner-brand-default.png), linear-gradient(to bottom, #1B5F9E,rgba(175, 197, 222, 0));
	background-repeat: repeat-x;
	background-position: 0 90px;

	&:after {
		top: auto;
		bottom: 0;
	}
}

.slds-container_large, .slds-container--large {
	max-width: unset;
}

#subheader-wrapper {
	background-color: unset;
	margin-bottom: 0;
}