<a href="javascript:void(0);" onclick="navigatePage('/segments/manage-segments/?trigger=reportRunning');">
	<img src="/images/slices/insights.conversion.einstein-journey-insights-configuration.svg" />
</a>