<div class="container" data-next="search-screen">
    <div class="app-switcher-one">

        <div class="google-search-results-screen  slds-grid slds-grid_vertical slds-grid_vertical-align-start">
            <header class="slds-col">
                <div class="magick-flows-stickey-header_container">
                    <img id="sticky-header--slide-0" class="sticky-footer " src="includes/flow/bbva-mobile/0.header.png">
                </div>
            </header>
            <div class="slds-col">
                <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
                    <img class="screenshot auto-replace is-image " id="screenshot--slide-0" src="/magick-flows/bbva-mobile/0000___ID=google-search-results___DATA=has-sticky-header__has-sticky-footer__use-slide-transition__slide-transition_app-switch__do-auto-advance__auto-advance-timing_5-seconds.png?x=0.06815968652530535" style="width: 100vw;max-width: 100vw;">
                </div>
            </div>
            <footer class="magick-flows-stickey-footer_container slds-col">
                <img id="sticky-footer--slide-0" class="sticky-footer " src="includes/flow/bbva-mobile/0.footer.png">
            </footer>
        </div>

        <div class="homepage-1-screen  slds-grid slds-grid_vertical">


            <header class="slds-col">
                <div class="magick-flows-stickey-header_container">
                    <img id="sticky-header--slide-2" class="sticky-footer " src="includes/flow/bbva-mobile/1.header.png">
                </div>
            </header>


            <div class="slds-col" style="margin-bottom: 155px;">
                <div class="slds-scrollable">
                    <img class="screenshot auto-replace is-image " id="screenshot--slide-2" src="/magick-flows/bbva-mobile/0200___ID=homepage-2___DATA=has-sticky-header__has-sticky-footer.png" style="width: 100vw; max-width: 100vw;">
                </div>
            </div>

            <footer class="magick-flows-stickey-footer_container slds-col">
                <img id="sticky-footer--slide-2" class="sticky-footer " src="includes/flow/bbva-mobile/1.footer.png">
            </footer>


        </div>


    </div>
    <div class="drawer">
        <div class="header"></div>
        <div class="scroll-wrapper">
            <div class="content">
                <div class="snake-pit-popup"></div>
            </div>
        </div>
    </div>
    <div class="app-switcher-two">
        <div class="qr-screen">
            <div class="notification"></div>
        </div>
        <div class="instagram-screen"></div>
        <div class="email-screen"></div>
    </div>
</div>
