<div class="container" data-next="magick-flows--slide-1">
    <div class="app-switcher-one">


<div class=" slds-grid slds-grid_vertical magick-flows--slide-0 magick-flows-slide has-sticky-header has-sticky-footer slds-is-active slds-transition-show" data-slide="0" id="magick-flows--slide-0">
    <header class="slds-col">
        <div class="magick-flows-stickey-header_container">
            <img id="sticky-header--slide-0" class="sticky-footer " src="includes/flow/bbva-mobile/0.header.png">
        </div>
    </header>
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-0" src="/magick-flows/bbva-mobile/0000___ID=google-search-results___DATA=has-sticky-header__has-sticky-footer__use-slide-transition__slide-transition_app-switch__do-auto-advance__auto-advance-timing_5-seconds.png">
        </div>
    </div>
    <footer class="magick-flows-stickey-footer_container slds-col">
        <img id="sticky-footer--slide-0" class="sticky-footer " src="includes/flow/bbva-mobile/0.footer.png">
    </footer>
</div>
<div class=" slds-grid slds-grid_vertical magick-flows--slide-1 magick-flows-slide has-sticky-header has-sticky-footer slds-is-next" data-slide="1" id="magick-flows--slide-1">
    <header class="slds-col">
        <div class="magick-flows-stickey-header_container">
            <img id="sticky-header--slide-1" class="sticky-footer " src="includes/flow/bbva-mobile/1.header.png">
        </div>
    </header>
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-1" src="/magick-flows/bbva-mobile/0100___ID=homepage-1___DATA=has-sticky-header__has-sticky-footer.png">
        </div>
    </div>
    <footer class="magick-flows-stickey-footer_container slds-col">
        <img id="sticky-footer--slide-1" class="sticky-footer " src="includes/flow/bbva-mobile/1.footer.png">
    </footer>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-2 magick-flows-slide has-sticky-header has-sticky-footer" data-slide="2" id="magick-flows--slide-2">
    <header class="slds-col">
        <div class="magick-flows-stickey-header_container">
            <img id="sticky-header--slide-2" class="sticky-footer " src="includes/flow/bbva-mobile/2.header.png">
        </div>
    </header>
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-2" src="/magick-flows/bbva-mobile/0200___ID=homepage-2___DATA=has-sticky-header__has-sticky-footer.png">
        </div>
    </div>
    <footer class="magick-flows-stickey-footer_container slds-col">
        <img id="sticky-footer--slide-2" class="sticky-footer " src="includes/flow/bbva-mobile/2.footer.png">
    </footer>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-3 magick-flows-slide has-sticky-header has-sticky-footer" data-slide="3" id="magick-flows--slide-3">
    <header class="slds-col">
        <div class="magick-flows-stickey-header_container">
            <img id="sticky-header--slide-3" class="sticky-footer " src="includes/flow/bbva-mobile/3.header.png">
        </div>
    </header>
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-3" src="/magick-flows/bbva-mobile/0300___ID=mortgages-1___DATA=has-sticky-header__has-sticky-footer.png">
        </div>
    </div>
    <footer class="magick-flows-stickey-footer_container slds-col">
        <img id="sticky-footer--slide-3" class="sticky-footer " src="includes/flow/bbva-mobile/3.footer.png">
    </footer>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-4 magick-flows-slide has-sticky-header has-sticky-footer" data-slide="4" id="magick-flows--slide-4">
    <header class="slds-col">
        <div class="magick-flows-stickey-header_container">
            <img id="sticky-header--slide-4" class="sticky-footer " src="includes/flow/bbva-mobile/4.header.png">
        </div>
    </header>
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-4" src="/magick-flows/bbva-mobile/0400___ID=homepage-3___DATA=has-sticky-header__has-sticky-footer.png">
        </div>
    </div>
    <footer class="magick-flows-stickey-footer_container slds-col">
        <img id="sticky-footer--slide-4" class="sticky-footer " src="includes/flow/bbva-mobile/4.footer.png">
    </footer>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-5 magick-flows-slide" data-slide="5" id="magick-flows--slide-5">
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-5" src="/magick-flows/bbva-mobile/0500___ID=valora-home.png">
        </div>
    </div>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-6 magick-flows-slide" data-slide="6" id="magick-flows--slide-6">
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-6" src="/magick-flows/bbva-mobile/0600___ID=valora-email-field-blank.png">
        </div>
    </div>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-7 magick-flows-slide" data-slide="7" id="magick-flows--slide-7">
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-7" src="/magick-flows/bbva-mobile/0700___ID=valora-email-field-filled.png">
        </div>
    </div>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-8 magick-flows-slide" data-slide="8" id="magick-flows--slide-8">
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-8" src="/magick-flows/bbva-mobile/0800___ID=valora-use-camera.png">
        </div>
    </div>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-9 magick-flows-slide" data-slide="9" id="magick-flows--slide-9">
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-9" src="/magick-flows/bbva-mobile/0900___ID=valora-fake-video-gif.gif">
        </div>
    </div>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-10 magick-flows-slide" data-slide="10" id="magick-flows--slide-10">
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-10" src="/magick-flows/bbva-mobile/1000___ID=valora-fake-video-found-home.png">
        </div>
    </div>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-11 magick-flows-slide" data-slide="11" id="magick-flows--slide-11">
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-11" src="/magick-flows/bbva-mobile/1100___ID=valora-results.png">
        </div>
    </div>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-12 magick-flows-slide" data-slide="12" id="magick-flows--slide-12">
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-12" src="/magick-flows/bbva-mobile/1200___ID=valora-details.png">
        </div>
    </div>
</div>
<div class="slds-grid slds-grid_vertical magick-flows--slide-13 magick-flows-slide has-sticky-header" data-slide="13" id="magick-flows--slide-13">
    <header class="slds-col">
        <div class="magick-flows-stickey-header_container">
            <img id="sticky-header--slide-13" class="sticky-footer " src="includes/flow/bbva-mobile/13.header.png">
        </div>
    </header>
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-13" src="/magick-flows/bbva-mobile/1300___ID=mortgage-app-step-0___DATA=has-sticky-header.png">
        </div>
    </div>
</div>
<div class=" slds-grid slds-grid_vertical magick-flows--slide-14 magick-flows-slide has-sticky-header has-sticky-footer slds-is-previous" data-slide="14" id="magick-flows--slide-14">
    <header class="slds-col">
        <div class="magick-flows-stickey-header_container">
            <img id="sticky-header--slide-14" class="sticky-footer " src="includes/flow/bbva-mobile/14.header.png">
        </div>
    </header>
    <div class="slds-col">
        <div class="slds-scrollable" style="height: 100vh; margin-bottom: 177px;">
            <img class="screenshot auto-replace is-image " id="screenshot--slide-14" src="/magick-flows/bbva-mobile/1400___ID=mortgage-app-step-2___DATA=has-sticky-header__has-sticky-footer.png">
        </div>
    </div>
    <footer class="magick-flows-stickey-footer_container slds-col">
        <img id="sticky-footer--slide-14" class="sticky-footer " src="includes/flow/bbva-mobile/14.footer.png">
    </footer>
</div>

    </div>
</div>
