<p>
	This paragraph was included from <code>`/your-code-here/includes/test-includes.ejs`</code> like this: 
	<br><code>&lt;%- include('includes/test-include') %&gt;</code>. Because anything inside of <code>/your-code-here/</code>
	overrides anything of the same name inside of <code>/product-templates/{product-theme}/</code> which in turn overrides
	anything of the same name inside of <code>/engine/</code>, the <code>`/engine/includes/test-includes.ejs`</code> file was
	completely ignored. Rename or delete <code>`/your-code-here/includes/test-includes.ejs`</code> to view the contents of
	<code>`/engine/includes/test-includes.ejs`</code>.
</p>
