# Filesystem
.DS_Store

# Node build artifacts
node_modules
npm-debug.log

# Editors / IDEs
.idea
*.sublime-project
*.sublime-workspace
jsconfig.json
.vscode
*/xcuserdata/*
.vs

# Other
package-lock.json


credentials.json

*.css.map


magick-flows-web-root/magick-flows/*/png-svg-compare
magick-flows-web-root/magick-flows/*/failed-svg
magick-flows-web-root/magick-flows/*/passed-svg
magick-flows-web-root/magick-flows/*/main-src-originals

test/screenshots/*/__*__/*

config.json.bak

