# Filesystem
.DS_Store

# Node build artifacts
node_modules
npm-debug.log

# Editors / IDEs
.idea
*.sublime-project
*.sublime-workspace
jsconfig.json
.vscode
*/xcuserdata/*
.vs

# Other
package-lock.json
