$numberOfSlides: 27;
$preloadImagesData: url('/magick-flows/b2c-flow/main/0000___ID=southwest-routes-map.png')
		url('/magick-flows/b2c-flow/main/0001___ID=route-map-intro.png')
		url('/magick-flows/b2c-flow/main/0005___ID=trail-slide.png')
		url('/magick-flows/b2c-flow/main/0010___ID=login-empty___DATA=use-step-transition__step-transition_app-switch.png')
		url('/magick-flows/b2c-flow/main/0015___ID=login-filled.png')
		url('/magick-flows/b2c-flow/main/0020___ID=sales-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2c-flow/main/0030___ID=app-launcher.png')
		url('/magick-flows/b2c-flow/main/0040___ID=marketing-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2c-flow/main/0050___ID=b2c-campaign-record-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2c-flow/main/0051___ID=a360-show-segment.png')
		url('/magick-flows/b2c-flow/main/0052___ID=a360-edit-segment-1.png')
		url('/magick-flows/b2c-flow/main/0053___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0054___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0055___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0056___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0057___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0058___ID=a360-edit-segment-2.png')
		url('/magick-flows/b2c-flow/main/0059___ID=b2c-campaign-record-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2c-flow/main/0060___ID=campaign-events___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0061___ID=campaign-events___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0062___ID=campaign-events___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0063___ID=campaign-events___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2c-flow/main/0064___ID=campaign-events.png')
		url('/magick-flows/b2c-flow/main/0070___ID=b2c-journey-intro___DATA=is-own-header__own-header-height--98.png')
		url('/magick-flows/b2c-flow/main/0080___ID=b2c-bots___DATA=show-drawer-from-right--on-arrival__hide-drawer-from-right--never.png')
		url('/magick-flows/b2c-flow/main/0090___ID=b2c-journey-bot-preview.png')
		url('/magick-flows/b2c-flow/main/0100___ID=b2c-journey-add-bot-done.png')
		url('/magick-flows/b2c-flow/assets/all__viewport-size.png')
		url('/magick-flows/b2c-flow/assets/b2b-jb-email___drawer-from-right.png')
		url('/magick-flows/b2c-flow/assets/b2b-jb-isv___drawer-from-left.png')
		url('/magick-flows/b2c-flow/assets/b2c-bots___drawer-from-right.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;