$numberOfSlides: 7;
$preloadImagesData: url('/magick-flows/clientelling-browse-email/main/0000___ID=berluti-cx-clientelling-browse-email___NOTES=clientelling-app-here.png')
		url('/magick-flows/clientelling-browse-email/main/0005___ID=berluti-cx-clientelling-browse-email___NOTES=clientelling-app-filled-in.png')
		url('/magick-flows/clientelling-browse-email/main/0030___ID=berluti-cx-clientelling-browse-email___DATA=@APPSWITCH__is-own-header__own-header-height--120___NOTES=Click-Discover-on-loafer-ad.png')
		url('/magick-flows/clientelling-browse-email/main/0040___ID=berluti-cx-clientelling-browse-email___NOTES=Do-not-scroll__Click-to-show-notification.png')
		url('/magick-flows/clientelling-browse-email/main/0045___ID=berluti-cx-clientelling-browse-email___DATA=show-ios-notification___NOTES=Click-email-notification-to-dismiss-notification__Willl-show-email.png')
		url('/magick-flows/clientelling-browse-email/main/0046___ID=berluti-cx-clientelling-browse-email___DATA=@AANORMAL.png')
		url('/magick-flows/clientelling-browse-email/main/0050___ID=berluti-cx-clientelling-browse-email___DATA=@APPSWITCH___NOTES=End.png')
		url('/magick-flows/clientelling-browse-email/assets/all__mobile-backdrop.png')
		url('/magick-flows/clientelling-browse-email/assets/all__viewport-size.png')
		url('/magick-flows/clientelling-browse-email/assets/berluti-cx-clientelling-browse-email___ios-notification.png');
$heightOfSlideValue: 1366;
$widthOfSlideValue: 1024;
$widthOfGutterValue: 1024;