@import "./variables.scss";

$numberOfSlides: 1 !default;
$preloadImagesData: "url('/fake.png')" !default;

$heightOfSlideValue: 812;
$widthOfSlideValue: 375;
$widthOfGutterValue: 20;

$widthOfAppSwitcher: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) + 0px;
$heightOfAppSwitcher: $heightOfSlideValue + 0px;
$heightOfSlide: $heightOfSlideValue + 0px;
$widthOfSlide: $widthOfSlideValue + 0px;

$widthOfAppSwitcherNegative: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) * -1px;
$heightOfAppSwitcherNegative: $heightOfSlideValue * -1px;
$heightOfSlideNegative: $heightOfSlideValue * -1px;
$widthOfSlideNegative: $widthOfSlideValue * -1px;

/* This is done to preload images and reduce load flicker */
body::after {
	backface-visibility: visible;
	content: $preloadImagesData;
	outline:1px solid red;
	height: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
	z-index: -1;
}


body {
	color: purple;
}


@import "./../../../../engine/styles/magick-flows.scss";


.magick-flows--step-5 {
	background-color: #00366f;
}
