<div id="service-cases-here"><%- include('images/slices/service-cases.svg') %></div>
<script>
	let triggeredServiceCasesGraphAnimation = false;
	const animateServiceCasesGraph = () => {
		if (window.scrollY > 700 && !triggeredServiceCasesGraphAnimation) {
			triggeredServiceCasesGraphAnimation = true;

			document.querySelectorAll('#service-cases-here .fill-in,#service-cases-here .draw-in').forEach(elm => elm.style.animationPlayState = 'running');
		}

		document.addEventListener("scroll", animateServiceCasesGraph);
	};

</script>