<style>
	.growTopChannels {
		animation: growTopChannels 2s ease-out forwards;
		transform-origin: 115px center;
		animation-play-state: paused;
	}

	@-webkit-keyframes growTopChannels {
	  from { transform: scaleX(0); }
	  to { transform: scaleX(1); }
	}
</style>
<div id="top-channels-here"><%- include('images/top-channels.svg') %></div>
<script>
	let triggeredTopChannelsGraphAnimation = false;
	const animateTopChannelsGraph = () => {
		triggeredTopChannelsGraphAnimation = true;

		document.querySelectorAll('.growTopChannels').forEach(elm => elm.style.animationPlayState = 'running');
	};
</script>
