<h1>Dynamic SVG Dates POC</h1>
<div style="float: left; width: 528px;"><h2>Original (as appears in Sketch)</h2>
<img src="images/dyn-date-poc.png" /></div>
<div style="float: left; width: 528px; margin-left: 20px;"><h2>Dynamically Converted based on SVG Text's ID</h2>
<%- include('images/dyn-date-poc.svg'); %></div>


<script src="javascripts/third-party-libraries/moment.js"></script>
<script src="javascripts/third-party-libraries/moment.parse-format.js"></script>

<script>
	const datesToReplace = document.querySelectorAll('[id*="dyn-date="]');

	datesToReplace.forEach((dateToReplaceWrapper) => {
		const targetDate = dateToReplaceWrapper.id.match(/dyn-date=([a-zA-Z0-9\-]*)/);

		let desiredDate = moment();

		switch (targetDate[1]) {
			case 'today':
			case 'now':
				break;
			case 'yesterday':
				desiredDate.subtract(1, 'days');
				break;
			case 'oneWeekAgo':
				desiredDate.subtract(1, 'weeks');
				break;
			case 'twoWeeksAgo':
				desiredDate.subtract(2, 'weeks');
				break;
			case 'threeWeeksAgo':
				desiredDate.subtract(3, 'weeks');
				break;
			case 'fourWeeksAgo':
				desiredDate.subtract(4, 'weeks');
				break;
			case 'oneMonthAgo':
				desiredDate.subtract(1, 'months');
				break;
			case 'twoMonthsAgo':
				desiredDate.subtract(2, 'months');
				break;
			case 'threeMonthsAgo':
				desiredDate.subtract(3, 'months');
				break;
			case 'fourMonthsAgo':
				desiredDate.subtract(4, 'months');
				break;
			case 'oneYearAgo':
				desiredDate.subtract(1, 'years');
				break;
			case 'aboutOneMonthAgo':
				desiredDate.subtract(1, 'months').date(5);
				break;
			case 'aboutTwoMonthsAgo':
				desiredDate.subtract(2, 'months').date(17);
				break;
			case 'aboutThreeMonthsAgo':
				desiredDate.subtract(3, 'months').date(12);
				break;
			case 'aboutFourMonthsAgo':
				desiredDate.subtract(3, 'months').date(26);
				break;
			case 'firstDayThisMonth':
				desiredDate.startOf('month');
				break;
			case 'firstDayLastMonth':
				desiredDate.subtract(1, 'months').date(1);
				break;
			case 'lastDayLastMonth':
				desiredDate.startOf('month').subtract(1, 'days');
				break;
			default:

		}

		const dateToReplace = dateToReplaceWrapper.querySelector('tspan');
		const placeholderDate = dateToReplace.textContent;

		const dateFormat = parseFormat(dateToReplace.textContent);

		const correctDate = desiredDate.format(dateFormat);

		dateToReplace.textContent = correctDate;
	});


</script>

