<!--

This file is intentionally as  self contained as possible to simplify development and debugging

-->

<h1>Debugging SVG</h1>
<img src="images/svg-debug/0000___ID=home___DATA=unset___NOTES=Click-“Add-Sources”-button.svg" />
<%- include('images/svg-debug/0000___ID=home___DATA=unset___NOTES=Click-“Add-Sources”-button.svg'); %>
