<div class="slds-container_large slds-container_large slds-m-top_medium">
	<div class="slds-grid slds-grid_align-spread">
		<div>
			<ul id="tablist" class="slds-tabs_default__nav audience-discovery-tab-nav" role="tablist">
				<li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Data Providers</a></li>
				<li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:changeTabs();" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Categories</a></li>
				<li class="slds-tabs_default__item" title="Item Three" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Segments</a></li>
			</ul>

		</div>
		<div>
			<img src="/images/powerd-by-data-studio-logo.svg">
		</div>
	</div>
	<div class="slds-grid slds-grid_pull-padded-medium slds-p-vertical_small">
		<img class="slds-p-horizontal_medium" src="/images/slices/data-studio.audience-discovery.menu-a-left.svg" style="height: 33px;" />
		<img class="slds-p-horizontal_medium slds-col_bump-left" src="/images/slices/data-studio.audience-discovery.menu-a-right.svg" style="height: 33px;" />
	</div>
</div>
