$numberOfSlides: 4;
$preloadImagesData: url('/magick-flows/journeybuilder/main/0010___ID=journey-canvas-for-fever___NOTES=Click-push-notification.png')
		url('/magick-flows/journeybuilder/main/0020___ID=push-activity-summary-out___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never___NOTES=click-edit-message.png')
		url('/magick-flows/journeybuilder/main/0100___ID=push-notification-summary-configured___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=click-primary-button-done.png')
		url('/magick-flows/journeybuilder/main/0110___ID=journey-canvas-for-fever___NOTES=click-header-activate-button.png')
		url('/magick-flows/journeybuilder/assets/all__viewport-size.png')
		url('/magick-flows/journeybuilder/assets/push-activity-summary-out___drawer-from-left.png')
		url('/magick-flows/journeybuilder/assets/push-editor-slides-away___drawer-from-left.png')
		url('/magick-flows/journeybuilder/assets/push-editor-slides-out___drawer-from-left.png')
		url('/magick-flows/journeybuilder/assets/push-notification-summary-configured__drawer-from-left.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;