$numberOfSlides: 6;
$preloadImagesData: url('/magick-flows/audience-studio-fever/main/0000___ID=dashboard-1___DATA=is-own-header__own-header-height--90___NOTES=Click-the-“gear”-icon-in-the-first-row__A-dropdown-will-appear.png')
		url('/magick-flows/audience-studio-fever/main/0010___ID=dashboard-2___DATA=is-own-header__own-header-height--90___NOTES=Choose-“Lookalikes”-from-the-dropdown.png')
		url('/magick-flows/audience-studio-fever/main/0100___ID=lookalikes___DATA=is-own-header__own-header-height--90___NOTES=Click-in-the-chart-near-60—per-cent-at-4M.png')
		url('/magick-flows/audience-studio-fever/main/0110___ID=lookalikes___DATA=is-own-header__own-header-height--90___NOTES=Click-the-primary-”Create-a-lookalike-segment”-button.png')
		url('/magick-flows/audience-studio-fever/main/0200___ID=manage-segments___DATA=is-own-header__own-header-height--90___NOTES=Click-the-”Einstein”-icon-in-the-first-row.png')
		url('/magick-flows/audience-studio-fever/main/0210___ID=manage-segments___DATA=is-own-header__own-header-height--90___NOTES=End-of-Magick-Flow__On-to-A360-to-find-other-lookalikes-now.png')
		url('/magick-flows/audience-studio-fever/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;