$numberOfSlides: 10;
$preloadImagesData: url('/magick-flows/df19-jb-email-editor-berluti/main/0000___ID=test-only-journey-dashboard.png')
		url('/magick-flows/df19-jb-email-editor-berluti/main/0001___ID=test-only-mc-homepage-dropdown___NOTES=Click-on-the-unread-alert-in-the-dropwdown.png')
		url('/magick-flows/df19-jb-email-editor-berluti/main/0002___ID=test-only-journey-canvas-2-Berluti___NOTES=click-audience.png')
		url('/magick-flows/df19-jb-email-editor-berluti/main/0003___ID=test-only-email-editor-drag-block___NOTES=drag-email-form-block-to-canvas.png')
		url('/magick-flows/df19-jb-email-editor-berluti/main/0004___ID=test-only-audience-select___NOTES=click-audience.png')
		url('/magick-flows/df19-jb-email-editor-berluti/assets/all__mobile-backdrop.png')
		url('/magick-flows/df19-jb-email-editor-berluti/assets/all__viewport-size.png')
		url('/magick-flows/df19-jb-email-editor-berluti/assets/email-activity-slides-out___drawer-from-left.png')
		url('/magick-flows/df19-jb-email-editor-berluti/assets/email-editor-slides-out___drawer-from-left.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;