$numberOfSlides: 8;
$preloadImagesData: url('/magick-flows/df19-jb-email-editor-berluti/assets/all__mobile-backdrop.png')
		url('/magick-flows/df19-jb-email-editor-berluti/assets/all__viewport-size.png')
		url('/magick-flows/df19-jb-email-editor-berluti/assets/email-activity-slides-out___drawer-from-left.png')
		url('/magick-flows/df19-jb-email-editor-berluti/assets/email-editor-slides-out___drawer-from-left.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;