/* Your styles here */
.header {
    position: relative;
    text-align: center;
    color: black;
  }
 #content{
     max-width: initial;
 } 
.title{
    text-align: left;
    position: absolute;
    font-size: 30px;
    top: 70px;
    left: 30px;
    color: white;
}

.desc{
    text-align: left;
    position: absolute;
    font-size: 30px;
    top: 50px;
    left: 0px;
}

h3{
    font-size: 16px;
}

  .row {
    margin: 15px 20px;
  }
  
  /* Add padding BETWEEN each column */
 
  .row,
  .row > .column {
    padding: 30px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
    }
  }
  
 
  
 .thumb{
     
     width: 1500px;
     height: 300px;
 }
 
button{
    float: right;
    margin-right: 80px;
    background-color: white;
}