/* Your styles here */
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  
.title{
    position: absolute;
    font-size: 30px;
    top: 70px;
    left: 16px;
}

.desc{
    position: absolute;
    font-size: 30px;
    top: 50px;
    left: 0px;
}
