$numberOfSlides: 4;
$preloadImagesData: url('/magick-flows/consumer-desktop-fever/main/0.png')
		url('/magick-flows/consumer-desktop-fever/main/1.png')
		url('/magick-flows/consumer-desktop-fever/main/2.png')
		url('/magick-flows/consumer-desktop-fever/assets/all__background.png')
		url('/magick-flows/consumer-desktop-fever/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;