$numberOfSlides: 15;
$preloadImagesData: url('/magick-flows/c360-rmd/main/0000___ID=home___DATA=unset___NOTES=Click-“Add-Sources”-button.png')
		url('/magick-flows/c360-rmd/main/0010___ID=data-sources___DATA=unset___NOTES=Click-“Add-Data-Sources”-button.png')
		url('/magick-flows/c360-rmd/main/0020___ID=data-mapping--narrow___DATA=unset___NOTES=Click-“Add-Data-Sources”-button.png')
		url('/magick-flows/c360-rmd/main/0030___ID=data-mapping--expanded___DATA=unset___NOTES=Click-the-“Close”-button.png')
		url('/magick-flows/c360-rmd/main/0040___ID=data-mapping--expanded___DATA=unset___NOTES=Click-the-“Account”-disclose-chevron.png')
		url('/magick-flows/c360-rmd/main/0050___ID=data-mapping--expanded___DATA=unset___NOTES=Click-the-“Data-Stewardship”-in-the-left-nav.png')
		url('/magick-flows/c360-rmd/main/0060___ID=data-mapping--expanded___DATA=iunset___NOTES=Click-the-“Profile-Rules”-in-the-left-nav.png')
		url('/magick-flows/c360-rmd/main/0070___ID=profile-rules___DATA=unset___NOTES=Click-the-“Data-Jobs”-in-the-left-nav.png')
		url('/magick-flows/c360-rmd/main/0080___ID=new-data-job___DATA=unset___NOTES=Click-the-“Next”-button.png')
		url('/magick-flows/c360-rmd/main/0090___ID=data-job-running___DATA=unset___NOTES=Click-“Dashboards”-in-the-left-nav.png')
		url('/magick-flows/c360-rmd/main/0100___ID=dashboards___DATA=unset___NOTES=Click-“Somewhere”-to-go-on.png')
		url('/magick-flows/c360-rmd/main/0110___ID=find-customers___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-“Somewhere”-to-go-on.png')
		url('/magick-flows/c360-rmd/main/0120___ID=customer-profile___DATA=unset___NOTES=Click-“Somewhere”-to-go-on.png')
		url('/magick-flows/c360-rmd/main/0130___ID=order-summary___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-“Somewhere”-to-go-on.png')
		url('/magick-flows/c360-rmd/main/9999___ID=End___DATA=unset___NOTES=End.png')
		url('/magick-flows/c360-rmd/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;