$numberOfSlides: 47;
$preloadImagesData: url('/magick-flows/c360-rmd/main/0000___ID=home___DATA=unset___NOTES=Click-“Add-Data-Sources”-button.png')
		url('/magick-flows/c360-rmd/main/0010___ID=data-sources___DATA=unset___NOTES=Click-“Data-Mapping”-in-left-nav.png')
		url('/magick-flows/c360-rmd/main/0020___ID=dm___DATA=unset___NOTES=Click-the-“pencil”-icon-next-to-“Contact-Point-Address”__The-object-editor-drawer-will-appear.png')
		url('/magick-flows/c360-rmd/main/2000___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2050___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2100___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2150___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2200___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2250___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2300___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2350___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2400___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2450___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2500___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2550___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2600___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2650___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2700___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2715___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-opening.png')
		url('/magick-flows/c360-rmd/main/2999___ID=object-editor-drawer--before-close___DATA=unset___NOTES=Click-the-“Close”-button.png')
		url('/magick-flows/c360-rmd/main/3800___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3801___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3802___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3803___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3804___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3805___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3806___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3807___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3808___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3809___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3810___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3811___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3812___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3813___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3814___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/3815___ID=OED___DATA=@AAFAST___NOTES=Object-editor-drawer-is-closing.png')
		url('/magick-flows/c360-rmd/main/4010___ID=dm___DATA=unset___NOTES=Click-the-“Account”-disclose-chevron.png')
		url('/magick-flows/c360-rmd/main/4020___ID=dm___DATA=unset___NOTES=Click-the-“Data-Stewardship”-in-the-left-nav.png')
		url('/magick-flows/c360-rmd/main/4030___ID=dm___DATA=iunset___NOTES=Click-the-“Profile-Rules”-in-the-left-nav.png')
		url('/magick-flows/c360-rmd/main/4040___ID=profile-rules___DATA=unset___NOTES=Click-the-“Data-Jobs”-in-the-left-nav.png')
		url('/magick-flows/c360-rmd/main/5010___ID=new-data-job___DATA=unset___NOTES=Click-the-“Next”-button.png')
		url('/magick-flows/c360-rmd/main/5020___ID=data-job-running___DATA=unset___NOTES=Click-“Dashboards”-in-the-left-nav.png')
		url('/magick-flows/c360-rmd/main/6010___ID=dashboards___DATA=unset___NOTES=Click-“Somewhere”-to-go-on.png')
		url('/magick-flows/c360-rmd/main/6020___ID=find-customers___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-“Somewhere”-to-go-on.png')
		url('/magick-flows/c360-rmd/main/6030___ID=customer-profile___DATA=unset___NOTES=Click-“Somewhere”-to-go-on.png')
		url('/magick-flows/c360-rmd/main/7010___ID=order-summary___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-“Somewhere”-to-go-on.png')
		url('/magick-flows/c360-rmd/main/9999___ID=End___DATA=unset___NOTES=End.png')
		url('/magick-flows/c360-rmd/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;