
    <video id="video" playsinline autoplay></video>

    <label for="filter">Filter: </label>
    <select id="filter">
        <option value="none">None</option>
        <option value="blur">Blur</option>
        <option value="grayscale">Grayscale</option>
        <option value="invert">Invert</option>
        <option value="sepia">Sepia</option>
    </select>

    <button id="snapshot">Take snapshot</button>

    <canvas id="canvas"></canvas>



<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>


<script src="/javascripts/tracking-min.js"></script>
<script src="/javascripts/data/face-min.js"></script>

