<a href="/consumer-rights-management">
<img id="screenshot" class="auto-replace" style="width: 100%; margin: 0;" src="/images/slices/manage.data-capture.sources-top.svg">
<%- include('components/highcharts.data-capture-sources.ejs') %>
	<img id="screenshot" class="auto-replace" style="width: 100%; margin: 0;" src="/images/slices/manage.data-capture.sources.svg">
</a>