$numberOfSlides: 5;
$preloadImagesData: url('/magick-flows/msm-2/main/4800___ID=msm___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm-2/main/4900___ID=datorama-mix-and-connect___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--never__is-own-header__own-header-height--60___NOTES=Notes-go-here.png')
		url('/magick-flows/msm-2/main/5000___ID=msm-ccredit-monitor-home___DATA=@APPSWITCH__@AANORMAL__use-mobile-backdrop___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm-2/main/5100___ID=msm-ccredit-monitor-msg___DATA=show-ios-notification__use-mobile-backdrop___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm-2/main/9999___ID=msm-final-step___DATA=is-eject--msm__use-mobile-backdrop___NOTES=End__Click-to-re-start-this-demo.png')
		url('/magick-flows/msm-2/assets/all__mobile-backdrop.jpg')
		url('/magick-flows/msm-2/assets/all__viewport-size.png')
		url('/magick-flows/msm-2/assets/datorama-mix-and-connect___drawer-from-left.png')
		url('/magick-flows/msm-2/assets/msm-cc-app-msg___ios-notification.png')
		url('/magick-flows/msm-2/assets/msm-ccredit-monitor-msg___ios-notification.png')
		url('/magick-flows/msm-2/assets/msm-edit-email-begins___drawer-from-left.png')
		url('/magick-flows/msm-2/assets/msm-edit-email-ends___drawer-from-left.png')
		url('/magick-flows/msm-2/assets/msm-push-credit-card___ios-notification.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;