<div class="slds-panel-box <%= locals.panelClasses %>">
	<% if (locals.title || locals.header_buttons) { %>
		<div class="slds-panel-box__header slds-p-around_small slds-clearfix">
			<span><%- locals.title %></span>
			<% locals.header_buttons && locals.header_buttons.forEach((button, i, buttons) => {
				// const icon = button.icon ? `<img class="slds-button__icon slds-button__icon_right" src="${button.icon}" />` : '<img class="slds-button__icon slds-button__icon_right" src="/icons/utility-sprite/svg/symbols.svg#down" />';

				const icon = button.img || `
				<svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
					<use xlink:href="${button.icon || '/icons/utility-sprite/svg/symbols.svg#down'}"></use>
				</svg>
				`;

				const buttonClasses = classnames('slds-button',
				{
					'slds-float_right': (i === buttons.length - 1),
					'slds-button_neutral': button.label,
					'slds-button_icon-container': !button.label
				});
				const label = button.label || ''

				echo(`<button class="${buttonClasses}">${label}${icon}</button>`);
			}); %>
		</div>
	<% } %>
	<div class="slds-panel-box__body">
		<div class="slds-grid slds-wrap slds-p-bottom_x-small slds-p-top_xxx-small">
			<%- locals.contents %>
		</div>
		<% if (locals.footer_links) { %>
			<div class="slds-p-around_small slds-panel-box__sub-footer">
				<% locals.footer_links && locals.footer_links.forEach(link => {
					echo(`
						<a href="javascript:void(0);" onclick="navigatePage('${link.href || ''}')">${link.text || 'View All'}</a>
					`)
				}); %>
			</div>
		<% } %>
	</div>
</div>