<!DOCTYPE html>
<html>
	<head>
		<%- include('includes/global/head') _%>
		<% if (locals.siteSection) { %>
		<%- include(`includes/${locals.siteSection}/head`) _%>
		<% } %>
	</head>

	<body class="magick-flow">
		<% if (locals.siteSection) { %>
		<div id="content-wrapper"  class="magick-flow_content-wrapper">
			<div id="content" class="magick-flow_content"><%- include(`includes/${locals.siteSection}/contents`) _%></div>
		</div>
		<% } %>
		<%- include('includes/global/footer-scripts') %>
	</body>
</html>
