$numberOfSlides: 7;
$preloadImagesData: url('/magick-flows/as-fever/main/0000___ID=LAL___DATA=unset___NOTES=unset.png')
		url('/magick-flows/as-fever/main/0001___ID=LAL-hover___DATA=unset___NOTES=unset.png')
		url('/magick-flows/as-fever/main/0010___ID=segments___DATA=is-eject--state-addLookalike___NOTES=unset.png')
		url('/magick-flows/as-fever/main/0011___ID=segments-ejected-content-looks-like-this___DATA=unset___NOTES=unset.png')
		url('/magick-flows/as-fever/main/2010___ID=segments___DATA=is-eject--%3Fstate%3DaddLookalike___NOTES=unset.png')
		url('/magick-flows/as-fever/main/2011___ID=segments-hover___DATA=unset___NOTES=unset.png')
		url('/magick-flows/as-fever/main/2030___ID=segments-hover___DATA=unset___NOTES=unset.png')
		url('/magick-flows/as-fever/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;