<div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-container_large">
	<div class="slds-col slds-p-horizontal_medium slds-m-bottom_medium slds-size_1-of-1">
		<img class="slds-panel-box" src="/images/slices/201.data-studio.new-asset.wizard-step-1.svg" />
	</div>
	<div class="slds-col slds-p-horizontal_medium slds-size_3-of-4">
		<div class="slds-panel-box">
			<div class="slds-panel-box__body">
				<div id="details-contents" class="slds-grid slds-gutters_x-small slds-grid_align-spread slds-wrap slds-p-horizontal_medium slds-p-bottom_large">
					<div class="slds-col slds-p-vertical_xx-small slds-size_1-of-1 slds-m-top_x-small slds-text-heading_medium">Asset Properties</div>
					<div class="slds-col slds-p-vertical_xx-small slds-size_1-of-1 slds-m-top_x-small">Basic details about the asset you are provisioning</div>
					<div class="slds-col slds-p-vertical_xx-small slds-p-horizontal_small slds-size_1-of-2 segment-box slds-m-top_medium">
						<div class="segment-box_label slds-p-vertical_xxx-small">Segment To Provision</div>
						<div class="segment-box_contents">Camping and tent explorers <img class="bottom-left" src="/images/icons/down.dark-blue.svg" height="6"/></div>
					</div>
					<div class="slds-col slds-p-vertical_medium slds-size_1-of-2 slds-m-top_medium"></div>
					<div class="slds-col slds-p-vertical_xx-small slds-p-horizontal_small slds-size_1-of-2 segment-box slds-m-top_medium">
						<div class="segment-box_label slds-p-vertical_xxx-small">Display Name</div>
						<div class="segment-box_contents">Camping and tent explorers</div>
					</div>
					<div class="slds-col slds-p-vertical_medium slds-size_1-of-2 slds-m-top_medium"></div>
					<div class="slds-col slds-p-vertical_xx-small slds-p-horizontal_small slds-size_1-of-2 segment-box slds-m-top_medium" style="height: 93px;">
						<div class="segment-box_label slds-p-vertical_xxx-small">Description</div>
						<div class="segment-box_contents">Users who have viewed tents and shown interest in camping in the past 30 days.</div>
					</div>
					<div class="slds-col slds-size_1-of-2 slds-m-top_medium"></div>
					<div class="slds-col slds-p-vertical_xx-small slds-p-horizontal_small slds-size_1-of-2 segment-box slds-m-top_medium">
						<div class="segment-box_label slds-p-vertical_xxx-small">Category</div>
						<div class="segment-box_contents">Outdoors <img class="bottom-left" src="/images/icons/down.dark-blue.svg" height="6"/></div>
					</div>
					<div class="slds-col slds-size_1-of-2 slds-m-top_medium"></div>
					<div class="slds-col slds-size_1-of-2 slds-m-top_medium"><a href="javascript:void(0);">Add more information <img style="margin-top: -3px;" src="/images/icons/chevrondown-blue.svg" height="6"/></a></div>
				</div>
				<div id="activation-contents-controls" class="slds-col slds-m-vertical_large slds-p-horizontal_medium slds-size_1-of-1">
					<button id="saveButton" onclick="navigatePage('/data-studio/provisioning/new-asset.license')" class="slds-button slds-button_brand">Proceed to Setup License</button>
					<button class="slds-button slds-button_neutral">Skip License Step</button>
					<button class="slds-button slds-button_neutral">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="slds-col slds-p-right_medium slds-size_1-of-4">
		<div class="slds-panel-box" style="height: 100%;">
			<div class="slds-panel-box__header slds-p-around_small">Selected Asset Summary</div>
			<div class="slds-panel-box__body slds-p-around_medium">
				<div class="segment-box_label slds-p-vertical_xxx-small">Segment</div>
				<div class="segment-box_contents">Camping and tent explorers</div>

				<div class="segment-box_label slds-m-top_medium slds-p-vertical_xxx-small">Devices</div>
				<div class="segment-box_contents">7.3M</div>

				<div class="segment-box_label slds-m-top_medium slds-p-vertical_xxx-small">Category</div>
				<div class="segment-box_contents">Outdoors</div>

				<div class="segment-box_label slds-m-top_medium slds-p-vertical_xxx-small">Sub-Category</div>
				<div class="segment-box_contents">_</div>
			</div>
		</div>
	</div>
</div>