<% const showRPDController = locals.sanitizedQueryParams.showRPDController; %>

<style>
	body.editMode .rapidDiv {
		height: 200px;
		width: 200px;
		border: 3px double red;
		background: grey;
		position: absolute;
		top: 500px;
		left: 30px;
		display: block;
		padding: 12px;
		color: white;
		font-weight: bold;
		cursor: pointer;
	}

	body.editMode .rapidDiv:hover {
		cursor: pointer;
		border: 3px double blue;
	}

	body.editMode .rapidDiv.grabbing {
		cursor: grabbing;
	}
</style>

<div id="RPDController" style="height: 500px; min-width: 615px; overflow-x: auto; <%= showRPDController ? '' : 'display: none;' %>">
	<div class="slds-docked_container">
		<section class="slds-docked-composer slds-grid slds-grid_vertical slds-is-open" role="dialog" aria-labelledby="dialog-heading-id-1" aria-describedby="RPDControllerForm">
			<header class="slds-docked-composer__header slds-grid slds-shrink-none" aria-live="assertive">
				<div class="slds-media slds-media_center slds-no-space">
					<div class="slds-media__figure slds-m-right_x-small">
						<span class="slds-icon_container">
<svg class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#layout" />
</svg>
</span>
					</div>
					<div class="slds-media__body">
						<h2 class="slds-truncate" id="dialog-heading-id-1" title="RPD Controller">RPD Controller</h2>
					</div>
				</div>
				<div class="slds-col_bump-left slds-shrink-none">
					<button id="minimizeRPDController" class="slds-button slds-button_icon slds-button_icon" title="Minimize window">
						<svg class="slds-button__icon" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#minimize_window" />
						</svg>
						<span class="slds-assistive-text">Minimize RPD Controller</span>
					</button>
					<!-- button class="slds-button slds-button_icon slds-button_icon" title="Expand RPD Controller">
						<svg class="slds-button__icon" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#expand_alt" />
						</svg>
						<span class="slds-assistive-text">Expand RPD Controller</span>
					</button -->
					<button id="closeRPDController" class="slds-button slds-button_icon slds-button_icon" title="Close">
						<svg class="slds-button__icon" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#close" />
						</svg>
						<span class="slds-assistive-text">Close RPD Controller</span>
					</button>
				</div>
			</header>
			<div class="slds-docked-composer__body slds-docked-composer__body_form" id="RPDControllerForm">

			</div>
			<footer class="slds-docked-composer__footer slds-shrink-none slds-hidden">
				<button id="RPDControllerHomeButton" class="slds-button slds-button_neutral">Clear Selection</button>
			</footer>
		</section>
	</div>
</div>

<script src="/includes/rpd/controller.js"></script>

<script>
	console.log('<%= !showRPDController ? `RPD Controller hidden. Add ?showRPDController=true to URL to show.` : `RPD Controller visible` %>');

	<%- showRPDController ? "enableEditMode(document.getElementsByTagName('body')[0])" : '' %>

	const RPDController = document.getElementById('RPDController');

	showHomeForm(RPDController);

	document.querySelector('#addRapidDiv').addEventListener('click', () => {
		addRapidDiv(document.querySelector('body'), RPDController) 
	});

	document.querySelector('#RPDControllerHomeButton').addEventListener('click', () => {
		showHomeForm(RPDController);
	});

	document.querySelector('#closeRPDController').addEventListener('click', () => {
		showHide(RPDController, document.getElementsByTagName('body')[0]);
	});
	document.querySelector('#minimizeRPDController').addEventListener('click', () => {
		toggleOpen(document.querySelector('#RPDController > div > section').classList);
	});

	const addListener = () => {
		console.log('KONAMI CODE LISTENER ACTIVE. To deactivate, add ?disableKonami=true to URL. UP UP DOWN DOWN LEFT RIGHT LEFT RIGHT B A to show/hide RPD Controller');
		let cursor = 0;
		const KONAMI_CODE = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65];
		document.addEventListener('keydown', (e) => {
			cursor = (e.keyCode == KONAMI_CODE[cursor]) ? cursor + 1 : 0;
			if (cursor == KONAMI_CODE.length) {
				showHide(RPDController, document.getElementsByTagName('body')[0]);
				cursor = 0;
			};
		});
	}

	<% if (!locals.sanitizedQueryParams.disableKonami) { %>
		addListener();
	<% } else { %>
		console.log('KONAMI CODE LISTENER DISABLED.');
	<% } %>

	document.querySelectorAll('.rapidDiv').forEach((rpdDiv) => {
		updateData(rpdDiv);
		addListeners(rpdDiv, RPDController);
	});

</script>