$numberOfSlides: 9;
$preloadImagesData: url('/magick-flows/cnx19-a360/main/0000___ID=welcome.png')
		url('/magick-flows/cnx19-a360/main/0010___ID=dashboard___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/cnx19-a360/main/0020___ID=segment___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/cnx19-a360/main/0030___ID=profile___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/cnx19-a360/main/0040___ID=mapper.png')
		url('/magick-flows/cnx19-a360/main/0050___ID=model.png')
		url('/magick-flows/cnx19-a360/main/0060___ID=segmentation-1___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/cnx19-a360/main/0080___ID=activation-1___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/cnx19-a360/main/0090___ID=activation-2___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/cnx19-a360/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;