<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/styles/salesforce-lightning-design-system.css" />
	<link rel="stylesheet" href="/styles/style.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</head>

<body>
	<!-- home page -->
	<section class="home">
		<%- include('includes/global/header') %>
		<div class="header">
			<img src="Screen Shot 2019-07-11 at 12.35.16 PM.png" alt="">
			<div class="title">Prototype Library
				<div class="slds-text-heading_large">Your newest Library to access any demo you can imagine.</div>
			</div>
		</div>
		<div id="content-wrapper">
			<div id="content" class="slds-container_large">
				<%- include(`${locals.pageContents}`) %>
			</div>
			<div class="row">
				<div class="column">
					<div class="content">
						<a target='_blank' href="https://cnx19-as-fever.herokuapp.com/">
							<img id="connection" src="connection.png" alt="">
						</a>
						<h3>Connection</h3>
						<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
							tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
						</p>
					</div>
				</div>
				<div class="column">
					<div class="content">
						<a href="">
							<img src="Screen Shot 2019-07-11 at 12.35.16 PM.png" alt="">
						</a>
						<h3>DF!8</h3>
						<p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
							tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
						</p>
					</div>
				</div>
			</div>
		</div>

	</section>

	<!-- prototype overview page -->
	<section class="prototype">

	</section>

	<!-- prototype detailed page -->
	<section class="details">

	</section>
</body>

</html>