<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/styles/salesforce-lightning-design-system.css" />
		<link rel="stylesheet" href="/styles/style.css">
	</head>

	<body>
		<%- include('includes/global/header') %>
		<div class="container">
			<img src="Screen Shot 2019-07-11 at 12.35.16 PM.png" alt="">
			<div class="title">Prototype Library
			<div class="desc">Your newest Library to access any demo you can imagine.</div>
			</div>
			
		</div>
		<div id="content-wrapper">
			<div id="content" class="slds-container_large">
				<%- include(`${locals.pageContents}`) %>
			</div>
		</div>
	</body>
</html>
