$numberOfSlides: 14;
$heightOfSlideValue: 812;
$widthOfSlideValue: 375;
$widthOfGutterValue: 20;

$widthOfAppSwitcher: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) + 0px;
$heightOfAppSwitcher: $heightOfSlideValue + 0px;
$heightOfSlide: $heightOfSlideValue + 0px;
$widthOfSlide: $widthOfSlideValue + 0px;



/* This is done to preload images and reduce load flicker */
body::after {
	backface-visibility: visible;
	content: url('/images/snake-pit-popup.png')

		url('/magick-flows/bbva-mobile/0000___ID=google-search-results___DATA=has-sticky-header__has-sticky-footer.png')
		url('/magick-flows/bbva-mobile/0100___ID=homepage-1___DATA=has-sticky-header__has-sticky-footer.png')
		url('/magick-flows/bbva-mobile/0200___ID=homepage-2___DATA=has-sticky-header__has-sticky-footer.png')
		url('/magick-flows/bbva-mobile/0300___ID=mortgages-1___DATA=has-sticky-header__has-sticky-footer.png')
		url('/magick-flows/bbva-mobile/0400___ID=homepage-3___DATA=has-sticky-header__has-sticky-footer.png')
		url('/magick-flows/bbva-mobile/0500___ID=valora-home.png')
		url('/magick-flows/bbva-mobile/0600___ID=valora-email-field-blank.png')
		url('/magick-flows/bbva-mobile/0700___ID=valora-email-field-filled.png')
		url('/magick-flows/bbva-mobile/0800___ID=valora-use-camera.png')
		url('/magick-flows/bbva-mobile/0900___ID=valora-fake-video-gif.gif')
		url('/magick-flows/bbva-mobile/1000___ID=valora-fake-video-found-home.png')
		url('/magick-flows/bbva-mobile/1100___ID=valora-results___DATA=has-sticky-header__has-sticky-footer.png')
		url('/magick-flows/bbva-mobile/1200___ID=valora-details___DATA=has-sticky-header__has-sticky-footer.png')
		url('/magick-flows/bbva-mobile/1300___ID=mortgage-app-step-0___DATA=has-sticky-header.png')
		url('/magick-flows/bbva-mobile/1400___ID=mortgage-app-step-2___DATA=has-sticky-header__has-sticky-footer.png')
	;

	height: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
	z-index: -1;
}




@import "./../../../../engine/styles/magick-flows.scss";


.magick-flows--slide-5 {
	background-color: #00366f;
}
