$numberOfSlides: 21;
$preloadImagesData: url('/magick-flows/svg-vs-png/main/0000___ID=journey-canvas-for-fever___NOTES=click-email-welcome-appointment-schedule.png')
		url('/magick-flows/svg-vs-png/main/0100___ID=email-editor-reset___NOTES=click-on-skyline-image-block-in-email.png')
		url('/magick-flows/svg-vs-png/main/1000____ID=mp-advertising-studio___DATA=unset___NOTES=Hi.png')
		url('/magick-flows/svg-vs-png/main/2000___ID=Michael-Page-Welcome___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/svg-vs-png/main/2100___ID=Lifecycle-Stages___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/svg-vs-png/main/2200___ID=Michael-Page-Monitor-with-Audience___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/svg-vs-png/main/3000___ID=c360-dashboard___DATA=unset___NOTES=This-came-from-Figma-but-has-stuff-to-test.png')
		url('/magick-flows/svg-vs-png/main/3100___ID=c360-user-details___DATA=unset___NOTES=This-came-from-Figma-but-has-stuff-to-test.png')
		url('/magick-flows/svg-vs-png/main/3200___ID=c360-segment-details___DATA=unset___NOTES=This-came-from-Figma-but-has-stuff-to-test.png')
		url('/magick-flows/svg-vs-png/main/3200___ID=c360-segmentation___DATA=unset___NOTES=This-came-from-Figma-but-has-stuff-to-test.png')
		url('/magick-flows/svg-vs-png/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;