$numberOfSlides: 34;
$preloadImagesData: url('/magick-flows/b2b-flow/main/0110___ID=b2b-marketing-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2b-flow/main/0120___ID=b2b-campaign-record-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2b-flow/main/0130___ID=b2b-journey-intro.png')
		url('/magick-flows/b2b-flow/main/0135___ID=b2b-journey-intro.png')
		url('/magick-flows/b2b-flow/main/0140___ID=b2b-journey-app-exchange.png')
		url('/magick-flows/b2b-flow/main/0150___ID=b2b-jb-isv___DATA=is-own-header__own-header-height--98__show-drawer-from-left--instantly__hide-drawer-from-left--on-leave.png')
		url('/magick-flows/b2b-flow/main/0151___ID=b2b-jb-isv___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0152___ID=b2b-jb-isv___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0153___ID=b2b-jb-isv___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0154___ID=b2b-jb-isv___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0155___ID=b2b-jb-isv___DATA=is-own-header__own-header-height--98.png')
		url('/magick-flows/b2b-flow/main/0160___ID=b2b-jb-email___DATA=is-own-header__own-header-height--98__show-drawer-from-right--on-arrival__hide-drawer-from-right--never.png')
		url('/magick-flows/b2b-flow/main/0170___ID=b2b-journey-email-selected.png')
		url('/magick-flows/b2b-flow/main/0180___ID=b2b-journey-email-select-edit.png')
		url('/magick-flows/b2b-flow/main/0185___ID=b2b-journey-email-rebel-mail.png')
		url('/magick-flows/b2b-flow/main/0186___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0187___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0188___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0189___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0190___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0191___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0192___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0193___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0194___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0195___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0196___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0197___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/b2b-flow/main/0198___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/b2b-flow/main/0200___ID=b2b-journey-email-rebel-mail.png')
		url('/magick-flows/b2b-flow/main/0220___ID=b2b-jb-done___DATA=is-own-header__own-header-height--98.png')
		url('/magick-flows/b2b-flow/main/0230___ID=b2b-campaign-record-analytics___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2b-flow/main/0240___ID=contact-record-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2b-flow/main/0250___ID=business-dashboard___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/b2b-flow/main/0260___ID=route-map-complete___DATA=use-step-transition__step-transition_app-switch.png')
		url('/magick-flows/b2b-flow/assets/all__viewport-size.png')
		url('/magick-flows/b2b-flow/assets/b2b-jb-email___drawer-from-right.png')
		url('/magick-flows/b2b-flow/assets/b2b-jb-isv___drawer-from-left.png')
		url('/magick-flows/b2b-flow/assets/b2c-bots___drawer-from-right.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;