<div id="channel-engagement-here"></div>
<script>
	const addChannelEngagementSVG = (data) => (`<%- include('images/slices/channel-engagement.svg') %>`);

	document.querySelector('#channel-engagement-here').innerHTML = addChannelEngagementSVG();

	let triggeredChannelEngagementGraphAnimation = false;
	const animateChannelEngagementGraph = () => {
		if (window.scrollY > 400 && !triggeredChannelEngagementGraphAnimation) {
			triggeredChannelEngagementGraphAnimation = true;

			document.querySelector('#channel-engagement-here').innerHTML = addChannelEngagementSVG();
		}
	};

	document.addEventListener("scroll", animateChannelEngagementGraph);
</script>