<!-- DON'T USE THIS FILE AS AN EXAMPLE. USE service-cases.ejs METHOD INSTEAD -->
<div id="cpa-here"><%- include('images/slices/cpa-blank.svg') %></div>
<script>
	const addCPASVG = (data) => (`<%- include('images/slices/cpa.svg') %>`);

	let triggeredCPAGraphAnimation = false;
	const animateCPAGraph = () => {
		triggeredCPAGraphAnimation = true;

		document.querySelector('#cpa-here').innerHTML = addCPASVG();
	};
</script>