<div id="service-cases-here" class="slds-m-bottom_xxx-small"><%- include('images/slices/service-cases.svg') %></div>
<script>
	let triggeredServiceCasesGraphAnimation = false;
	const animateServiceCasesGraph = () => {
		if (window.scrollY > 800 && !triggeredServiceCasesGraphAnimation) {
			triggeredServiceCasesGraphAnimation = true;

			document.querySelectorAll('.fill-in, .draw-in').forEach(elm => elm.style.animationPlayState = 'running');
		}
	};

	document.addEventListener("scroll", animateServiceCasesGraph);
</script>