<!-- DON'T USE THIS FILE AS AN EXAMPLE. USE service-cases.ejs METHOD INSTEAD -->
<div id="tcp-here"><%- include('images/slices/tcp-blank.svg') %></div>
<script>
	const addTCPSVG = (data) => (`<%- include('images/slices/tcp.svg') %>`);

	let triggeredTCPGraphAnimation = false;
	const animateTCPGraph = () => {
		triggeredTCPGraphAnimation = true;

		document.querySelector('#tcp-here').innerHTML = addTCPSVG();

		const audience = document.querySelector('#numberAudience');

		audience.textContent = '0M';

		let audienceNumber = .1;

		const increase = () => {
			if (audienceNumber < 1.56) {
				audienceNumber += .01;

				audience.textContent = `${audienceNumber.toFixed(2)}M`;
				window.setTimeout(increase, 14);
			}
		}

		increase();
	};

</script>