@import "./variables.scss";

$numberOfSlides: 1 !default;
$preloadImagesData: "url('/fake.png')" !default;

$heightOfSlideValue: 720 !default;
$widthOfSlideValue: 1280 !default;
$widthOfGutterValue: 1280 !default;

$widthOfAppSwitcher: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) + 0px;
$widthOfAppSwitcherShrunk: ((($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) * 1.25) + 0px;

$heightOfAppSwitcher: $heightOfSlideValue + 0px;
$heightOfSlide: $heightOfSlideValue + 0px;
$widthOfSlide: $widthOfSlideValue + 0px;

$widthOfAppSwitcherNegative: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) * -1px;
$heightOfAppSwitcherNegative: $heightOfSlideValue * -1px;
$heightOfSlideNegative: $heightOfSlideValue * -1px;
$widthOfSlideNegative: $widthOfSlideValue * -1px;

/* This is done to preload images and reduce load flicker */
body::after {
	backface-visibility: visible;
	content: $preloadImagesData;
	outline:1px solid red;
	height: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
	z-index: -1;
}

$widthOfAppSwitcher: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) + 0px;
$heightOfAppSwitcher: $heightOfSlideValue + 0px;
$heightOfSlide: $heightOfSlideValue + 0px;
$widthOfSlide: $widthOfSlideValue + 0px;

@import "./../../../../engine/styles/magick-flows.scss";



html {
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: #514f4d;
  color: #080707;
  -webkit-tap-highlight-color: transparent;
}

.container {
  background: url(/images/home-background.jpg) no-repeat top left;
  background-size: 100% 100%;
  height: $heightOfAppSwitcher;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: $widthOfSlideValue;
}

body.magick-flow {
  background: transparent !important;
  overflow: hidden;
  width: 100vw;
}

div#content-wrapper {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.61);
  border-radius: 0.25rem;
  position: relative;
  left: auto;
  margin: 0px auto;
}

.app-switcher-one {
  transition: 400ms transform, 800ms left !important;
  width: $widthOfAppSwitcherShrunk ;

  &.shrink {
    transform: scale(0.98) !important;
  }

  &.rounded-corners {
    .magick-flows-step {
      box-shadow: none !important;

    }
  }

}
