<div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-m-around__xx-large">
    <div class="slds-col slds-p-horizontal_medium slds-size_1-of-1">
        <div class="slds-panel-box">
            <div class="slds-panel-box__header slds-p-around_x-small">
                <img class="icon slds-float_right" src="/images/settings.svg" />
            </div>
            <div class="slds-panel-box__body" style="background-color: white;">
                Marketing Cloud Homepage
            </div>
            <input type="file" accept="image/*">

        </div>
    </div>
</div>
