$numberOfSlides: 11;
$preloadImagesData: url('/magick-flows/iphone/main/0000___ID=bot-chat.png')
		url('/magick-flows/iphone/main/0010___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/iphone/main/0020___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/iphone/main/0030___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--slow.png')
		url('/magick-flows/iphone/main/0040___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/iphone/main/0050___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/iphone/main/0060___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/iphone/main/0070___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/iphone/main/0080___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/iphone/main/0090___ID=bot-chat.png')
		url('/magick-flows/iphone/main/0091___ID=bot-chat___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/iphone/assets/all__viewport-size.png');
$heightOfSlideValue: 812;
$widthOfSlideValue: 375;
$widthOfGutterValue: 375;