$numberOfSlides: 4;
$preloadImagesData: url('/magick-flows/advertising-studio-mp/main/cnx11@2x.png')
		url('/magick-flows/advertising-studio-mp/main/cnx22@2x.png')
		url('/magick-flows/advertising-studio-mp/main/cnx33@2x.png')
		url('/magick-flows/advertising-studio-mp/main/cnx44@2x.png')
		url('/magick-flows/advertising-studio-mp/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;