<div id="top" class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch">
    <p>Insights</p>
</div>
<div id="middle" class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch">
    <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
        <%- include('components/highcharts.data-capture-events.ejs') %>
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-2">
        <%- include('components/highcharts.data-capture-methods.ejs') %>
    </div>
</div>
<div id="bottom" class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-p-top_medium">
    <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
        <%- include('components/highcharts.marketer-campaigns.ejs') %>
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-2">
        <%- include('components/chart.activation-partners.ejs') %>
    </div>
</div>