<div class="slds-grid slds-grid_pull-padded-small slds-grid_align-spread slds-wrap">

<div class="slds-col slds-p-horizontal_medium slds-size_1-of-1">
    <div class="slds-panel-box">
        <div class="slds-panel-box__header slds-p-around_small">Data included in the analysis <img src="/images/icons/chevronup.svg" style="float: right;" /></div>
        <div class="slds-panel-box__body">
            <%- include('includes/insights/einstein-segmentation.top.svg.ejs') %>
        </div>
    </div>
</div>
<div class="slds-col slds-p-horizontal_medium slds-m-vertical_medium slds-size_1-of-1">
    <div class="slds-panel-box">
        <div class="slds-panel-box__header slds-p-around_small">
            <div class="slds-grid slds-grid_align-spread">
                <div>
                    Top Personas
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="info" width="100%" height="100%" style="float: none;">
                        <path d="M12 .9C5.9.9.9 5.9.9 12s5 11.1 11.1 11.1 11.1-5 11.1-11.1S18.1.9 12 .9zm0 5.6c.8 0 1.4.6 1.4 1.4s-.6 1.4-1.4 1.4-1.4-.6-1.4-1.4.6-1.4 1.4-1.4zm2.3 9.7c0 .2-.2.4-.5.4h-3.6c-.3 0-.5-.1-.5-.4v-.9c0-.3.2-.5.5-.5.2 0 .4-.2.4-.4v-1.9c0-.2-.2-.5-.4-.5-.3 0-.5-.1-.5-.4v-.9c0-.3.2-.5.5-.5h2.7c.3 0 .5.2.5.5v3.7c0 .2.2.4.4.4.3 0 .5.2.5.5v.9z"></path>
                    </svg>
                </div>
                <!--div class="slds-col_bump-left">
                    <a class="slds-text-body_small">View All Personas</a>
                </div-->
            </div>
        </div>
        <div id="topPersonas" class="slds-panel-box__body">
            <div class="slds-grid slds-grid_align-spread">
                <div class="slds-col slds-size_5-of-12">
                    <p class="slds-p-around_medium">
                        Displaying <b>Top 5</b> out of <b>175 Personas</b> picked using <a style="color: #0070D2"><b>Salesforce DMP Persona Rank™</b></a> from your audience.
                    </p>
                    <svg id="canvas"></svg>
                    <div id="legend" class="slds-grid slds-grid_vertical-align-center slds-m-bottom_medium">
                        <div>
                            <img src="/images/icons/legend.size-icon.svg" /><span>Devices (reach)</span>
                        </div>
                        <div>
                        <img src="/images/icons/legend.overlap-icon.svg" /><span>Overlap</span>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_7-of-12">
                    <div class="slds-grid slds-grid_align-spread slds-grid_vertical-align-center">
                        <div class="slds-p-horizontal_small">
                            <div id="formLeft"><img src="/images/icons/chevronleft.svg" /></div>
                        </div>
                        <div class="slds-col">
                            <div id="form" class="slds-p-horizontal_medium slds-p-top_small slds-m-vertical_medium"></div>
                            <div id="formDots">
                                <div id="dots"></div>
                            </div>
                        </div>
                        <div class="slds-p-horizontal_small">
                            <div id="formRight"><img src="/images/icons/chevronright.svg" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slds-col slds-p-horizontal_medium slds-size_1-of-1">
    <div class="slds-panel-box">
        <div class="slds-panel-box__header slds-p-around_small">All Personas</div>
        <div class="slds-panel-box__body">
            <img id="all-personas" src="/images/slices/insights.einstein-segmentation.bottom.svg" />
        </div>
    </div>
</div>
</div>

<script>
const actionButtons = `<%- locals.localization.einstein_segmentation.actions.reduce((html, action) => html + `<div class="slds-p-horizontal_xx-small" style="margin: 0 auto; width: 276px;">
        <button
            ${action.onclick ? `onclick="navigatePage('${action.onclick}')" ` : ''}
            id="confirm"
            type="submit"
            class="slds-button slds-button_brand"
            value="${action.text}">${action.text}</button>
    </div>`, ''); %>`;

// interactive force radial graph
// http://bl.ocks.org/Guerino1/2879486
const graph = <%- JSON.stringify(locals.localization.einstein_segmentation.personas_graph_data) %>;
</script>