/* This is done to preload images and reduce load flicker */
body::after {
  backface-visibility: visible;
  content: url("/magick-flows/mc2-inov8-summit-2019/main/0010___ID=login-empty.png") url("/magick-flows/mc2-inov8-summit-2019/main/0015___ID=login-filled.png") url("/magick-flows/mc2-inov8-summit-2019/main/0020___ID=sales-home___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0030___ID=app-launcher.png") url("/magick-flows/mc2-inov8-summit-2019/main/0040___ID=marketing-home___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0050___ID=b2c-campaign-record-home___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0051___ID=a360-show-segment.png") url("/magick-flows/mc2-inov8-summit-2019/main/0052___ID=a360-edit-segment-1.png") url("/magick-flows/mc2-inov8-summit-2019/main/0053___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0054___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0055___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0056___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0057___ID=a360-counter___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0058___ID=a360-edit-segment-2.png") url("/magick-flows/mc2-inov8-summit-2019/main/0059___ID=b2c-campaign-record-home___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0060___ID=campaign-events___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0061___ID=campaign-events___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0062___ID=campaign-events___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0063___ID=campaign-events___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0064___ID=campaign-events.png") url("/magick-flows/mc2-inov8-summit-2019/main/0070___ID=b2c-journey-intro___DATA=is-own-header__own-header-height--98.png") url("/magick-flows/mc2-inov8-summit-2019/main/0071___ID=b2c-journey-intro___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0072___ID=b2c-journey-intro___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0073___ID=b2c-journey-intro___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0080___ID=b2c-bots___DATA=show-drawer-from-right--on-arrival__hide-drawer-from-right--never.png") url("/magick-flows/mc2-inov8-summit-2019/main/0090___ID=b2c-bots-with-phone.png") url("/magick-flows/mc2-inov8-summit-2019/main/0100___ID=b2c-journey-add-bot-done.png") url("/magick-flows/mc2-inov8-summit-2019/main/0110___ID=b2b-marketing-home___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0120___ID=b2b-campaign-record-home___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0130___ID=b2b-journey-intro.png") url("/magick-flows/mc2-inov8-summit-2019/main/0135___ID=b2b-journey-intro.png") url("/magick-flows/mc2-inov8-summit-2019/main/0140___ID=b2b-journey-app-exchange.png") url("/magick-flows/mc2-inov8-summit-2019/main/0150___ID=b2b-jb-isv___DATA=is-own-header__own-header-height--98__show-drawer-from-left--instantly__hide-drawer-from-left--on-leave.png") url("/magick-flows/mc2-inov8-summit-2019/main/0151___ID=b2b-jb-isv___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0152___ID=b2b-jb-isv___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0153___ID=b2b-jb-isv___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0154___ID=b2b-jb-isv___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0155___ID=b2b-jb-isv___DATA=is-own-header__own-header-height--98.png") url("/magick-flows/mc2-inov8-summit-2019/main/0156___ID=b2b-jb-email___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0157___ID=b2b-jb-email___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0158___ID=b2b-jb-email___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0159___ID=b2b-jb-email___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0160___ID=b2b-jb-email___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0161___ID=b2b-jb-email___DATA=is-own-header__own-header-height--98__show-drawer-from-right--on-arrival__hide-drawer-from-right--never.png") url("/magick-flows/mc2-inov8-summit-2019/main/0170___ID=b2b-journey-email-selected.png") url("/magick-flows/mc2-inov8-summit-2019/main/0180___ID=b2b-journey-email-select-edit.png") url("/magick-flows/mc2-inov8-summit-2019/main/0185___ID=b2b-journey-email-rebel-mail.png") url("/magick-flows/mc2-inov8-summit-2019/main/0186___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0187___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0188___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0189___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0190___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0191___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0192___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0193___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0194___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0195___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0196___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0197___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png") url("/magick-flows/mc2-inov8-summit-2019/main/0198___ID=b2b-journey-email-rebel-mail___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png") url("/magick-flows/mc2-inov8-summit-2019/main/0200___ID=b2b-journey-email-rebel-mail.png") url("/magick-flows/mc2-inov8-summit-2019/main/0220___ID=b2b-jb-done___DATA=is-own-header__own-header-height--98.png") url("/magick-flows/mc2-inov8-summit-2019/main/0230___ID=b2b-campaign-record-analytics___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0240___ID=contact-record-home___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0250___ID=business-dashboard___DATA=is-own-header__own-header-height--90.png") url("/magick-flows/mc2-inov8-summit-2019/main/0260___ID=route-map-complete___DATA=use-step-transition__step-transition_app-switch.png") url("/magick-flows/mc2-inov8-summit-2019/assets/all__viewport-size.png") url("/magick-flows/mc2-inov8-summit-2019/assets/b2b-jb-email___drawer-from-right.png") url("/magick-flows/mc2-inov8-summit-2019/assets/b2b-jb-isv___drawer-from-left.png") url("/magick-flows/mc2-inov8-summit-2019/assets/b2c-bots___drawer-from-right.png") url("/magick-flows/mc2-inov8-summit-2019/assets/b2c-bots-selected___drawer-from-right.png");
  outline: 1px solid red;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent tap highlight color / shadow */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
}

body {
  background: white;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body, .container {
  background: url("/images/home-background.jpg") no-repeat top left;
  background-size: 100% 100%;
  height: 720px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1280px;
}

.ios-notification {
  margin: 0 auto;
  position: absolute;
  transition: 500ms top ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: -720px;
  transition: 500ms top ease-in-out;
  will-change: top;
}

.ios-notification.slide-in {
  top: 0px;
  transition: 500ms top ease-in-out;
  will-change: top;
}

.magick-flows-drawer {
  pointer-events: none;
}

.magick-flows-drawer--from-top {
  margin: 0 auto;
  position: absolute;
  transition: 500ms top ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: -720px;
  transition: 500ms top ease-in-out;
  will-change: top;
}

.magick-flows-drawer--from-top.slide-in {
  top: 0px;
  transition: 500ms top ease-in-out;
  will-change: top;
}

.magick-flows-drawer--from-top.be-in {
  top: 0px;
  transition: 0ms top;
  will-change: top;
}

.magick-flows-drawer--from-left {
  margin: 0 auto;
  position: absolute;
  transition: 500ms left ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: 0;
  left: -1280px;
  will-change: left;
}

.magick-flows-drawer--from-left.slide-in {
  left: 0px;
  transition: 500ms left ease-in-out;
  will-change: left;
}

.magick-flows-drawer--from-left.be-in {
  left: 0px;
  transition: 0ms left;
  will-change: left;
}

.magick-flows-drawer--from-right {
  margin: 0 auto;
  position: absolute;
  transition: 500ms right ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: 0;
  right: -1280px;
  will-change: right;
}

.magick-flows-drawer--from-right.slide-in {
  right: 0px;
  transition: 500ms right ease-in-out;
  will-change: right;
}

.magick-flows-drawer--from-right.be-in {
  right: 0px;
  transition: 0ms right;
  will-change: right;
}

.magick-flows-drawer--from-bottom {
  margin: 0 auto;
  position: absolute;
  transition: 500ms bottom ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  bottom: -720px;
  will-change: bottom;
}

.magick-flows-drawer--from-bottom.slide-in {
  bottom: 0px;
  transition: 500ms bottom ease-in-out;
  will-change: bottom;
}

.magick-flows-drawer--from-bottom.be-in {
  bottom: 0px;
  transition: 0ms bottom;
  will-change: bottom;
}

.magick-flows--step {
  background-color: transparent;
}

.app-switcher-one {
  height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  transition: 2000ms transform, 800ms left;
  width: 167680px;
}

.app-switcher-one.shrink {
  transform: scale(0.95);
  will-change: transform;
}

.app-switcher-one.shrink .magick-flows--step {
  background-color: white;
}

.app-switcher-one.rounded-corners .magick-flows-step {
  border-radius: 2rem;
  background-clip: border-box;
  overflow: hidden;
  box-shadow: 0 0.5rem 1.2rem 0.3rem rgba(0, 0, 0, 0.6);
}

.app-switcher-one.rounded-corners .magick-flows-step .slds-scrollable {
  max-height: 720px;
  height: 720px;
}

.app-switcher-one.rounded-corners .magick-flows-step.notification {
  background-color: transparent;
}

.app-switcher-one.slide-left-0 {
  left: 640px;
}

.app-switcher-one.be-left-0 {
  left: 0px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-0 {
  left: 0px;
}

body.debug div#drawer-from-top--step-0::before {
  content: "Drawer #0";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-0 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 0px;
}

.app-switcher-one.be-left-1 {
  left: -2560px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-1 {
  left: -2560px;
}

body.debug div#drawer-from-top--step-1::before {
  content: "Drawer #1";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-1 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 2560px;
}

.app-switcher-one.be-left-2 {
  left: -5120px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-2 {
  left: -5120px;
}

body.debug div#drawer-from-top--step-2::before {
  content: "Drawer #2";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-2 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 5120px;
}

.app-switcher-one.be-left-3 {
  left: -7680px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-3 {
  left: -7680px;
}

body.debug div#drawer-from-top--step-3::before {
  content: "Drawer #3";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-3 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 7680px;
}

.app-switcher-one.be-left-4 {
  left: -10240px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-4 {
  left: -10240px;
}

body.debug div#drawer-from-top--step-4::before {
  content: "Drawer #4";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-4 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 10240px;
}

.app-switcher-one.be-left-5 {
  left: -12800px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-5 {
  left: -12800px;
}

body.debug div#drawer-from-top--step-5::before {
  content: "Drawer #5";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-5 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 12800px;
}

.app-switcher-one.be-left-6 {
  left: -15360px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-6 {
  left: -15360px;
}

body.debug div#drawer-from-top--step-6::before {
  content: "Drawer #6";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-6 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 15360px;
}

.app-switcher-one.be-left-7 {
  left: -17920px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-7 {
  left: -17920px;
}

body.debug div#drawer-from-top--step-7::before {
  content: "Drawer #7";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-7 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 17920px;
}

.app-switcher-one.be-left-8 {
  left: -20480px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-8 {
  left: -20480px;
}

body.debug div#drawer-from-top--step-8::before {
  content: "Drawer #8";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-8 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 20480px;
}

.app-switcher-one.be-left-9 {
  left: -23040px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-9 {
  left: -23040px;
}

body.debug div#drawer-from-top--step-9::before {
  content: "Drawer #9";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-9 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 23040px;
}

.app-switcher-one.be-left-10 {
  left: -25600px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-10 {
  left: -25600px;
}

body.debug div#drawer-from-top--step-10::before {
  content: "Drawer #10";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-10 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 25600px;
}

.app-switcher-one.be-left-11 {
  left: -28160px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-11 {
  left: -28160px;
}

body.debug div#drawer-from-top--step-11::before {
  content: "Drawer #11";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-11 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 28160px;
}

.app-switcher-one.be-left-12 {
  left: -30720px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-12 {
  left: -30720px;
}

body.debug div#drawer-from-top--step-12::before {
  content: "Drawer #12";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-12 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 30720px;
}

.app-switcher-one.be-left-13 {
  left: -33280px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-13 {
  left: -33280px;
}

body.debug div#drawer-from-top--step-13::before {
  content: "Drawer #13";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-13 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 33280px;
}

.app-switcher-one.be-left-14 {
  left: -35840px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-14 {
  left: -35840px;
}

body.debug div#drawer-from-top--step-14::before {
  content: "Drawer #14";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-14 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 35840px;
}

.app-switcher-one.be-left-15 {
  left: -38400px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-15 {
  left: -38400px;
}

body.debug div#drawer-from-top--step-15::before {
  content: "Drawer #15";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-15 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 38400px;
}

.app-switcher-one.be-left-16 {
  left: -40960px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-16 {
  left: -40960px;
}

body.debug div#drawer-from-top--step-16::before {
  content: "Drawer #16";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-16 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 40960px;
}

.app-switcher-one.be-left-17 {
  left: -43520px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-17 {
  left: -43520px;
}

body.debug div#drawer-from-top--step-17::before {
  content: "Drawer #17";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-17 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 43520px;
}

.app-switcher-one.be-left-18 {
  left: -46080px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-18 {
  left: -46080px;
}

body.debug div#drawer-from-top--step-18::before {
  content: "Drawer #18";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-18 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 46080px;
}

.app-switcher-one.be-left-19 {
  left: -48640px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-19 {
  left: -48640px;
}

body.debug div#drawer-from-top--step-19::before {
  content: "Drawer #19";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-19 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 48640px;
}

.app-switcher-one.be-left-20 {
  left: -51200px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-20 {
  left: -51200px;
}

body.debug div#drawer-from-top--step-20::before {
  content: "Drawer #20";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-20 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 51200px;
}

.app-switcher-one.be-left-21 {
  left: -53760px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-21 {
  left: -53760px;
}

body.debug div#drawer-from-top--step-21::before {
  content: "Drawer #21";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-21 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 53760px;
}

.app-switcher-one.be-left-22 {
  left: -56320px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-22 {
  left: -56320px;
}

body.debug div#drawer-from-top--step-22::before {
  content: "Drawer #22";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-22 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 56320px;
}

.app-switcher-one.be-left-23 {
  left: -58880px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-23 {
  left: -58880px;
}

body.debug div#drawer-from-top--step-23::before {
  content: "Drawer #23";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-23 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 58880px;
}

.app-switcher-one.be-left-24 {
  left: -61440px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-24 {
  left: -61440px;
}

body.debug div#drawer-from-top--step-24::before {
  content: "Drawer #24";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-24 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 61440px;
}

.app-switcher-one.be-left-25 {
  left: -64000px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-25 {
  left: -64000px;
}

body.debug div#drawer-from-top--step-25::before {
  content: "Drawer #25";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-25 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 64000px;
}

.app-switcher-one.be-left-26 {
  left: -66560px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-26 {
  left: -66560px;
}

body.debug div#drawer-from-top--step-26::before {
  content: "Drawer #26";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-26 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 66560px;
}

.app-switcher-one.be-left-27 {
  left: -69120px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-27 {
  left: -69120px;
}

body.debug div#drawer-from-top--step-27::before {
  content: "Drawer #27";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-27 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 69120px;
}

.app-switcher-one.be-left-28 {
  left: -71680px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-28 {
  left: -71680px;
}

body.debug div#drawer-from-top--step-28::before {
  content: "Drawer #28";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-28 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 71680px;
}

.app-switcher-one.be-left-29 {
  left: -74240px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-29 {
  left: -74240px;
}

body.debug div#drawer-from-top--step-29::before {
  content: "Drawer #29";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-29 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 74240px;
}

.app-switcher-one.be-left-30 {
  left: -76800px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-30 {
  left: -76800px;
}

body.debug div#drawer-from-top--step-30::before {
  content: "Drawer #30";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-30 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 76800px;
}

.app-switcher-one.be-left-31 {
  left: -79360px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-31 {
  left: -79360px;
}

body.debug div#drawer-from-top--step-31::before {
  content: "Drawer #31";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-31 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 79360px;
}

.app-switcher-one.be-left-32 {
  left: -81920px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-32 {
  left: -81920px;
}

body.debug div#drawer-from-top--step-32::before {
  content: "Drawer #32";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-32 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 81920px;
}

.app-switcher-one.be-left-33 {
  left: -84480px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-33 {
  left: -84480px;
}

body.debug div#drawer-from-top--step-33::before {
  content: "Drawer #33";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-33 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 84480px;
}

.app-switcher-one.be-left-34 {
  left: -87040px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-34 {
  left: -87040px;
}

body.debug div#drawer-from-top--step-34::before {
  content: "Drawer #34";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-34 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 87040px;
}

.app-switcher-one.be-left-35 {
  left: -89600px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-35 {
  left: -89600px;
}

body.debug div#drawer-from-top--step-35::before {
  content: "Drawer #35";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-35 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 89600px;
}

.app-switcher-one.be-left-36 {
  left: -92160px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-36 {
  left: -92160px;
}

body.debug div#drawer-from-top--step-36::before {
  content: "Drawer #36";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-36 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 92160px;
}

.app-switcher-one.be-left-37 {
  left: -94720px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-37 {
  left: -94720px;
}

body.debug div#drawer-from-top--step-37::before {
  content: "Drawer #37";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-37 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 94720px;
}

.app-switcher-one.be-left-38 {
  left: -97280px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-38 {
  left: -97280px;
}

body.debug div#drawer-from-top--step-38::before {
  content: "Drawer #38";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-38 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 97280px;
}

.app-switcher-one.be-left-39 {
  left: -99840px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-39 {
  left: -99840px;
}

body.debug div#drawer-from-top--step-39::before {
  content: "Drawer #39";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-39 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 99840px;
}

.app-switcher-one.be-left-40 {
  left: -102400px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-40 {
  left: -102400px;
}

body.debug div#drawer-from-top--step-40::before {
  content: "Drawer #40";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-40 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 102400px;
}

.app-switcher-one.be-left-41 {
  left: -104960px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-41 {
  left: -104960px;
}

body.debug div#drawer-from-top--step-41::before {
  content: "Drawer #41";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-41 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 104960px;
}

.app-switcher-one.be-left-42 {
  left: -107520px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-42 {
  left: -107520px;
}

body.debug div#drawer-from-top--step-42::before {
  content: "Drawer #42";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-42 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 107520px;
}

.app-switcher-one.be-left-43 {
  left: -110080px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-43 {
  left: -110080px;
}

body.debug div#drawer-from-top--step-43::before {
  content: "Drawer #43";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-43 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 110080px;
}

.app-switcher-one.be-left-44 {
  left: -112640px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-44 {
  left: -112640px;
}

body.debug div#drawer-from-top--step-44::before {
  content: "Drawer #44";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-44 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 112640px;
}

.app-switcher-one.be-left-45 {
  left: -115200px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-45 {
  left: -115200px;
}

body.debug div#drawer-from-top--step-45::before {
  content: "Drawer #45";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-45 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 115200px;
}

.app-switcher-one.be-left-46 {
  left: -117760px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-46 {
  left: -117760px;
}

body.debug div#drawer-from-top--step-46::before {
  content: "Drawer #46";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-46 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 117760px;
}

.app-switcher-one.be-left-47 {
  left: -120320px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-47 {
  left: -120320px;
}

body.debug div#drawer-from-top--step-47::before {
  content: "Drawer #47";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-47 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 120320px;
}

.app-switcher-one.be-left-48 {
  left: -122880px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-48 {
  left: -122880px;
}

body.debug div#drawer-from-top--step-48::before {
  content: "Drawer #48";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-48 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 122880px;
}

.app-switcher-one.be-left-49 {
  left: -125440px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-49 {
  left: -125440px;
}

body.debug div#drawer-from-top--step-49::before {
  content: "Drawer #49";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-49 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 125440px;
}

.app-switcher-one.be-left-50 {
  left: -128000px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-50 {
  left: -128000px;
}

body.debug div#drawer-from-top--step-50::before {
  content: "Drawer #50";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-50 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 128000px;
}

.app-switcher-one.be-left-51 {
  left: -130560px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-51 {
  left: -130560px;
}

body.debug div#drawer-from-top--step-51::before {
  content: "Drawer #51";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-51 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 130560px;
}

.app-switcher-one.be-left-52 {
  left: -133120px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-52 {
  left: -133120px;
}

body.debug div#drawer-from-top--step-52::before {
  content: "Drawer #52";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-52 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 133120px;
}

.app-switcher-one.be-left-53 {
  left: -135680px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-53 {
  left: -135680px;
}

body.debug div#drawer-from-top--step-53::before {
  content: "Drawer #53";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-53 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 135680px;
}

.app-switcher-one.be-left-54 {
  left: -138240px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-54 {
  left: -138240px;
}

body.debug div#drawer-from-top--step-54::before {
  content: "Drawer #54";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-54 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 138240px;
}

.app-switcher-one.be-left-55 {
  left: -140800px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-55 {
  left: -140800px;
}

body.debug div#drawer-from-top--step-55::before {
  content: "Drawer #55";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-55 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 140800px;
}

.app-switcher-one.be-left-56 {
  left: -143360px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-56 {
  left: -143360px;
}

body.debug div#drawer-from-top--step-56::before {
  content: "Drawer #56";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-56 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 143360px;
}

.app-switcher-one.be-left-57 {
  left: -145920px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-57 {
  left: -145920px;
}

body.debug div#drawer-from-top--step-57::before {
  content: "Drawer #57";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-57 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 145920px;
}

.app-switcher-one.be-left-58 {
  left: -148480px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-58 {
  left: -148480px;
}

body.debug div#drawer-from-top--step-58::before {
  content: "Drawer #58";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-58 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 148480px;
}

.app-switcher-one.be-left-59 {
  left: -151040px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-59 {
  left: -151040px;
}

body.debug div#drawer-from-top--step-59::before {
  content: "Drawer #59";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-59 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 151040px;
}

.app-switcher-one.be-left-60 {
  left: -153600px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-60 {
  left: -153600px;
}

body.debug div#drawer-from-top--step-60::before {
  content: "Drawer #60";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-60 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 153600px;
}

.app-switcher-one.be-left-61 {
  left: -156160px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-61 {
  left: -156160px;
}

body.debug div#drawer-from-top--step-61::before {
  content: "Drawer #61";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-61 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 156160px;
}

.app-switcher-one.be-left-62 {
  left: -158720px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-62 {
  left: -158720px;
}

body.debug div#drawer-from-top--step-62::before {
  content: "Drawer #62";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-62 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 158720px;
}

.app-switcher-one.be-left-63 {
  left: -161280px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-63 {
  left: -161280px;
}

body.debug div#drawer-from-top--step-63::before {
  content: "Drawer #63";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-63 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 161280px;
}

.app-switcher-one.be-left-64 {
  left: -163840px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-64 {
  left: -163840px;
}

body.debug div#drawer-from-top--step-64::before {
  content: "Drawer #64";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-64 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 163840px;
}

.app-switcher-one.be-left-65 {
  left: -166400px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-65 {
  left: -166400px;
}

body.debug div#drawer-from-top--step-65::before {
  content: "Drawer #65";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-65 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 166400px;
}

.app-switcher-one.be-left-66 {
  left: -168960px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-66 {
  left: -168960px;
}

body.debug div#drawer-from-top--step-66::before {
  content: "Drawer #66";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-66 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 168960px;
}

footer.magick-flows-stickey-footer_container {
  position: absolute;
  bottom: 0;
}

header.magick-flows-stickey-header_container {
  position: absolute;
  top: 0;
}

/**
 * @summary Hides an element from the page by setting the opacity property set to `0`
 *
 * @selector .transition-hide
 * @notes This works like the `.slds-hidden` class and reserves the space but allows you to add the `transition` property to transition the speed that it is shown or hidden.
 * @modifier
 */
.slds-transition-hide {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 0;
}

/**
 * @summary Shows the element using the opacity property set to `1`
 *
 * @selector .transition-show
 * @notes This is toggled on the element. `.slds-transition-hide` class is removed and `.slds-transition-show` is added.
 * @modifier
 */
.slds-transition-show {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 1;
}

.preload-images {
  position: absolute;
  top: 1px;
  left: 1px;
}

#content.app-switcher-one.be-left-0 {
  opacity: 1;
  transition: transform 500ms, opacity 600ms, left 0ms;
}

#content.app-switcher-one.be-left-0.fake-the-dock {
  transform: scale(0.1, 0.2) rotatex(68deg) translateY(612%) translateX(-465%);
  background: rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 0px 100px rgba(0, 0, 0, 0.34);
  transition: transform 500ms, opacity 600ms, left 125ms !important;
  opacity: 1;
}

.magick-flows-click-hints {
  position: absolute;
  display: block;
  border-radius: 0.65rem;
  color: white;
  text-align: center;
  padding: 1rem;
  vertical-align: middle;
  font-size: 1.7rem;
  text-shadow: 0px 2px 2px black;
  transition: 250ms all ease-in-out;
  background-color: rgba(0, 0, 0, 0.57);
  top: -6rem;
  will-change: all;
  margin: 0.25rem;
  opacity: 0;
  z-index: 2;
  font-weight: 300;
}

.magick-flows-click-hints.slide-in {
  top: 0rem;
  opacity: 1;
  transition: 250ms all ease-in-out;
  will-change: all;
}

html {
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: #514f4d;
  color: #080707;
  -webkit-tap-highlight-color: transparent;
}

.container {
  background: url(/images/home-background.jpg) no-repeat top left;
  background-size: 100% 100%;
  height: 720px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1280;
}

body.magick-flow {
  background: transparent !important;
  overflow: hidden;
  width: 100vw;
}

div#content-wrapper {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.61);
  border-radius: 0.25rem;
  position: relative;
  left: auto;
  margin: 0px auto;
}
