$numberOfSlides: 35;
$preloadImagesData: url('/magick-flows/mc2-inov8-summit-2019/main/0000___ID=route-map-intro.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0010___ID=login-empty.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0015___ID=login-filled.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0020___ID=sales-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0030___ID=app-launcher.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0040___ID=marketing-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0050___ID=b2c-campaign-record-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0052___ID=a360-show-segment.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0054___ID=a360-edit-segment-1.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0056___ID=a360-edit-segment-2.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0059___ID=b2c-campaign-record-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0060___ID=b2c-campaign-record-home-new-events___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0070___ID=b2c-journey-intro.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0080___ID=b2c-journey-bot-drawer___DATA=show-drawer-from-right--on-arrival__hide-drawer-from-right--never.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0084___ID=b2c-journey-bot-drawer-2___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0090___ID=b2c-journey-bot-preview.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0100___ID=b2c-journey-add-bot-done.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0105___ID=route-map-progress.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0110___ID=b2b-marketing-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0120___ID=b2b-campaign-record-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0130___ID=b2b-journey-intro.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0140___ID=b2b-journey-app-exchange.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0150___ID=b2b-journey-go-to-meeting.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0160___ID=b2b-journey-select-email.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0170___ID=b2b-journey-email-selected.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0180___ID=b2b-journey-email-select-edit.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0185___ID=b2b-journey-email-rebel-mail.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0190___ID=b2b-journey-email-rebel-mail.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0200___ID=b2b-journey-email-content.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0210___ID=b2b-journey-email-content-scrolled.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0220___ID=b2b-journey-done.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0230___ID=b2b-campaign-record-analytics___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0240___ID=contact-record-home___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0250___ID=business-dashboard___DATA=is-own-header__own-header-height--90.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0260___ID=route-map-complete.png')
		url('/magick-flows/mc2-inov8-summit-2019/assets/all__viewport-size.png')
		url('/magick-flows/mc2-inov8-summit-2019/assets/b2c-journey-bot-drawer___drawer-from-right.png')
		url('/magick-flows/mc2-inov8-summit-2019/assets/b2c-journey-bot-drawer-2___drawer-from-left.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;