$numberOfSlides: 26;
$preloadImagesData: url('/magick-flows/mc2-inov8-summit-2019/main/0000___ID=login-empty.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0010___ID=login-filled.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0020___ID=sales-home.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0030___ID=app-launcher.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0040___ID=marketing-home.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0050___ID=b2c-campaign-record-home.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0060___ID=b2c-campaign-record-home-new-events.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0070___ID=b2c-journey-intro.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0080__ID=b2c-journey-bot-drawer.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0090___ID=b2c-journey-bot-preview.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0100___ID=b2c-journey-add-bot-done.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0110___ID=b2b-marketing-home.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0120___ID=b2b-campaign-record-home.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0130___ID=b2b-journey-intro.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0140___ID=b2b-journey-app-exchange.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0150___ID=b2b-journey-go-to-meeting.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0160___ID=b2b-journey-select-email.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0170___ID=b2b-journey-email-selected.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0180___ID=b2b-journey-email-select-edit.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0190___ID=b2b-journey-email-rebel-mail.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0200___ID=b2b-journey-email-content.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0210___ID=b2b-journey-email-content-scrolled.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0220___ID=b2b-journey-done.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0230___ID=b2b-campaign-record-analytics.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0240___ID=contact-record-home.png')
		url('/magick-flows/mc2-inov8-summit-2019/main/0250___ID=business-dashboard.png')
		url('/magick-flows/mc2-inov8-summit-2019/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;