.slds-context-bar__item.slds-context-bar__dropdown-trigger.slds-dropdown-trigger.slds-dropdown-trigger_click.slds-no-hover {
  max-width: 220px;
  width: 220px;
}

.slds-text-heading_medium, .slds-text-heading--medium {
  font-weight: 400;
  padding-top: 1em;
  padding-left: 1em;
}
