$numberOfSlides: 2;
$preloadImagesData: url('/magick-flows/datorama-mp/main/0000___ID=datorama-cross-channel-marketing-intelligence___DATA=unset___NOTES=Notes-go-here.png')
		url('/magick-flows/datorama-mp/main/0100___ID=datorama-email-performance___DATA=unset___NOTES=Notes-go-here.png')
		url('/magick-flows/datorama-mp/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;