/* This is done to preload images and reduce load flicker */
body::after {
  backface-visibility: visible;
  content: url("/images/snake-pit-popup.png") url("/magick-flows/bbva-atm/main/0000.png") url("/magick-flows/bbva-atm/main/0101.png") url("/magick-flows/bbva-atm/main/0202.png") url("/magick-flows/bbva-atm/main/0303.png") url("/magick-flows/bbva-atm/main/0404.png") url("/magick-flows/bbva-atm/main/0505.png") url("/magick-flows/bbva-atm/main/0606.png") url("/magick-flows/bbva-atm/main/0707.png") url("/magick-flows/bbva-atm/main/0808.png") url("/magick-flows/bbva-atm/main/0909.png") url("/magick-flows/bbva-atm/main/1010.png") url("/magick-flows/bbva-atm/main/1111.png");
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent tap highlight color / shadow */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
}

body {
  background: white;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body, .container {
  background: url("/images/home-background.jpg") no-repeat top left;
  background-size: 100% 100%;
  height: 768px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1024px;
}

.magick-flows-slide {
  background-color: transparent;
}

.app-switcher-one {
  height: 768px;
  left: 0;
  position: absolute;
  top: 0;
  transition: 400ms transform, 800ms left;
  width: 12508px;
}

.app-switcher-one.shrink {
  transform: scale(0.75);
  will-change: transform;
}

.app-switcher-one.shrink .magick-flows--slide {
  background-color: white;
}

.app-switcher-one.rounded-corners .magick-flows-slide {
  border-radius: 2rem;
  background-clip: border-box;
  overflow: hidden;
  box-shadow: 0 0.5rem 1.2rem 0.3rem rgba(0, 0, 0, 0.6);
}

.app-switcher-one.rounded-corners .magick-flows-slide .slds-scrollable {
  max-height: 768px;
  height: 768px;
}

.app-switcher-one.rounded-corners .magick-flows-slide.notification {
  background-color: transparent;
}

.app-switcher-one.slide-left-0 {
  left: -994px;
}

.app-switcher-one.be-left-0 {
  left: 0px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-0 {
  left: 0px;
}

.magick-flows--slide-0 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 0px;
}

.app-switcher-one.be-left-1 {
  left: -1044px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-1 {
  left: -1044px;
}

.magick-flows--slide-1 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 1044px;
}

.app-switcher-one.be-left-2 {
  left: -2088px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-2 {
  left: -2088px;
}

.magick-flows--slide-2 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 2088px;
}

.app-switcher-one.be-left-3 {
  left: -3132px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-3 {
  left: -3132px;
}

.magick-flows--slide-3 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 3132px;
}

.app-switcher-one.be-left-4 {
  left: -4176px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-4 {
  left: -4176px;
}

.magick-flows--slide-4 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 4176px;
}

.app-switcher-one.be-left-5 {
  left: -5220px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-5 {
  left: -5220px;
}

.magick-flows--slide-5 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 5220px;
}

.app-switcher-one.be-left-6 {
  left: -6264px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-6 {
  left: -6264px;
}

.magick-flows--slide-6 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 6264px;
}

.app-switcher-one.be-left-7 {
  left: -7308px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-7 {
  left: -7308px;
}

.magick-flows--slide-7 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 7308px;
}

.app-switcher-one.be-left-8 {
  left: -8352px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-8 {
  left: -8352px;
}

.magick-flows--slide-8 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 8352px;
}

.app-switcher-one.be-left-9 {
  left: -9396px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-9 {
  left: -9396px;
}

.magick-flows--slide-9 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 9396px;
}

.app-switcher-one.be-left-10 {
  left: -10440px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-10 {
  left: -10440px;
}

.magick-flows--slide-10 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 10440px;
}

.app-switcher-one.be-left-11 {
  left: -11484px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-11 {
  left: -11484px;
}

.magick-flows--slide-11 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 11484px;
}

.app-switcher-one.be-left-12 {
  left: -12528px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-12 {
  left: -12528px;
}

.magick-flows--slide-12 {
  height: 768px;
  position: absolute;
  top: 0;
  width: 1024px;
  left: 12528px;
}

footer.magick-flows-stickey-footer_container {
  position: absolute;
  bottom: 0;
}

/**
 * @summary Hides an element from the page by setting the opacity property set to `0`
 *
 * @selector .transition-hide
 * @notes This works like the `.slds-hidden` class and reserves the space but allows you to add the `transition` property to transition the speed that it is shown or hidden.
 * @modifier
 */
.slds-transition-hide {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 0;
}

/**
 * @summary Shows the element using the opacity property set to `1`
 *
 * @selector .transition-show
 * @notes This is toggled on the element. `.slds-transition-hide` class is removed and `.slds-transition-show` is added.
 * @modifier
 */
.slds-transition-show {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 1;
}

.preload-images {
  position: absolute;
  top: 1px;
  left: 1px;
}

#content.app-switcher-one.be-left-0 {
  opacity: 1;
  transition: transform 500ms, opacity 600ms, left 0ms;
}

#content.app-switcher-one.be-left-0.fake-the-dock {
  transform: scale(0.2, 0.2) rotatex(68deg) translateY(713%) translateX(-199.7%);
  background: rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 0px 100px rgba(0, 0, 0, 0.34);
  transition: transform 500ms, opacity 600ms, left 125ms !important;
  opacity: 0;
}

.magick-flows--slide-5 {
  background-color: #00366f;
}
