$numberOfSlides: 21;
$preloadImagesData: url('/magick-flows/personalize/main/0100___ID=NTO-home___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/0200___ID=NTO-home-click-tab___DATA=unset.png')
		url('/magick-flows/personalize/main/0300___ID=NTO-home-select-footwear___DATA=unset.png')
		url('/magick-flows/personalize/main/0400___ID=NTO-footwear___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/0500___ID=NTO-footwear-select-running___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/0600___ID=NTO-shoe___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/0700___ID=NTO-shoe-click-dropdown___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/0800___ID=NTO-shoe-select-size___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/0900___ID=Monitor___DATA=use-step-transition__step-transition_app-switch.png')
		url('/magick-flows/personalize/main/0950___ID=NTO-shoe-size-selected-back-home___DATA=has-sticky-header__use-step-transition__step-transition_app-switch.png')
		url('/magick-flows/personalize/main/1000___ID=NTO-home2___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/1200___ID=Community-login___DATA=unset.png')
		url('/magick-flows/personalize/main/1300___ID=Community-login-name-filled___DATA=unset.png')
		url('/magick-flows/personalize/main/1400___ID=Community-home___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/1500___ID=Community-discussion___DATA=has-sticky-header.png')
		url('/magick-flows/personalize/main/1600___ID=Monitor2___DATA=use-step-transition__step-transition_app-switch.png')
		url('/magick-flows/personalize/main/1700___ID=Journey-vizualization.png')
		url('/magick-flows/personalize/main/1750___ID=Journey-vizualization-dropdown___DATA=unset.png')
		url('/magick-flows/personalize/main/1775___ID=Journey-vizualization-dropdown-select___DATA=unset.png')
		url('/magick-flows/personalize/main/1800___ID=Journey-visualization-touchpoints___DATA=unset.png')
		url('/magick-flows/personalize/main/1900___ID=Journey-visualization-toucpoints-node-selected___DATA=unset.png')
		url('/magick-flows/personalize/assets/Community-discussion___sticky-header.png')
		url('/magick-flows/personalize/assets/Community-home___sticky-header.png')
		url('/magick-flows/personalize/assets/NTO-footwear___sticky-header.png')
		url('/magick-flows/personalize/assets/NTO-footwear-select-running___sticky-header.png')
		url('/magick-flows/personalize/assets/NTO-home___sticky-header.png')
		url('/magick-flows/personalize/assets/NTO-home2___sticky-header.png')
		url('/magick-flows/personalize/assets/NTO-shoe___sticky-header.png')
		url('/magick-flows/personalize/assets/NTO-shoe-click-dropdown___sticky-header.png')
		url('/magick-flows/personalize/assets/NTO-shoe-select-size___sticky-header.png')
		url('/magick-flows/personalize/assets/NTO-shoe-size-selected-back-home___sticky-header.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;