@charset "UTF-8";
/* This is done to preload images and reduce load flicker */
body::after {
  backface-visibility: visible;
  content: url("/magick-flows/engage/main/0000___ID=homepage___DATA=has-sticky-header___NOTES=Scroll-all-the-way-down__Click-the-Welcome-Series-journey-in-the-second-column.png") url("/magick-flows/engage/main/0100___ID=journey-canvas___DATA=unset___NOTES=Click-the-Unconfigured-Data-Extension-icon-on-the-Journey-Canvas__A-drawer-will-slide-out.png") url("/magick-flows/engage/main/0200___ID=entry-source-empty-hub___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never___NOTES=Click-the-“Select-Data-Extension”-button.png") url("/magick-flows/engage/main/0210___ID=entry-source-data-extension-configure___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never___NOTES=Click-the-first-row-in-the-data-table__It-is-called-“NTO-Welcome-Series”.png") url("/magick-flows/engage/main/0220___ID=entry-source-data-extension-configure-with-row-highlight___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=Click-the-“Summary”-button-at-the-bottom-of-the-drawer.png") url("/magick-flows/engage/main/0230___ID=entry-source-data-extension-summary___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=Click-the-“Done”-button__We-will-configure-email-next.png") url("/magick-flows/engage/main/0300___ID=journey-canvas___DATA=unset___NOTES=Click-unconfigured-email-icon-on-canvas__A-hub-and-spoke-drawer-will-slide-open.png") url("/magick-flows/engage/main/0400___ID=email-config-activity-summary___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never___NOTES=Click-the-“Select-Message”-button__Message-selection-drawer-will-slide-out.png") url("/magick-flows/engage/main/0410___ID=email-config-select-an-email___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never___NOTES=Click-on-the-“NTO-Welcome”-email__Top-row-in-the-middle.png") url("/magick-flows/engage/main/0420___ID=email-config-select-an-email-selected___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=Click-Summary-button.png") url("/magick-flows/engage/main/0430___ID=email-config-activity-summary-configured___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--never___NOTES=Click-Edit-message-button.png") url("/magick-flows/engage/main/0440___ID=email-config-edit-content___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never___NOTES=Click-Einstein-block.png") url("/magick-flows/engage/main/0450___ID=email-config-edit-content-image-chosen___DATA=unset___NOTES=Click-Preview-and-Test-tab.png") url("/magick-flows/engage/main/0460___ID=email-config-preview-and-test___DATA=unset___NOTES=Click-right-hand-triangle-to-preview-next-email.png") url("/magick-flows/engage/main/0462___ID=email-config-preview-and-test___DATA=unset___NOTES=Again__Click-right-hand-triangle-to-preview-next-email.png") url("/magick-flows/engage/main/0464___ID=email-config-preview-and-test___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=Click-the-blue-“Save”-button.png") url("/magick-flows/engage/main/0466___ID=email-config-activity-summary-configured-2___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--never___NOTES=Click-“Show-More”-under-Delivery-Options--NTO-Einstein-Frequency.png") url("/magick-flows/engage/main/0468___ID=einstein-frequency___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-anywhere-to-go-back-to-Journey-Builder.png") url("/magick-flows/engage/main/0469___ID=email-config-activity-summary-configured-2___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave__use-step-transition__step-transition_app-switch___NOTES=Click-the-“Done”-button.png") url("/magick-flows/engage/main/0500___ID=journey-canvas___DATA=unset___NOTES=Click-Push-Notificaiton-icon-on-canvas.png") url("/magick-flows/engage/main/0600___ID=push-message-config-activity-summary___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--on-leave___NOTES=Click-Select-Message-button.png") url("/magick-flows/engage/main/0610___ID=push-message-config-select-a-message___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never___NOTES=Click-NTO-Welcome-Notification.png") url("/magick-flows/engage/main/0630___ID=push-message-config-mesage-configuration___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=Click-the-”back”-arrow__It-is-near-the-top-righthand-side-of-the-drawer.png") url("/magick-flows/engage/main/0638___ID=push-message-config-mesage-configuration-select-app___DATA=unset___NOTES=Click-on-the-“Select-App”-dropdown.png") url("/magick-flows/engage/main/0640___ID=push-message-config-mesage-configuration-select-app___DATA=unset___NOTES=Select-Northern-Trails-Outfitters.png") url("/magick-flows/engage/main/0650___ID=push-message-config-mesage-configuration-app-selected___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=Click-the-“Summary”-button.png") url("/magick-flows/engage/main/0660___ID=push-message-config-configured___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=Click-the-“Done”-button.png") url("/magick-flows/engage/main/0700___ID=journey-canvas___DATA=unset___NOTES=Click-the-Activate-button.png") url("/magick-flows/engage/main/0710___ID=journey-analytics-performance-dashboard___DATA=unset___NOTES=Click-Pie-icon.png") url("/magick-flows/engage/main/0712___ID=journey-analytics-performance-dashboard___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never__use-step-transition__step-transition_auto-advance__step-transition-timing--normal___NOTES=Slides-in-from-the-left.png") url("/magick-flows/engage/main/0720___ID=scrollable-journey-analytics-performance-dashboard___DATA=has-sticky-header___NOTES=Click-Journey-Dashboard-in-the-breadcrumb.png") url("/magick-flows/engage/main/0730___ID=scrollable-journey-analytics-performance-dashboard___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-anywhere.png") url("/magick-flows/engage/main/0740___ID=journey-folders___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-second-row__That-is-the-targeted-one.png") url("/magick-flows/engage/main/0760___ID=entry-source-g360-empty-hub-pre___DATA=unset___NOTES=Click-G360-icon-on-canvas.png") url("/magick-flows/engage/main/0800___ID=entry-source-g360-empty-hub___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never___NOTES=Click-Select-an-Audience_button.png") url("/magick-flows/engage/main/0820___ID=entry-source-g360-data-extension-configure___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--on-leave___NOTES=Click-first-row.png") url("/magick-flows/engage/main/0830___ID=entry-source-data-extension-configured-for-real___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave___NOTES=Click-real-fast.png") url("/magick-flows/engage/main/0900___ID=journey-canvas___DATA=unset___NOTES=End.png") url("/magick-flows/engage/assets/all__viewport-size.png") url("/magick-flows/engage/assets/email-config-activity-summary___drawer-from-left.png") url("/magick-flows/engage/assets/email-config-activity-summary-configured___drawer-from-left.png") url("/magick-flows/engage/assets/email-config-activity-summary-configured-2___drawer-from-left.png") url("/magick-flows/engage/assets/email-config-edit-content___drawer-from-left.png") url("/magick-flows/engage/assets/email-config-preview-and-test___drawer-from-left.png") url("/magick-flows/engage/assets/email-config-select-an-email___drawer-from-left.png") url("/magick-flows/engage/assets/email-config-select-an-email-selected___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source-data-extension-configure___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source-data-extension-configure-with-row-highlight___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source-data-extension-configured-for-real___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source-data-extension-summary___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source-empty-hub___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source-g360-configured-hub___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source-g360-data-extension-configure___drawer-from-left.png") url("/magick-flows/engage/assets/entry-source-g360-empty-hub___drawer-from-left.png") url("/magick-flows/engage/assets/homepage___sticky-header.png") url("/magick-flows/engage/assets/journey-analytics-performance-dashboard___drawer-from-left.png") url("/magick-flows/engage/assets/push-message-config-activity-summary___drawer-from-left.png") url("/magick-flows/engage/assets/push-message-config-configured___drawer-from-left.png") url("/magick-flows/engage/assets/push-message-config-mesage-configuration___drawer-from-left.png") url("/magick-flows/engage/assets/push-message-config-mesage-configuration-app-selected___drawer-from-left.png") url("/magick-flows/engage/assets/push-message-config-select-a-message___drawer-from-left.png") url("/magick-flows/engage/assets/scrollable-journey-analytics-performance-dashboard___sticky-header.png");
  outline: 1px solid red;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent tap highlight color / shadow */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
}

body {
  background: white;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body, .container {
  background: url("/images/home-background.jpg") no-repeat top left;
  background-size: 100% 100%;
  height: 720px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1280px;
}

.ios-notification {
  margin: 0 auto;
  position: absolute;
  transition: 500ms top ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: -720px;
  transition: 500ms top ease-in-out;
  will-change: top;
}

.ios-notification.slide-in {
  top: 0px;
  transition: 500ms top ease-in-out;
  will-change: top;
}

.magick-flows-drawer--from-top {
  margin: 0 auto;
  position: absolute;
  transition: 500ms top ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: -720px;
  transition: 500ms top ease-in-out;
  will-change: top;
}

.magick-flows-drawer--from-top.slide-in {
  top: 0px;
  transition: 500ms top ease-in-out;
  will-change: top;
}

.magick-flows-drawer--from-top.be-in {
  top: 0px;
  transition: 0ms top;
  will-change: top;
}

.magick-flows-drawer--from-left {
  margin: 0 auto;
  position: absolute;
  transition: 500ms left ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: 0;
  left: -1280px;
  will-change: left;
}

.magick-flows-drawer--from-left.slide-in {
  left: 0px;
  transition: 500ms left ease-in-out;
  will-change: left;
}

.magick-flows-drawer--from-left.be-in {
  left: 0px;
  transition: 0ms left;
  will-change: left;
}

.magick-flows-drawer--from-right {
  margin: 0 auto;
  position: absolute;
  transition: 500ms right ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  top: 0;
  right: -1280px;
  will-change: right;
}

.magick-flows-drawer--from-right.slide-in {
  right: 0px;
  transition: 500ms right ease-in-out;
  will-change: right;
}

.magick-flows-drawer--from-right.be-in {
  right: 0px;
  transition: 0ms right;
  will-change: right;
}

.magick-flows-drawer--from-bottom {
  margin: 0 auto;
  position: absolute;
  transition: 500ms bottom ease-in-out;
  width: 1280px;
  background-color: transparent;
  height: 720px;
  bottom: -720px;
  will-change: bottom;
}

.magick-flows-drawer--from-bottom.slide-in {
  bottom: 0px;
  transition: 500ms bottom ease-in-out;
  will-change: bottom;
}

.magick-flows-drawer--from-bottom.be-in {
  bottom: 0px;
  transition: 0ms bottom;
  will-change: bottom;
}

.magick-flows--step {
  background-color: transparent;
}

.app-switcher-one {
  height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  transition: 2000ms transform, 800ms left;
  width: 96000px;
}

.app-switcher-one.shrink {
  transform: scale(0.95);
  will-change: transform;
}

.app-switcher-one.shrink .magick-flows--step {
  background-color: white;
}

.app-switcher-one.rounded-corners .magick-flows-step {
  border-radius: 2rem;
  background-clip: border-box;
  overflow: hidden;
  box-shadow: 0 0.5rem 1.2rem 0.3rem rgba(0, 0, 0, 0.6);
}

.app-switcher-one.rounded-corners .magick-flows-step .slds-scrollable {
  max-height: 720px;
  height: 720px;
}

.app-switcher-one.rounded-corners .magick-flows-step.notification {
  background-color: transparent;
}

.app-switcher-one.slide-left-0 {
  left: 640px;
}

.app-switcher-one.be-left-0 {
  left: 0px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-0 {
  left: 0px;
}

body.debug div#drawer-from-top--step-0::before {
  content: "Drawer #0";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-0 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 0px;
}

.app-switcher-one.be-left-1 {
  left: -2560px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-1 {
  left: -2560px;
}

body.debug div#drawer-from-top--step-1::before {
  content: "Drawer #1";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-1 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 2560px;
}

.app-switcher-one.be-left-2 {
  left: -5120px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-2 {
  left: -5120px;
}

body.debug div#drawer-from-top--step-2::before {
  content: "Drawer #2";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-2 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 5120px;
}

.app-switcher-one.be-left-3 {
  left: -7680px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-3 {
  left: -7680px;
}

body.debug div#drawer-from-top--step-3::before {
  content: "Drawer #3";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-3 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 7680px;
}

.app-switcher-one.be-left-4 {
  left: -10240px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-4 {
  left: -10240px;
}

body.debug div#drawer-from-top--step-4::before {
  content: "Drawer #4";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-4 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 10240px;
}

.app-switcher-one.be-left-5 {
  left: -12800px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-5 {
  left: -12800px;
}

body.debug div#drawer-from-top--step-5::before {
  content: "Drawer #5";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-5 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 12800px;
}

.app-switcher-one.be-left-6 {
  left: -15360px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-6 {
  left: -15360px;
}

body.debug div#drawer-from-top--step-6::before {
  content: "Drawer #6";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-6 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 15360px;
}

.app-switcher-one.be-left-7 {
  left: -17920px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-7 {
  left: -17920px;
}

body.debug div#drawer-from-top--step-7::before {
  content: "Drawer #7";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-7 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 17920px;
}

.app-switcher-one.be-left-8 {
  left: -20480px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-8 {
  left: -20480px;
}

body.debug div#drawer-from-top--step-8::before {
  content: "Drawer #8";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-8 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 20480px;
}

.app-switcher-one.be-left-9 {
  left: -23040px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-9 {
  left: -23040px;
}

body.debug div#drawer-from-top--step-9::before {
  content: "Drawer #9";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-9 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 23040px;
}

.app-switcher-one.be-left-10 {
  left: -25600px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-10 {
  left: -25600px;
}

body.debug div#drawer-from-top--step-10::before {
  content: "Drawer #10";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-10 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 25600px;
}

.app-switcher-one.be-left-11 {
  left: -28160px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-11 {
  left: -28160px;
}

body.debug div#drawer-from-top--step-11::before {
  content: "Drawer #11";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-11 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 28160px;
}

.app-switcher-one.be-left-12 {
  left: -30720px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-12 {
  left: -30720px;
}

body.debug div#drawer-from-top--step-12::before {
  content: "Drawer #12";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-12 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 30720px;
}

.app-switcher-one.be-left-13 {
  left: -33280px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-13 {
  left: -33280px;
}

body.debug div#drawer-from-top--step-13::before {
  content: "Drawer #13";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-13 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 33280px;
}

.app-switcher-one.be-left-14 {
  left: -35840px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-14 {
  left: -35840px;
}

body.debug div#drawer-from-top--step-14::before {
  content: "Drawer #14";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-14 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 35840px;
}

.app-switcher-one.be-left-15 {
  left: -38400px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-15 {
  left: -38400px;
}

body.debug div#drawer-from-top--step-15::before {
  content: "Drawer #15";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-15 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 38400px;
}

.app-switcher-one.be-left-16 {
  left: -40960px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-16 {
  left: -40960px;
}

body.debug div#drawer-from-top--step-16::before {
  content: "Drawer #16";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-16 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 40960px;
}

.app-switcher-one.be-left-17 {
  left: -43520px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-17 {
  left: -43520px;
}

body.debug div#drawer-from-top--step-17::before {
  content: "Drawer #17";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-17 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 43520px;
}

.app-switcher-one.be-left-18 {
  left: -46080px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-18 {
  left: -46080px;
}

body.debug div#drawer-from-top--step-18::before {
  content: "Drawer #18";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-18 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 46080px;
}

.app-switcher-one.be-left-19 {
  left: -48640px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-19 {
  left: -48640px;
}

body.debug div#drawer-from-top--step-19::before {
  content: "Drawer #19";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-19 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 48640px;
}

.app-switcher-one.be-left-20 {
  left: -51200px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-20 {
  left: -51200px;
}

body.debug div#drawer-from-top--step-20::before {
  content: "Drawer #20";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-20 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 51200px;
}

.app-switcher-one.be-left-21 {
  left: -53760px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-21 {
  left: -53760px;
}

body.debug div#drawer-from-top--step-21::before {
  content: "Drawer #21";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-21 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 53760px;
}

.app-switcher-one.be-left-22 {
  left: -56320px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-22 {
  left: -56320px;
}

body.debug div#drawer-from-top--step-22::before {
  content: "Drawer #22";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-22 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 56320px;
}

.app-switcher-one.be-left-23 {
  left: -58880px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-23 {
  left: -58880px;
}

body.debug div#drawer-from-top--step-23::before {
  content: "Drawer #23";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-23 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 58880px;
}

.app-switcher-one.be-left-24 {
  left: -61440px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-24 {
  left: -61440px;
}

body.debug div#drawer-from-top--step-24::before {
  content: "Drawer #24";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-24 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 61440px;
}

.app-switcher-one.be-left-25 {
  left: -64000px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-25 {
  left: -64000px;
}

body.debug div#drawer-from-top--step-25::before {
  content: "Drawer #25";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-25 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 64000px;
}

.app-switcher-one.be-left-26 {
  left: -66560px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-26 {
  left: -66560px;
}

body.debug div#drawer-from-top--step-26::before {
  content: "Drawer #26";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-26 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 66560px;
}

.app-switcher-one.be-left-27 {
  left: -69120px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-27 {
  left: -69120px;
}

body.debug div#drawer-from-top--step-27::before {
  content: "Drawer #27";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-27 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 69120px;
}

.app-switcher-one.be-left-28 {
  left: -71680px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-28 {
  left: -71680px;
}

body.debug div#drawer-from-top--step-28::before {
  content: "Drawer #28";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-28 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 71680px;
}

.app-switcher-one.be-left-29 {
  left: -74240px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-29 {
  left: -74240px;
}

body.debug div#drawer-from-top--step-29::before {
  content: "Drawer #29";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-29 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 74240px;
}

.app-switcher-one.be-left-30 {
  left: -76800px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-30 {
  left: -76800px;
}

body.debug div#drawer-from-top--step-30::before {
  content: "Drawer #30";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-30 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 76800px;
}

.app-switcher-one.be-left-31 {
  left: -79360px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-31 {
  left: -79360px;
}

body.debug div#drawer-from-top--step-31::before {
  content: "Drawer #31";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-31 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 79360px;
}

.app-switcher-one.be-left-32 {
  left: -81920px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-32 {
  left: -81920px;
}

body.debug div#drawer-from-top--step-32::before {
  content: "Drawer #32";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-32 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 81920px;
}

.app-switcher-one.be-left-33 {
  left: -84480px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-33 {
  left: -84480px;
}

body.debug div#drawer-from-top--step-33::before {
  content: "Drawer #33";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-33 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 84480px;
}

.app-switcher-one.be-left-34 {
  left: -87040px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-34 {
  left: -87040px;
}

body.debug div#drawer-from-top--step-34::before {
  content: "Drawer #34";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-34 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 87040px;
}

.app-switcher-one.be-left-35 {
  left: -89600px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-35 {
  left: -89600px;
}

body.debug div#drawer-from-top--step-35::before {
  content: "Drawer #35";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-35 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 89600px;
}

.app-switcher-one.be-left-36 {
  left: -92160px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-36 {
  left: -92160px;
}

body.debug div#drawer-from-top--step-36::before {
  content: "Drawer #36";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-36 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 92160px;
}

.app-switcher-one.be-left-37 {
  left: -94720px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-37 {
  left: -94720px;
}

body.debug div#drawer-from-top--step-37::before {
  content: "Drawer #37";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-37 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 94720px;
}

.app-switcher-one.be-left-38 {
  left: -97280px;
  transition: none !important;
  will-change: transform, left;
}

.app-switcher-one.slide-left-38 {
  left: -97280px;
}

body.debug div#drawer-from-top--step-38::before {
  content: "Drawer #38";
  display: block;
  width: 100vw;
  height: 3rem;
  position: absolute;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  color: black;
  margin: auto;
  font-size: 2rem;
}

.magick-flows--step-38 {
  height: 720px;
  position: absolute;
  top: 0;
  width: 1280px;
  left: 97280px;
}

footer.magick-flows-stickey-footer_container {
  position: absolute;
  bottom: 0;
}

header.magick-flows-stickey-header_container {
  position: absolute;
  top: 0;
}

/**
 * @summary Hides an element from the page by setting the opacity property set to `0`
 *
 * @selector .transition-hide
 * @notes This works like the `.slds-hidden` class and reserves the space but allows you to add the `transition` property to transition the speed that it is shown or hidden.
 * @modifier
 */
.slds-transition-hide {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 0;
}

/**
 * @summary Shows the element using the opacity property set to `1`
 *
 * @selector .transition-show
 * @notes This is toggled on the element. `.slds-transition-hide` class is removed and `.slds-transition-show` is added.
 * @modifier
 */
.slds-transition-show {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 1;
}

.preload-images {
  position: absolute;
  top: 1px;
  left: 1px;
}

#content.app-switcher-one.be-left-0 {
  opacity: 1;
  transition: transform 500ms, opacity 600ms, left 0ms;
}

#content.app-switcher-one.be-left-0.fake-the-dock {
  transform: scale(0.1, 0.2) rotatex(68deg) translateY(612%) translateX(-465%);
  background: rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 0px 100px rgba(0, 0, 0, 0.34);
  transition: transform 500ms, opacity 600ms, left 125ms !important;
  opacity: 1;
}

.magick-flows-click-hints {
  position: absolute;
  display: block;
  border-radius: 0.65rem;
  color: white;
  text-align: center;
  padding: 1rem;
  vertical-align: middle;
  font-size: 1.7rem;
  text-shadow: 0px 2px 2px black;
  transition: 250ms all ease-in-out;
  background-color: rgba(0, 0, 0, 0.57);
  top: -6rem;
  will-change: all;
  margin: 0.25rem;
  opacity: 0;
  z-index: 2;
  font-weight: 300;
}

.magick-flows-click-hints.slide-in {
  top: 0rem;
  opacity: 1;
  transition: 250ms all ease-in-out;
  will-change: all;
}

html {
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: #514f4d;
  color: #080707;
  -webkit-tap-highlight-color: transparent;
}

.container {
  background: url(/images/home-background.jpg) no-repeat top left;
  background-size: 100% 100%;
  height: 720px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1280;
}

body.magick-flow {
  background: transparent !important;
  overflow: hidden;
  width: 100vw;
}

div#content-wrapper {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.61);
  border-radius: 0.25rem;
  position: relative;
  left: auto;
  margin: 0px auto;
}
