<header class="slds-global-header_container">
	<div class="slds-global-header slds-grid slds-grid_align-spread" style="box-shadow: none;">
		<div class="slds-global-header__item">
			<div class="slds-global-header__logo">
				<a href="/">
				<img src="/images/sf-logo.svg" />
			</a>
			</div>
		</div>
		<ul class="slds-global-header__item slds-grid slds-grid_vertical-align-center">
			<li class="slds-dropdown-trigger slds-dropdown-trigger_click">
				<button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-header__button_icon" title="Setup">
					<svg fill="#9FAAB5" width="13px" height="20px" viewBox="0 0 13 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<path d="M7.28668517,14.2857143 L5.65428429,14.2857143 C5.20333354,14.2857143 4.83808384,13.9301559 4.83808384,13.4920573 L4.83808384,13.0829271 C4.83808384,11.4225966 5.94281114,9.9158388 7.58704693,9.33369138 C8.0792158,9.15948367 8.53914474,8.89440222 8.87337882,8.50233566 C10.9008207,6.12850755 9.02478401,3.26658038 6.5990363,3.17689713 C5.69631861,3.14515085 4.85114305,3.45785171 4.2063447,4.0618247 C3.71703254,4.52016162 3.39422526,5.09794392 3.266898,5.73009173 C3.19343996,6.09398347 2.85390057,6.3491442 2.47273497,6.3491442 L0.815439971,6.3491442 C0.310619999,6.3491442 -0.0636079036,5.90945821 0.00903393566,5.4233433 C0.215124547,4.03722133 0.883184608,2.7657828 1.94220468,1.77490203 C3.23180138,0.56695606 4.92541729,-0.060826634 6.72309876,0.00465006919 C10.1115549,0.129651048 12.8666395,2.80864028 12.9951911,6.10350735 C13.1033376,8.87297349 11.3787061,11.3702153 8.70360913,12.3170481 C8.33876754,12.4460173 8.10288561,12.7468133 8.10288561,13.0829271 L8.10288561,13.4920573 C8.10288561,13.9301559 7.73722781,14.2857143 7.28668517,14.2857143" id="Fill-1"></path>
						<path d="M5.15599165,19.047619 C4.77121486,19.047619 4.45956308,18.727619 4.45956308,18.3333333 L4.45956308,16.7261491 C4.45956308,16.3315063 4.77121486,16.0118634 5.15599165,16.0118634 L7.15325314,16.0118634 C7.53768171,16.0118634 7.84968171,16.3315063 7.84968171,16.7261491 L7.84968171,18.3333333 C7.84968171,18.727619 7.53768171,19.047619 7.15325314,19.047619 L5.15599165,19.047619 Z" id="Fill-2"></path>
					</svg>
				</button>
			</li>
			<li class="slds-dropdown-trigger slds-dropdown-trigger_click">
				<button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-header__button_icon" title="Setup">
					<svg viewBox="0 0 20 20" id="setup" width="100%" height="100%" fill="#9FAAB5">
						<path d="M10,7.08333333 C8.32173913,7.08333333 6.95652174,8.39166667 6.95652174,10 C6.95652174,11.6083333 8.32173913,12.9166667 10,12.9166667 C11.6778261,12.9166667 13.0434783,11.6083333 13.0434783,10 C13.0434783,8.39166667 11.6778261,7.08333333 10,7.08333333" id="Fill-1"></path>
						<path d="M19.1213043,12.6175 L17.5047826,11.3391667 C17.5995652,10.875 17.6478261,10.3925 17.6478261,9.9075 C17.6478261,9.4225 17.5995652,8.94041667 17.503913,8.475 L19.1334783,7.18875 C19.6752174,6.76041667 19.8143478,6.02583333 19.4630435,5.43791667 L18.7617391,4.27666667 C18.5052174,3.85625 18.0269565,3.59833333 17.513913,3.59833333 C17.3421739,3.59833333 17.1734783,3.63291667 17.0165217,3.69 L15.0330435,4.41416667 C14.2595652,3.76791667 13.3886957,3.30916667 12.4465217,3.00541667 L12.1004348,1.05291667 C11.9826087,0.3875 11.3869565,0 10.6821739,0 L9.28608696,0 C8.58173913,0 7.98608696,0.3875 7.86826087,1.05541667 L7.52304348,2.9575 C6.58,3.26166667 5.70913043,3.74375 4.93565217,4.39041667 L2.94826087,3.6775 C2.79043478,3.62083333 2.62434783,3.5925 2.45391304,3.5925 C1.94173913,3.5925 1.46347826,3.85416667 1.20434783,4.27833333 L0.503913043,5.44 C0.153043478,6.02541667 0.293478261,6.76166667 0.835217391,7.1875 L2.46347826,8.47583333 C2.36913043,8.94 2.32043478,9.4225 2.32043478,9.9075 C2.32043478,10.3925 2.36913043,10.875 2.46478261,11.34 L0.835217391,12.6266667 C0.293478261,13.055 0.153913043,13.7904167 0.505652174,14.3783333 L1.20565217,15.5375 C1.46043478,15.9595833 1.94,16.2225 2.45347826,16.2225 C2.6226087,16.2225 2.78826087,16.1933333 2.95217391,16.13625 L4.93565217,15.42375 C5.70913043,16.0704167 6.58,16.5520833 7.52217391,16.8558333 L7.86826087,18.8541667 C7.98608696,19.5195833 8.58173913,20 9.28608696,20 L10.6821739,20 C11.3869565,20 11.9826087,19.5195833 12.1004348,18.8516667 L12.4465217,16.8570833 C13.4391304,16.5316667 14.3691304,16.0045833 15.1386957,15.3333333 L17.02,16.0370833 C17.1856522,16.09875 17.36,16.13 17.5373913,16.13 C18.0443478,16.13 18.5191304,15.8729167 18.7786957,15.4570833 L19.4430435,14.38375 C19.8082609,13.79375 19.6721739,13.0508333 19.1213043,12.6175 L19.1213043,12.6175 Z M10,14.5833333 C7.36304348,14.5833333 5.2173913,12.5270833 5.2173913,10 C5.2173913,7.47291667 7.36304348,5.41666667 10,5.41666667 C12.6369565,5.41666667 14.7826087,7.47291667 14.7826087,10 C14.7826087,12.5270833 12.6369565,14.5833333 10,14.5833333 L10,14.5833333 Z" id="Fill-2"></path>
					</svg>
				</button>
			</li>
		</ul>
	</div>
	<div class="slds-context-bar slds-p-left_medium" id="primaryNav"></div>
</header>
<div id="subheader-wrapper" class="slds-m-bottom_small">
	<% if (locals.breadcrumbs) { console.log('bread crumb');%>
	<nav role="navigation" aria-label="Breadcrumbs" class="slds-p-around_small">
		<ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
			<% locals.breadcrumbs.forEach(function(crumb) { console.log('there is a bread crumb'); %> <li class="slds-breadcrumb__item slds-text-title_caps"><a href="javascript:void(0);"><%=crumb%></a></li> <% }) %>
		</ol>
	</nav>
	<% } else { console.log('no breadcrumb')} %>

	<div id="subheader" class="slds-container_large">
		<div class="slds-grid slds-grid_vertical-align-center">
			<div>
				<h1 class="slds-text-heading_medium slds-p-around_medium"><%= title %></h1>
			</div>
			<% if (locals.subHeaderVariant === 'hasButton') { console.log('customizable button in sub-header please');%>

			<div class="slds-col_bump-left slds-p-right_medium">
				<button class="slds-button slds-button_neutral"><%=locals.subHeaderButtonLabel%></button>
			</div>
			<% } else { console.log('no button in sub-header')} %>
		</div>
	</div>
</div>