.jb-shell-subheader {
  margin: 0 auto;
}

/* HACK */
.slds-context-bar__dropdown-trigger .slds-dropdown:before {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 3px;
  opacity: 0;
}

.menu-item.menu-item_has-badge:before {
  display: block;
  content: '';
  color: white;
  font-size: 0.25rem;
  text-align: center;
  background: red;
  height: 0.65rem;
  width: 0.65rem;
  border-radius: 1.5rem;
  right: 0.5rem;
  top: 0.25rem;
  position: absolute;
}

.slds-little-blue-pill:before {
  display: block;
  content: '';
  color: white;
  font-size: 0.25rem;
  text-align: center;
  background: #1589ee;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 1.5rem;
  margin-right: 0.25rem;
}

.click-target {
  cursor: pointer;
}

.slds-context-bar__item.slds-context-bar__dropdown-trigger.slds-dropdown-trigger.slds-dropdown-trigger_click.slds-no-hover {
  min-width: 150px;
  max-width: 200px;
  width: 200px;
  border-right: 1px solid #CFD7E6;
}

#screenshot-topper, #screenshot, #screenshot-footer {
  margin-bottom: 0;
  max-width: 105%;
  margin-left: -2rem;
}

/*
HEADER AREA
*/
#header,
#footer {
  background-color: #232D3A;
  height: 70px;
  color: #E9EAEC;
  font-family: Salesforce Sans Light;
}

.main-menu {
  font-size: 16px;
}

.main-menu .menu-item.active,
.main-menu .menu-item:hover {
  background-color: #30384a;
}

.main-menu .menu-item.active {
  background-image: url(./images/chevrondown.svg);
  background-repeat: no-repeat;
  background-position: bottom 10px center;
}

.menu-item {
  padding: 9px 0px;
  flex: 0 1 auto;
  box-sizing: border-box;
}

.menu-item img {
  margin-left: 10px;
  margin-right: 5px;
}

.menu-item img.icon {
  width: 1rem;
}

.main-menu .menu-item.sflogo {
  padding: 10px;
  background-image: none;
}

.sub-menu .icon {
  height: 16px;
}

.sub-menu .menu-item {
  font-size: 12px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: #2C394A;
  border-color: #3D4E64;
  margin-top: 17px;
  padding: 6px 12px;
}

.sub-menu .menu-item .icon {
  margin-right: 12px;
}

.sub-menu .menu-item.menu-btn {
  padding: 6px;
}

.sub-menu .menu-item.menu-dropdown {
  padding: 6px 8px 6px 12px;
}

.sub-menu .menu-item.menu-dropdown img.icon {
  margin-left: 100px;
  height: 12px;
}

.sub-menu .menu-item.menu-btn .icon {
  margin: 0;
}

#subheader-wrapper {
  background-color: #F7F9FB;
  margin-top: 90px;
  position: relative;
}

#subheader {
  margin: 0 auto;
}

.audience-discovery #subheader {
  background-image: url("/images/slices/data-studio.audience-discovery.powered-by.svg");
  background-repeat: no-repeat;
  background-size: auto 34px;
  background-position-y: 40%;
  background-position-x: right;
}

.einstein-segementation #subheader-wrapper {
  background-image: url(/img/clouds-bg.svg);
  background-position-x: 0;
  background-repeat: repeat-x;
  background-size: 1990px;
  background-position-y: 30px;
}

.einstein-segementation #subheader h1:before {
  content: "";
  display: block;
  width: 51px;
  height: 61px;
  background-size: cover;
  background-image: url(/img/einstein-leaning-left.svg);
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}

.einstein-segementation.einstein-journey-insights #subheader h1:after {
  content: "";
  display: block;
  width: 100%;
  height: 3.2rem;
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  background-color: #F7F9FB;
  margin-top: 14px;
  z-index: 0;
}

.einstein-segementation.einstein-journey-insights #subheader:after {
  background-image: url(journey-insights-toolbar.svg);
  content: "";
  display: block;
  width: 71.5rem;
  height: 35.6px;
  position: absolute;
  background-color: #F7F9FB;
  background-repeat: no-repeat;
  z-index: 0;
  outline: 1px solid #32cd3200;
  margin: 0.49rem 0;
  background-position-x: -30px;
  background-size: cover;
}

.einstein-segementation #subheader h1 {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1.25;
  height: 66px;
}

.einstein-segementation #subheader h1 > img {
  margin-left: 4.1rem;
  margin-top: 1.4rem;
}

.slds-breadcrumb .slds-list__item:before,
.slds-breadcrumb__item:before {
  content: '/';
}

.slds-breadcrumb__item:first-child a,
.slds-breadcrumb__item:last-child a {
  color: #919CA1;
}

#subheader li.slds-tabs_default__item a.slds-tabs_default__link {
  color: #16325C;
  font-weight: normal;
}

#footer {
  height: 3rem;
}

#footer .menu-item {
  font-size: 12px;
  padding: 13px 20px;
}

#content {
  margin: 0 auto;
  padding-bottom: 100px;
}

#content-wrapper {
  margin: 0 auto;
  color: #16325C;
}

#top, #bottom, #middle {
  margin: 0 auto;
}

.slds-tabs_default__nav,
.slds-tabs--default__nav {
  border-bottom: 2px solid #FFF;
}

.slds-tabs_default__nav.audience-discovery-tab-nav,
.slds-tabs--default__nav.audience-discovery-tab-nav {
  border-bottom: 2px solid transparent;
}

.slds-tabs_default__item,
.slds-tabs--default__item {
  border-bottom: 2px solid #FFF;
  border-radius: 2px 2px 0 0;
  background-color: #E0E5EE;
  margin-right: 8px;
}

.slds-tabs_default__item.slds-active,
.slds-tabs_default__item.slds-is-active,
.slds-tabs--default__item.slds-active,
.slds-tabs--default__item.slds-is-active {
  background-color: #fff;
}

.slds-tabs_default__item.slds-active:after,
.slds-tabs_default__item.slds-is-active:after,
.slds-tabs--default__item.slds-active:after,
.slds-tabs--default__item.slds-is-active:after {
  background-color: #FFF;
}

#bar-thing {
  background-color: #F7F9FB;
  padding-left: 100px;
  padding-top: 8px;
  height: 50px;
}

#segmentTable {
  border-radius: 4px;
  border: 1px solid #E0E5EE;
}

#segmentTable > thead,
#segmentTable > thead > tr,
#segmentTable > thead > tr > th {
  border-radius: 4px;
}

#segmentTable > thead > tr > th {
  color: #54698D;
}

#segmentTable tbody tr {
  height: 40px;
}

#segmentTable tbody tr td .slds-dropdown-trigger .slds-dropdown_right {
  margin-top: -2rem;
  right: 34px;
  width: 132px;
}

#segmentTable tbody tr td .slds-dropdown-trigger .slds-dropdown_right a:hover {
  color: #0070D2;
  background-color: #fff;
}

.slds-context-bar {
  border-bottom: 3px solid #F28B00;
}

.slds-context-bar__item.slds-is-active:before {
  background: #B75D0D;
}

.slds-context-bar__item:not(.slds-no-hover):hover, .slds-context-bar__item.slds-is-active {
  background-color: rgba(183, 93, 13, 0.1);
}

.slds-context-bar__item.slds-is-active {
  animation: unset;
}

.slds-context-bar__item_tab, .slds-context-bar__item--tab {
  border-right: 0 none;
  border-left: 1px solid #dddbda;
}

#content .slds-context-bar__label-action {
  color: #0070D2;
}

.clicked-card {
  padding-top: 33px;
  border: 1px solid #0070D2;
}

.card {
  height: 162px;
  border-radius: 2px;
  cursor: pointer;
}

.card :hover {
  box-shadow: 0 0 3px #0070d2;
}

.card .slds-button {
  width: 219px;
  height: 32px;
  margin: 10px auto;
  display: block;
}

.audience-discovery-tab-nav:before {
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 136px;
  z-index: 3;
}

#canvas {
  width: 100%;
  height: 434px;
  height: 385px;
}

#alpha-hover {
  top: 25.9rem;
  left: 0rem;
  width: 100%;
  height: 42px;
  position: relative;
}

#alpha-hover, #alpha-hover-2, #alpha-hover-cog {
  position: absolute;
}

#alpha-hover-2 {
  top: 6px;
  left: 748px;
  width: 25px;
  height: 25px;
}

#alpha-hover-cog {
  top: 0.2rem;
  left: 93%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.display-none {
  display: none;
}

#key .green {
  display: none;
}

.version-201 #key .green {
  display: block;
}

.version-201 #key .blue {
  display: none;
}

body {
  font-family: Salesforce Sans;
  height: 1400px;
}

#legend {
  margin-left: 1rem;
  margin-top: -1.7rem;
}

#legend img {
  margin-right: 10px;
  width: 2rem;
}

#legend span {
  color: #54698D;
  font-size: 12px;
  margin-right: 20px;
}

.links line {
  stroke: #C4C9D3;
  stroke-opacity: 1;
}

.links line:hover {
  stroke: #556a8c;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 3px;
}

.nodes circle:hover {
  stroke: #e9edf6;
  stroke-width: 3px;
}

.titleBox {
  position: absolute;
}

.titleBox > div {
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  pointer-events: none;
  box-sizing: border-box;
  padding: 6px;
  font-size: 12px;
  line-height: 17px;
  width: 251px;
}

.titleBox .nodeLabelBackground {
  background-color: #16325C;
  color: #FFF;
  opacity: 0.4;
  border-radius: 4px;
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  padding: 6px;
  font-size: 12px;
  line-height: 17px;
}

.titleBox .nodeLabelText {
  position: absolute;
  opacity: 1;
  color: #FFF;
  background: transparent;
  border-radius: 4px;
  pointer-events: none;
  box-sizing: border-box;
  padding: 6px;
  font-size: 12px;
  line-height: 17px;
}

.d3-tip {
  font-size: 12px;
}

.d3-tip .title {
  font-family: Salesforce Sans Bold;
}

.d3-tip .body {
  font-family: Salesforce Sans;
  margin-top: 4px;
}

.d3-tip .footer {
  font-family: Salesforce Sans Italic;
  margin-top: 8px;
}

#formLeft, #formRight {
  border-radius: 100px;
  border: 1px solid #E0E4ED;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#formLeft img, #formRight img {
  position: relative;
  top: 4px;
  left: 9px;
  height: 14px;
}

#formRight img {
  left: 12px;
}

#formLeft:hover, #formRight:hover {
  border-color: #54698D;
}

#formLeft.disable:hover, #formRight.disable:hover {
  border-color: #E0E4ED;
  cursor: default;
}

#form {
  border: 2px solid #F2F2F2;
  border-radius: 2px;
  background-color: #F5F7F8;
}

#dots {
  margin-left: auto;
  margin-right: auto;
  height: 24px;
}

#dots .dot:last-child {
  margin-right: 0;
}

#formDots .dot {
  width: 12px;
  height: 12px;
  border: 1px solid #54698D;
  border-radius: 100px;
  margin-right: 12px;
  float: left;
  cursor: pointer;
}

#formDots .dot.active {
  background-color: #54698D;
}

#topPersonas .slds-input, #topPersonas .slds-button {
  font-size: 12px;
  transition: all 0.1s;
  width: 100%;
  cursor: pointer;
}

#rank {
  font-size: 10px;
  color: #16325C;
  text-transform: uppercase;
  background-color: #E0E5EE;
  border-radius: 100px;
  padding: 5px 10px;
}

#personaName {
  font-size: 20px;
  color: #16325C;
  background: transparent;
  border: 0 none;
  border-bottom: 1px solid #D8DDE6;
}

#personaName:focus, #personaName:active {
  border: 0 none;
  border-bottom: 1px solid #0070D2;
  outline: none;
}

#editIcon {
  width: 14px;
  height: 14px;
  fill: #54698d;
}

.contents {
  color: #16325C;
  font-family: Salesforce Sans Bold;
  font-size: 20px;
}

.sub {
  font-size: 10px;
  color: #54698D;
  text-transform: uppercase;
}

#formBody {
  color: #16325C;
  border-radius: 2px;
  border: 0 none;
  background-color: white;
  margin: 0 -0.9rem;
}

#formBody > ul {
  min-height: 110px;
  width: 31.8rem;
}

#formBody > ul li {
  padding-left: 24px;
}

.stats {
  font-size: 12px;
  color: #54698D;
}

#key {
  color: #536FA6;
}

#key > ul li {
  list-style: none;
  padding-left: 18px;
  float: left;
  margin-right: 24px;
}

#key > ul li.purple {
  background: url("/img/icons/purple.svg") no-repeat left center/10px;
}

#key > ul li.blue {
  background: url("/img/icons/blue.svg") no-repeat left center/10px;
}

#key > ul li.green {
  background: url("/img/icons/green.svg") no-repeat left center/10px;
}

#formBody > ul li.purple {
  background: url("/img/icons/purple.svg") no-repeat left top/16px;
  padding-right: 4px;
}

#formBody > ul li.blue {
  background: url("/img/icons/blue.svg") no-repeat left top/16px;
}

#formBody > ul li.blue.dolla {
  background: url("/img/icons/blue-dolla.svg") no-repeat left top/16px;
  padding-right: 4px;
}

#formBody > ul li.green {
  background: url("/img/icons/green.svg") no-repeat left top/16px;
}

#formBody > ul li.green.dolla {
  background: url("/img/icons/green-dolla.svg") no-repeat left top/16px;
}
