.slds-button__icon.slds-button__icon_right {
	width: 10px;
	height: 6px;
}

.slds-button.slds-button_neutral {
	font-size: 12px;
	color: #16325C;
}

.slds-panel-box__sub-header {
	background-color: #F7F9FB;
	border-top: 2px solid white;
}

.slds-text-body_x-small {
	font-size: 0.7rem;
}