$numberOfSlides: 4;
$preloadImagesData: url('/magick-flows/as/main/0000___ID=LAL___DATA=unset___NOTES=unset.png')
		url('/magick-flows/as/main/0001___ID=LAL-hover___DATA=unset___NOTES=unset.png')
		url('/magick-flows/as/main/0010___ID=segments___DATA=is-escape-hatch--%3Fstate%3DaddLookalike___NOTES=unset.png')
		url('/magick-flows/as/main/0011___ID=segments-hover___DATA=unset___NOTES=unset.png')
		url('/magick-flows/as/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;