@import "./variables.scss";


$numberOfSlides: 1 !default;
$preloadImagesData: "url('/fake.png')" !default;

$heightOfSlideValue: 720 !default;
$widthOfSlideValue: 333 !default;
$widthOfGutterValue: 333 !default;

$widthOfAppSwitcher: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) + 0px;
$heightOfAppSwitcher: $heightOfSlideValue + 0px;
$heightOfSlide: $heightOfSlideValue + 0px;
$widthOfSlide: $widthOfSlideValue + 0px;

$widthOfAppSwitcherNegative: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) * -1px;
$heightOfAppSwitcherNegative: $heightOfSlideValue * -1px;
$heightOfSlideNegative: $heightOfSlideValue * -1px;
$widthOfSlideNegative: $widthOfSlideValue * -1px;

/* This is done to preload images and reduce load flicker */
body::after {
	backface-visibility: visible;
	content: $preloadImagesData;
	outline:1px solid red;
	height: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
	z-index: -1;
}

$widthOfAppSwitcher: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) + 0px;
$heightOfAppSwitcher: $heightOfSlideValue + 0px;
$heightOfSlide: $heightOfSlideValue + 0px;
$widthOfSlide: $widthOfSlideValue + 0px;

@import "./../../../../engine/styles/magick-flows.scss";



html {
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: #514f4d;
  color: #080707;
  -webkit-tap-highlight-color: transparent;
}

.container {
  background: url(/images/home-background.jpg) no-repeat top left;
  background-size: 100% 100%;
  height: $heightOfAppSwitcher;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: $widthOfSlide;
}

body.magick-flow {
  background-color: transparent !important;
  // background-color: white;
  // background-image: url('/magick-flows/consumer-mobile/assets/all__phone-background.png');
  background-image: none;
  overflow: hidden;
  width: 100vw;
}
body.magick-flow[data-current="magick-flows--step-1"], html[data-current="magick-flows--step-1"] {
  background-color: #056CDF;
}
body.magick-flow[data-current="magick-flows--step-2"], html[data-current="magick-flows--step-2"] {
  background-color: #022DA2;
}
body.magick-flow[data-current="magick-flows--step-3"], html[data-current="magick-flows--step-3"] {
  background-color: #022DA2;
}
body.magick-flow[data-current="magick-flows--step-4"], html[data-current="magick-flows--step-4"] {
  background-color: #022DA2;
}
body.magick-flow[data-current="magick-flows--step-7"], html[data-current="magick-flows--step-7"] {
  background-color: black;
}
body.magick-flow[data-current="magick-flows--step-8"], html[data-current="magick-flows--step-8"] {
  background-color: black;
}

body.magick-flow[data-current="magick-flows--step-9"], html[data-current="magick-flows--step-9"] {
  background-color: #e03a3e;
}

body.magick-flow[data-current="magick-flows--step-10"], html[data-current="magick-flows--step-10"] {
  background-color: #e8b018;
}


div#content-wrapper {
//  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.61);
  border-radius: 0.25rem;
  position: relative;
  left: auto;
  margin: 0px auto;
}