$numberOfSlides: 3;
$preloadImagesData: url('/magick-flows/consumer-mobile/main/9.png')
		url('/magick-flows/consumer-mobile/main/10.png')
		url('/magick-flows/consumer-mobile/main/11.png')
		url('/magick-flows/consumer-mobile/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 333;
$widthOfGutterValue: 333;