$numberOfSlides: 12;
$preloadImagesData: url('/magick-flows/consumer-mobile/main/0000___ID=start___DATA=unset___NOTES=Click-to-schedule.png')
		url('/magick-flows/consumer-mobile/main/0100___ID=london___NOTES=Click-“Accept”.png')
		url('/magick-flows/consumer-mobile/main/0201___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0202___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0203___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0204___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0205___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0206___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0207___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0208___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0209___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/main/0210___ID=phone___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/consumer-mobile/assets/all__viewport-size.png');
$heightOfSlideValue: 812;
$widthOfSlideValue: 375;
$widthOfGutterValue: 375;