$numberOfSlides: 13;
$preloadImagesData: url('/magick-flows/C360-fever/main/0000___ID=c360-data-sources___DATA=unset.png')
		url('/magick-flows/C360-fever/main/0320___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0321___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0322___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0323___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0324___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0325___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0326___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0327___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0328___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0329___ID=Segmentation-2___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast.png')
		url('/magick-flows/C360-fever/main/0410___ID=journey-canvas-for-pacers___NOTES=click-anywhere.png')
		url('/magick-flows/C360-fever/main/0420___ID=customer-experience.png')
		url('/magick-flows/C360-fever/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;