@keyframes slide-in {
	0% {
		transform: translate( -700px, 0px );
	}
	100% {
		transform: translate( 0px, 0px );
	}
}

@keyframes slide-out {
	0% {
		transform: translate( 0px, 0px );
	}
	100% {
		transform: translate( -700px, 0px );
	}
}