/* This should be done to preload images and reduce load flicker */
@font-face {
  font-family: 'Salesforce Sans Light';
  src: url("/fonts/webfonts/SalesforceSans-Light.woff2") format("woff2"), url("/fonts/webfonts/SalesforceSans-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: 'Salesforce Sans Light Italic';
  src: url("/fonts/webfonts/SalesforceSans-LightItalic.woff2") format("woff2"), url("/fonts/webfonts/SalesforceSans-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("/fonts/webfonts/SalesforceSans-Regular.woff2") format("woff2"), url("/fonts/webfonts/SalesforceSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans Italic';
  src: url("/fonts/webfonts/SalesforceSans-Italic.woff2") format("woff2"), url("/fonts/webfonts/SalesforceSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans Bold';
  src: url("/fonts/webfonts/SalesforceSans-Bold.woff2") format("woff2"), url("/fonts/webfonts/SalesforceSans-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'Salesforce Sans Bold Italic';
  src: url("/fonts/webfonts/SalesforceSans-BoldItalic.woff2") format("woff2"), url("/fonts/webfonts/SalesforceSans-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

/**
 * @summary Hides an element from the page by setting the opacity property set to `0`
 *
 * @selector .transition-hide
 * @notes This works like the `.slds-hidden` class and reserves the space but allows you to add the `transition` property to transition the speed that it is shown or hidden.
 * @modifier
 */
.slds-transition-hide {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 0;
}

/**
 * @summary Shows the element using the opacity property set to `1`
 *
 * @selector .transition-show
 * @notes This is toggled on the element. `.slds-transition-hide` class is removed and `.slds-transition-show` is added.
 * @modifier
 */
.slds-transition-show {
  transition: opacity 300ms ease-in-out;
  will-change: opacity;
  opacity: 1;
}

body.has-debug .is-ssi-block {
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 14px 0px rgba(255, 0, 0, 0.34);
  border-radius: 0.125rem;
  box-sizing: content-box;
}

body.has-debug span.is-ssi-block {
  border: 1px solid rgba(255, 0, 0, 0.5);
  display: inherit;
  box-shadow: 0px 0px 14px 0px rgba(255, 0, 0, 0.34);
  border-radius: 0.125rem;
  box-sizing: content-box;
}

body.magick-flows-dashboard .magick-flows-dashboard {
  background-color: white;
}

.slds-brand-band:before {
  background-image: url(/images/themes/oneSalesforce/banner-brand-default.png), linear-gradient(to top, rgba(221, 219, 218, 0) 0, #e8e8e8);
}

.slds-brand-band.slds-brand-band_medium {
  background-image: linear-gradient(to bottom, rgba(27, 95, 158, 0), #b0c4df 200px), url(/images/banner-brand-default.png);
  background-repeat: repeat-x;
  background-position: 0 90px;
  background-color: #1b5f9e;
}

.slds-brand-band.slds-brand-band_medium:after {
  top: auto;
  bottom: 0;
}

#subheader-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 110px;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}

#content-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  background-color: white;
}

.slds-container_large, .slds-container--large {
  max-width: 78.3rem;
}

#subheader-wrapper.einstein #subheader h1 {
  padding-left: 1rem;
  padding-top: 1rem;
}

.slds-panel-box {
  border: 1px solid #E0E5EE;
  border-radius: 4px;
  background-color: #fff;
}

.slds-panel-box__header {
  border-radius: 4px 4px 0 0;
  font-size: 16px;
}

.slds-panel-box__header span {
  font-weight: bold;
}

.slds-panel-box__sub-header {
  background-color: #F7F9FB;
  border-top: 2px solid white;
}

.slds-panel-box__sub-footer {
  border-top: 1px solid #D8DDE6;
  width: 100%;
  margin: 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */