<style>
	#import-in-progress-wrapper svg{
		margin-left: 24px;
		margin-bottom: 200px;
	}

	.grow-circle {
		animation: grow-circle 7s linear;
		stroke-dashoffset: 0;
		stroke-dasharray: 233;
		/*animation-play-state: paused;*/
	}

	@keyframes grow-circle {
		from {
			stroke-dashoffset: 233;
		}
	}

	.bar {
		transform-origin: 536px center;
	}

	#Bar {
		animation: growBar 7s ease-out forwards;
	}

	@-webkit-keyframes growBar {
		from { transform: scaleX(.5); }
		20% { transform: scaleX(.8); }
		40% { transform: scaleX(.3); }
		60% { transform: scaleX(.5); }
		80% { transform: scaleX(.8); }
		to { transform: scaleX(1); }
	}

	#Bar_2 {
		animation: growBar_2 7s ease-out forwards;
	}

	@-webkit-keyframes growBar_2 {
		from { transform: scaleX(.8); }
		20% { transform: scaleX(.5); }
		40% { transform: scaleX(.5); }
		60% { transform: scaleX(.3); }
		80% { transform: scaleX(.5); }
		to { transform: scaleX(1); }
	}

	#Bar_3 {
		animation: growBar_3 7s ease-out forwards;
	}

	@-webkit-keyframes growBar_3 {
		from { transform: scaleX(1); }
		20% { transform: scaleX(.8); }
		40% { transform: scaleX(.9); }
		60% { transform: scaleX(.7); }
		80% { transform: scaleX(1.1); }
		to { transform: scaleX(1); }
	}

	#Bar_4 {
		animation: growBar_4 7s ease-out forwards;
	}

	@-webkit-keyframes growBar_4 {
		from { transform: scaleX(.1); }
		20% { transform: scaleX(.3); }
		40% { transform: scaleX(.4); }
		60% { transform: scaleX(.7); }
		80% { transform: scaleX(.9); }
		to { transform: scaleX(1); }
	}

	#Bar_5 {
		animation: growBar_5 7s ease-out forwards;
	}

	@-webkit-keyframes growBar_5 {
		from { transform: scaleX(1.1); }
		20% { transform: scaleX(.5); }
		40% { transform: scaleX(.9); }
		60% { transform: scaleX(.7); }
		80% { transform: scaleX(.5); }
		to { transform: scaleX(1); }
	}

	.bar2 {
		transform-origin: 876px center;
	}

	#Bar_6 {
		animation: growBar6 7s ease-out forwards;
	}

	@-webkit-keyframes growBar6 {
		from { transform: scaleX(1); }
		20% { transform: scaleX(1.6); }
		40% { transform: scaleX(.8); }
		60% { transform: scaleX(.5); }
		80% { transform: scaleX(1.2); }
		to { transform: scaleX(1); }
	}

	#Bar_7 {
		animation: growBar7 7s ease-out forwards;
	}

	@-webkit-keyframes growBar7 {
		from { transform: scaleX(.6); }
		20% { transform: scaleX(.4); }
		40% { transform: scaleX(.7); }
		60% { transform: scaleX(.8); }
		80% { transform: scaleX(.9); }
		to { transform: scaleX(1); }
	}

	#Bar_8 {
		animation: growBar8 7s ease-out forwards;
	}

	@-webkit-keyframes growBar8 {
		from { transform: scaleX(1.6); }
		20% { transform: scaleX(.4); }
		40% { transform: scaleX(1.5); }
		60% { transform: scaleX(1); }
		80% { transform: scaleX(.6); }
		to { transform: scaleX(1); }
	}

	#Bar_9 {
		animation: growBar9 7s ease-out forwards;
	}

	@-webkit-keyframes growBar9 {
		from { transform: scaleX(5); }
		20% { transform: scaleX(2); }
		40% { transform: scaleX(1); }
		60% { transform: scaleX(.5); }
		80% { transform: scaleX(.9); }
		to { transform: scaleX(1); }
	}

	#Bar_10 {
		animation: growBar10 7s ease-out forwards;
	}

	@-webkit-keyframes growBar10 {
		from { transform: scaleX(5); }
		20% { transform: scaleX(3); }
		40% { transform: scaleX(2); }
		60% { transform: scaleX(1); }
		80% { transform: scaleX(.5); }
		to { transform: scaleX(1); }
	}
</style>

<div id="import-in-progress-wrapper">
	<%- include('images/slices/import/import-in-progress.svg') %>
</div>

<script type="text/javascript">
	const maxValues = {
		tov: 134221892,
		tcs: 127348,
		aov: 67.48,
		css: 71.7
	}

	const numbers = [
		{ elm: document.querySelector('#tov tspan'), max: 134221892, var: 100000, cur: 0, pre: '$', fixed: 2, fluxuate: false },
		{ elm: document.querySelector('#tsc tspan'), max: 127348, var: 1000, cur: 0, fixed: 0, fluxuate: false },
		{ elm: document.querySelector('#aov tspan'), max: 67.48, var: 1, cur: 40, pre: '$', fixed: 2, fluxuate: true },
		{ elm: document.querySelector('#css tspan'), max: 71.7, var: 1, cur: 50, post: '%', fixed: 1, fluxuate: true }
	]

	const startTime = new Date();

	const increase = () => {
		const now = new Date();

		numbers.forEach(number => {
			if (now - startTime < 4000) {
				number.cur += (number.cur < number.var * 10) ? number.cur + 1 * number.cur + 1 : (Math.random() < 0.5) ? Math.random() * number.var : (Math.random() < 0.3 && number.fluxuate) ? -number.var : 0;
			} else if (now - startTime < 6000) {
				if (number.cur <= number.max + (number.var * 10)) {
					number.cur += number.var * Math.random();
				} else {
					number.cur -= number.var * 3;
				}
			} else {
				if (number.cur < number.max) {
					number.cur += ((number.max - number.cur)/10) + (number.var * 10);
				} else {
					number.cur = number.max;
				}
			}

			const formattedNumber = number.cur.toLocaleString('en-US', {minimumFractionDigits: number.fixed, maximumFractionDigits: number.fixed});
			number.elm.textContent = `${number.pre || ''}${formattedNumber}${number.post || ''}`;
		});


		if (now - startTime < 88000) {
			window.setTimeout(increase, 100);
		}

	}

	increase();
</script>