$numberOfSlides: 4;
$preloadImagesData: url('/magick-flows/audience-studio/main/0000___ID=LAL___DATA=unset___NOTES=unset.png')
		url('/magick-flows/audience-studio/main/0001___ID=LAL-hover___DATA=unset___NOTES=unset.png')
		url('/magick-flows/audience-studio/main/0010___ID=segments___DATA=unset___NOTES=unset.png')
		url('/magick-flows/audience-studio/main/0011___ID=segments-hover___DATA=unset___NOTES=unset.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;