.slds-tabs_default__nav.audience-discovery-tab-nav,
.slds-tabs--default__nav.audience-discovery-tab-nav {
  border-bottom: 2px solid transparent;
}

.audience-discovery-tab-nav:before {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 120px;
  z-index: 3;
}

#subheader-wrapper {
  padding-bottom: 0;
}
