#content-wrapper {
  width: 1280px;
  position: absolute;
  left: 50%;
}

#content {
  width: 1280px;
  position: relative;
  left: -50%;
}

#content > img {
  width: 1280px;
}

.preload {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

.rpd-object {
  background-color: transparent;
  width: 100px;
  height: 40px;
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 0px;
}

#touchpoints-click-target {
  width: 177px;
  height: 52px;
  top: 189px;
  left: 15px;
}

#paths-click-target {
  width: 177px;
  height: 52px;
  top: 189px;
  left: 192px;
}

#paths-hover-target {
  top: 484px;
  left: 667px;
  width: 24px;
  height: 24px;
}

#combinations-click-target {
  width: 177px;
  height: 52px;
  top: 189px;
  left: 369px;
}
