body {
	margin: 0;
}

// new large container is smaller than we want
.slds-container_large, .slds-container--large {
	max-width: 71.3rem;
}

.slds-global-header__logo {
	width: 3rem;
	height: unset;
}