body {
	margin: 0;
}

// new large container is smaller than we want
.slds-container_large, .slds-container--large {
	max-width: 71.3rem;
}

.slds-global-header__logo {
	width: 3rem;
	height: unset;
}

.slds-panel-box {
	border: 1px solid #E0E5EE;
	border-radius: 4px;
	background-color: #fff;
}

.slds-panel-box__header {
	border-radius: 4px 4px 0 0;
	background-color: #F4F6F9;
	font-size: 16px;
	color: #16325C;
}

.slds-panel-box__header svg, .slds-panel-box__header img {
	fill: #54698D;
	width: 16px;
}

.slds-text-heading_medium, .slds-text-heading--medium {
	font-weight: 400;
}

.slds-brand-band:before {
	background-image: none;
}

.slds-form-element__label:empty {
    margin: 0;
    padding: 0;
}