$numberOfSlides: 14;
$preloadImagesData: url('/magick-flows/consumer-mobile/main/1010___ID=ticketmaster-app___DATA=unset___NOTES=Click-the-first-row__Sec-16-Row-4.png')
		url('/magick-flows/consumer-mobile/main/1020___ID=ticketmaster-app___DATA=unset___NOTES=Click-the-“Next”-button__Green__At-the-bottom.png')
		url('/magick-flows/consumer-mobile/main/1030___ID=ticketmaster-app___DATA=unset___NOTES=Click-the-“Add-to-Apple-Wallet”-button.png')
		url('/magick-flows/consumer-mobile/main/2000___ID=email-inbox___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-the-first-email__The-subject-is-“Indiana-Fever”.png')
		url('/magick-flows/consumer-mobile/main/2010___ID=email-details___DATA=show-drawer-from-right--on-arrival__hide-drawer-from-right--never___NOTES=Click-the-“Download-Now”-button__Yellow__At-the-bottom.png')
		url('/magick-flows/consumer-mobile/main/4000___ID=apple-wallet-1___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-the-“Add-to-Apple-Wallet”-button.png')
		url('/magick-flows/consumer-mobile/main/4010___ID=apple-wallet-2___DATA=show-ios-notification___NOTES=Click-the-notification.png')
		url('/magick-flows/consumer-mobile/main/5000___ID=map-to-seats___DATA=unset___NOTES=Click-on-your-seat.png')
		url('/magick-flows/consumer-mobile/main/6000___ID=phone-locked-1___DATA=unset___NOTES=Click-on-the-notification-to-dismiss.png')
		url('/magick-flows/consumer-mobile/main/6010___ID=phone-locked-2___DATA=show-ios-notification___NOTES=Click-on-the-notification-to-dismiss.png')
		url('/magick-flows/consumer-mobile/main/7000___ID=kats-daughter-can-not-hang-onto-her-things-so-we-tweet-about-it-i-guess___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/consumer-mobile/main/7010___ID=the-fever-reply-about-the-hat-thank-goodness___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/consumer-mobile/main/7020___ID=kat-is-thankful-enough-to-use-an-exlclaimation-point___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/consumer-mobile/main/7020___ID=kat-is-thankful-enough-to-use-an-exlclaimation-point___DATA=unset___NOTES=End.png')
		url('/magick-flows/consumer-mobile/assets/all__phone-background.png')
		url('/magick-flows/consumer-mobile/assets/all__viewport-size.png')
		url('/magick-flows/consumer-mobile/assets/apple-wallet-2___ios-notification.png')
		url('/magick-flows/consumer-mobile/assets/email-details___drawer-from-right.png')
		url('/magick-flows/consumer-mobile/assets/phone-locked-2___ios-notification.png');
$heightOfSlideValue: 812;
$widthOfSlideValue: 375;
$widthOfGutterValue: 375;