body.slds-brand-band.slds-brand-band_medium.vsc-initialized {
	background: white;
}

.slds-context-bar__item.slds-is-active:before {
	background: #F48B00;
}

.slds-context-bar__item:not(.slds-no-hover):hover, .slds-context-bar__item.slds-is-active, ::selection {
	background: #FEF3E5;
	// background-color: red !important;
}

.slds-context-bar {
	border-bottom: 3px solid #F48B00;
}

.slds-context-bar__item.slds-is-active {
	animation: bkAnim 0.135s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes bkAnim {
	50% {
		background-color: white;
	}
	100% {
		background-color: #FEF3E5;
	}
}

#subheader-wrapper {
	margin-top: 40px;
}

#content-wrapper {
	border-radius: 4px;
	padding: 0;
}

.slds-panel__body {
	padding: 0;
	padding-top: 15px;

	img {
		width: 100%;
	}
}

.slds-panel_docked-left {
	border-radius: 4px 0 0 4px;
}

