$numberOfSlides: 3;
$preloadImagesData: url('/magick-flows/analyze/main/0000___ID=datorama-intelligence-dashboard___DATA=has-sticky-header___NOTES=Notes-go-here.png')
		url('/magick-flows/analyze/main/0100___ID=datorama-mix-and-connect___DATA=has-sticky-header___NOTES=Notes-go-here.png')
		url('/magick-flows/analyze/main/0200___ID=datorama-intelligence-dashboard___DATA=has-sticky-header___NOTES=Notes-go-here.png')
		url('/magick-flows/analyze/assets/0000___ID=datorama-intelligence-dashboard___DATA=has-sticky-header___NOTES=Notes-go-here.png')
		url('/magick-flows/analyze/assets/0100___ID=datorama-mix-and-connect___DATA=has-sticky-header___NOTES=Notes-go-here.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;