$numberOfSlides: 8;
$heightOfSlideValue: 812;
$widthOfSlideValue: 375;
$widthOfGutterValue: 20;

$widthOfAppSwitcher: (($widthOfSlideValue * $numberOfSlides) + ($widthOfGutterValue * ($numberOfSlides - 1))) * 1px;


@import "./../../../styles/magick-flows.scss";




.notification {
	background: url('robot-puke—notification.png') no-repeat top left;
	margin: 0 auto;
	position: absolute;
	transition: 125ms top ease-in-out;
	width: 375px;
	background-color: transparent;
	height: 812px;
	top: -210px;
	transition: 125ms top ease-in-out;
	will-change: top;

}

.notification.slide-in {
	top: 0px;
	transition: 125ms top ease-in-out;
	will-change: top;
	// transition-delay: 1000ms;
}


