$numberOfSlides: 18;
$preloadImagesData: url('/magick-flows/pacers/main/0000___ID=Welcome.png')
		url('/magick-flows/pacers/main/0100___ID=Setup-1___DATA=is-own-header__own-header-height--90___NOTES=Click-the-“Pacers-Customer-Community”-card.png')
		url('/magick-flows/pacers/main/0110___ID=Setup-choose-data-source-community___DATA=is-own-header__own-header-height--90___NOTES=Click-the-“Pacers-Sales”-card.png')
		url('/magick-flows/pacers/main/0112___ID=Setup-choose-data-source-sales___DATA=is-own-header__own-header-height--90___NOTES=Click-the-“Pacers-Service-Central”-card.png')
		url('/magick-flows/pacers/main/0114___ID=Setup-choose-data-source-service___DATA=is-own-header__own-header-height--90___NOTES=Click-the-“PacersTeamStore”-card.png')
		url('/magick-flows/pacers/main/0116___ID=Setup-choose-data-source-teamstore___DATA=is-own-header__own-header-height--90___NOTES=Click-the-“Ticketmaster”-card.png')
		url('/magick-flows/pacers/main/0118___ID=Setup-choose-data-source-ticketmaster___DATA=is-own-header__own-header-height--90___NOTES=Click-the-“Continue”-button.png')
		url('/magick-flows/pacers/main/0120___ID=Setup-3___DATA=is-own-header__own-header-height--90___NOTES=Click.png')
		url('/magick-flows/pacers/main/0130___ID=Setup-4-2___DATA=is-eject--import-data___NOTES=Click.png')
		url('/magick-flows/pacers/main/0140___ID=Setup-4-3___DATA=is-own-header__own-header-height--90___NOTES=Click.png')
		url('/magick-flows/pacers/main/0150___ID=Setup-4-4___DATA=is-own-header__own-header-height--90___NOTES=Click.png')
		url('/magick-flows/pacers/main/0160___ID=Setup-4-5___DATA=unset___NOTES=Click.png')
		url('/magick-flows/pacers/main/0200___ID=Dashboard___DATA=is-own-header__own-header-height--90___NOTES=Click.png')
		url('/magick-flows/pacers/main/0300___ID=Segmentation-1___DATA=is-own-header__own-header-height--90___NOTES=Click.png')
		url('/magick-flows/pacers/main/0310___ID=Segmentation-1-1___DATA=is-own-header__own-header-height--90___NOTES=Click.png')
		url('/magick-flows/pacers/main/0320___ID=Segmentation-2___DATA=is-own-header__own-header-height--90__use-step-transition__step-transition_auto-advance__step-transition-timing--medium___NOTES=Click.png')
		url('/magick-flows/pacers/main/0330___ID=Segmentation-3___DATA=is-own-header__own-header-height--90___NOTES=Click.png')
		url('/magick-flows/pacers/main/0400___ID=Activation___DATA=is-own-header__own-header-height--90___NOTES=Click.png')
		url('/magick-flows/pacers/assets/all__viewport-size.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;