$numberOfSlides: 37;
$preloadImagesData: url('/magick-flows/msm/main/0000___ID=msm-home___DATA=is-own-header__own-header-height--53___NOTES=Click-to-go-to-next-step.png')
		url('/magick-flows/msm/main/0100___ID=msm-next___DATA=is-own-header__own-header-height--53___NOTES=Click-to-go-to-next-step.png')
		url('/magick-flows/msm/main/0600___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/0700___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/0800___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/0900___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/1000___ID=msm___DATA=use-step-transition__step-transition_application-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/1100___ID=msm___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--fast___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/1120___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/1300___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/1500___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/1600___ID=msm___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/1700___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/2200___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/2300___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/2400___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/2500___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/2600___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/2700___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/2800___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/2900___ID=msm___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/3100___ID=msm___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/3200___ID=msm___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/3300___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/3500___ID=msm___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/3600___ID=msm-push-credit-card___DATA=show-ios-notification___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/3700___ID=msm-credit-card___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/3700___ID=msm-iphone-home-screen___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/4000___ID=msm-cc-app-msg___DATA=show-ios-notification___NOTES =Click-to-move-on.png')
		url('/magick-flows/msm/main/4200___ID=msm___DATA=use-step-transition__step-transition_app-switch___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/4300___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/4500___ID=msm___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/4600___ID=msm___DATA=use-step-transition__step-transition_auto-advance__step-transition-timing--normal___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/4800___ID=msm___DATA=unset___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/main/4900___ID=datorama-mix-and-connect___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--never__is-own-header__own-header-height--60___NOTES=Notes-go-here.png')
		url('/magick-flows/msm/main/5000___ID=msm-ccredit-monitor-home___DATA=show-ios-notification___NOTES =Click-to-move-on.png')
		url('/magick-flows/msm/main/5100___ID=msm-ccredit-monitor-msg___DATA=show-ios-notification___NOTES =Click-to-move-on.png')
		url('/magick-flows/msm/assets/3600___ID=msm-push-credit-card___DATA=show-ios-notification___NOTES=Click-to-move-on.png')
		url('/magick-flows/msm/assets/all__viewport-size.png')
		url('/magick-flows/msm/assets/email-activity-summary-out___drawer-from-left.png')
		url('/magick-flows/msm/assets/email-activity-summary-slides-away__drawer-from-left.png')
		url('/magick-flows/msm/assets/email-editor-slides-away___drawer-from-left.png')
		url('/magick-flows/msm/assets/email-editor-slides-out___drawer-from-left.png')
		url('/magick-flows/msm/assets/image-editor-slides-out___drawer-from-left.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;