$numberOfSlides: 15;
$preloadImagesData: url('/magick-flows/msm/main/0010___ID=journey-canvas-for-fever___NOTES=click-email-welcome-appointment-schedule.png')
		url('/magick-flows/msm/main/0020___ID=email-activity-summary-out___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never__use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/msm/main/0022___ID=email-activity-summary-out-reset___NOTES=click-edit-message-button.png')
		url('/magick-flows/msm/main/0030___ID=email-editor-slides-out___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never__use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/msm/main/0032___ID=email-editor-reset___NOTES=click-on-skyline-image-block-in-email.png')
		url('/magick-flows/msm/main/0034___ID=image-editor-slides-out___DATA=show-drawer-from-left--on-arrival__hide-drawer-from-left--never__use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/msm/main/0040___ID=image-editor-reset___NOTES=click-replace-link.png')
		url('/magick-flows/msm/main/0050___ID=content-selector___NOTES=click-filter-button.png')
		url('/magick-flows/msm/main/0060___ID=content-selector___NOTES=click-checkbox-next-to-filter-for-Location.png')
		url('/magick-flows/msm/main/0070___ID=content-selector___NOTES=select-content-image-top-row-middle-named-c-gherkinbuild.png')
		url('/magick-flows/msm/main/0080___ID=content-selector___NOTES=click-select-button-bottom-right-of-modal.png')
		url('/magick-flows/msm/main/0090___ID=email-editor___NOTES=click-done-editing.png')
		url('/magick-flows/msm/main/0100___ID=email-editor-slides-away___DATA=show-drawer-from-left--instantly__hide-drawer-from-left--on-leave__use-step-transition__step-transition_auto-advance__step-transition-timing--normal.png')
		url('/magick-flows/msm/main/0110___ID=journey-canvas-configured-reset___NOTES=click-activate-button.png')
		url('/magick-flows/msm/main/0120___ID=journey-launch-modal___NOTES=click-header-activate-button=End.png')
		url('/magick-flows/msm/assets/all__viewport-size.png')
		url('/magick-flows/msm/assets/email-activity-summary-out___drawer-from-left.png')
		url('/magick-flows/msm/assets/email-activity-summary-slides-away__drawer-from-left.png')
		url('/magick-flows/msm/assets/email-editor-slides-away___drawer-from-left.png')
		url('/magick-flows/msm/assets/email-editor-slides-out___drawer-from-left.png')
		url('/magick-flows/msm/assets/image-editor-slides-out___drawer-from-left.png');
$heightOfSlideValue: 720;
$widthOfSlideValue: 1280;
$widthOfGutterValue: 1280;