
/* Drawer styles */

.drawer {
	background: #fff;
	height: $heightOfAppSwitcher;
	left: 375px;
	overflow: auto;
	position: absolute;
	top: 0;
	transition: .4s left;
	width: 375px;
}

.drawer.slide-in {
	left: 0;
}

.drawer .content {
	background: #fff url('/images/stadium.png') no-repeat top left;
	background-size: 100% 100%;
	height: 966px;
	width: 375px;
}

.drawer.confirmation .content {
	background-color: #f7f7f9;
	background-image: url('/images/confirmation.png');
	height: 701px;
}

.drawer.confirmation .header {
	background-image: url('/images/drawer-header-3.png');
	height: 111px;
}

.drawer.confirmation .scroll-wrapper {
	top: 111px;
}

.drawer.payment .content {
	background-image: url('/images/payment.png');
	height: 724px;
}

.drawer.payment .header {
	background-image: url('/images/drawer-header-2.png');
}

.drawer.section .content {
	background-image: url('/images/section.png');
	height: 724px;
}

.drawer .header {
	background: #019cdf url('/images/drawer-header.png') no-repeat top left;
	background-size: 100% 100%;
	height: 88px;
	width: 100%;
}

.drawer .scroll-wrapper {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 88px;
}
