<style>
#body-contents-here svg{
	width: 100%;
	margin-left: 7px;
}

#Lottie-Garner {
	cursor: pointer;
}
</style>
<div id="body-contents-here"><%- include('images/slices/segments/body-contents.svg') %></div>
<script>
	let triggeredBodyContentsAnimation = false;
	const animateBodyContents = () => {
		triggeredBodyContentsAnimation = true;

		document.querySelectorAll('.fill-in, .draw-in').forEach(elm => elm.style.animationPlayState = 'running');
	};

	window.setTimeout(animateBodyContents, 200);

	document.querySelector('#Lottie-Garner').addEventListener('click', () => { navigatePage('/segments/families'); })
</script>